<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="tinymce/tinymce.min.js"></script>
    <title>Editor vuejs</title>
</head>
<body>    
    <div id="app">
      
        
        <div class="form-group">
          <vue-tinymce-inline id="content" v-model="content" toolbar="fullscreen | insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image responsivefilemanager media"></vue-tinymce-inline>
        </div>
        
       
        <div class="form-group">
          <vue-tinymce-inline class="content" v-model="content" toolbar="fullscreen | insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image responsivefilemanager media"></vue-tinymce-inline>
        </div>
        


        <h1>Exemplo de saida </h1>


        <div v-html="content"></div>
        
        <p></p>

        <div v-text="content"></div>
        
     
     </div>

   <script>
     
   Vue.component('vue-tinymce-inline', {
			  template: '<div :class="id">{{value}}</div>',
			  props : {
			    value: {
			      type: String,
			      default: ''
			    },
			    id: {
			      type: String,
			      default: 'editor'
			    },
			    toolbar: {
			      default: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | code'
			    }
			  },
			  mounted () {
			    tinymce.init({
			      selector: '.' + this.id,
			      plugins : [
			        "advlist autolink lists link image imagetools charmap print preview hr anchor pagebreak searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking save table directionality emoticons template paste textpattern responsivefilemanager"
			      ],
			      toolbar : this.toolbar,      
			      inline: true,
			      fromTextrea: true,
			      language: 'pt_BR',
			      resize : false,
			      statusbar : false,
			      branding : false,
			      min_height: 200,
			      code_dialog_height: 300,
			      init_instance_callback: (editor) => {
			        editor.on('KeyUp', (e) => {
			          this.$emit('input', editor.getContent());
			        });
			        editor.on('Change', (e) => {
			          this.$emit('input', editor.getContent());
			        });
			      },
			      external_filemanager_path:"http://d2.badiu21.com.br/prototipo/tinymce/filemanager/filemanager/",
			      filemanager_title:"Gerenciador de fichereiros" ,
			      external_plugins: { "filemanager" : "http://d2.badiu21.com.br/prototipo/tinymce/filemanager/filemanager/plugin.min.js"},
			    
			      images_upload_handler : function(blobInfo, success, failure) {
			        var xhr, formData;
			  
			        xhr = new XMLHttpRequest();
			        xhr.withCredentials = false;
			        xhr.open('POST', 'postAcceptor.php');
			  
			        xhr.onload = function() {
			          var json;
			  
			          if (xhr.status != 200) {
			            failure('HTTP Error: ' + xhr.status);
			            return;
			          }
			  
			          json = JSON.parse(xhr.responseText);
			  
			          if (!json || typeof json.file_path != 'string') {
			            failure('Invalid JSON: ' + xhr.responseText);
			            return;
			          }
			  
			          success(json.file_path);
			        };
			  
			        formData = new FormData();
			        formData.append('file', blobInfo.blob(), blobInfo.filename());
			  
			        xhr.send(formData);
			      }
			    })
			  }
			});

			var vm = new Vue({
			  el: '#app',
			  data: {
			    content: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum"
			  }
			});
				
     </script>
</body>
</html>