ul.weeks {
  padding-left: 0;
}
ul.weeks li{
  list-style: none;
  border-bottom: 1px solid rgba(19, 92, 174, 0.25);
  padding-bottom: 5px;
}

ul.weeks li a#config {
  margin-left: 18px;
}

ul.weeks li ul li{
  border: none;
}

ul.weeks li .sectionname{
  margin: 10px 0;
  color: inherit;
  font-family: inherit;
  font-weight: bold;
}

ul.weeks .hide_color *{
  color: #ddd;
}


ul.weeks li.activity > div {
    padding: 0 16px 0 0;
    position: relative;
}

ul.weeks .section .activity .mod-indent-outer {
    padding-left: 32px;
}
ul.weeks .mod-indent-outer {
    display: table;
}

ul.weeks h3.sectionname {
  font-size: 18px;
  margin: 0 0 25px 30px;
  text-rendering: optimizelegibility;
}

.section {
    color: #444 !important;
    margin: 0 !important;
    padding: 15px 0 5px !important;
}


.activity img.activityicon {
    margin-right: 6px;
    vertical-align: text-bottom;
}
img.iconlarge {
    height: 24px;
    vertical-align: middle;
    width: 24px;
    padding-top: 3px;
}


img.iconsmall {
    margin: 0;
    padding: 0.3em;
}

.section .activity {
   margin-bottom: 5px;
}

.section .dragdrop:hover {
   background-color: #f9f9f9;
   border: 1px solid rgba(19, 92, 174, 0.25);
}

.section .activity .editing_move {
    left: 8px;
    position: absolute;
    top: 4px
}

.section .activity .actions {
    position: absolute;
    right: 5px;
    top: 0;
}

.section .activity .commands {
    display: inline;
    white-space: nowrap;
}

.section-cm-edit-actions ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.section-cm-edit-actions ul.menubar li {
    display: inline-block;
    margin-left: 5px;
    margin-top: 2px;
}

.section-cm-edit-actions ul.menubar .dropdown-menu li {
  display: block;
}

.section-cm-edit-actions ul.menubar .dropdown-menu{
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 5px 5px 20px 0 #666;
  text-align: left;
  z-index: 1000;
  left: -80px;
  top:auto;
  margin-top: 2px;
}


.section-cm-edit-actions ul.menubar .dropdown-menu li{
  margin: 0;
  padding: 0;
}
.section-cm-edit-actions ul.menubar .dropdown-menu li a{
  padding: 5px 8px;
}

.modal-choice{
  position: absolute;
  z-index: 10000;
}

.modal-choice .modal-body .content{
    display: flex;
}

.modal-choice .modal-body .content .choice{
    background: rgba(0, 0, 0, 0) linear-gradient(#fafafa, #f7f7f7) repeat scroll 0 0;
    box-shadow: 0 0 6px #999984 inset;
}

.modal-choice .modal-body{
  padding: 0;
}

.modal-choice .modal-header, .modal-choice .modal-footer{
    background: rgba(0, 0, 0, 0) linear-gradient(#fafafa, #f7f7f7) repeat scroll 0 0;
}

ul.weeks .section .loading-choice{
  width: 20px;
  height: 20px;
  margin: auto;
}

ul.weeks .section .activityinstance .instancename{
  margin: 5px;
}

ul.weeks .show-bs-dropdown{
  background-color: #f9f9f9;
  border: 1px solid rgba(19, 92, 174, 0.25);
}

ul.weeks li.activity{
  border: none;
}

.modal-choice .list-group {
  margin-top: 20px;
}
