.subscribe-content .painel-title{
  margin-top: -10px;
}

.subscribe-content .panel-heading {
    padding: 20px 15px;
}

.subscribe-content .panel{
  border: 1px solid rgba(19, 92, 174, 0.25);
}

.subscribe-content .panel .list-content{
  border: 1px solid rgba(19, 92, 174, 0.25);
  height:320px
}

.subscribe-content .panel #actions-content,.subscribe-content .panel #actions-form {
  height:320px;
}

.subscribe-content .panel #remove{
  margin-bottom: -58px;
  position: relative;
}

.subscribe-content .panel #actions-form label{
  margin-top: 17px;
}


.list-user .photo, .content-list-subscribe ul li .photo{
  float: left;
  margin-right: 5px;
}

.list-user p, .content-list-subscribe ul li p{
  margin-bottom: 0px;
}

.list-user .role{
  display: inline-flex;
}

.list-user .role #role-title{
  margin: 2px 0;
}

.content-list-subscribe {
  background: #fff none repeat scroll 0 0;
  height: 215px;
  overflow: auto;
}

.content-list-subscribe ul li:hover{
  background-color: #cccccc;
}

.content-list-subscribe ul li{
  border-bottom: 1px solid rgba(19, 92, 174, 0.25);
  list-style: outside none none;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  text-decoration: none;
}
.content-list-subscribe ul li a.btn{
  margin-top: 4px;
}

.loading-inscribe{
  position:absolute;
  background:#ccc;
  z-index: 1;
  opacity: 0.6;
}

.loading-inscribe i{
  margin: 102px 233px;
}
