/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/07/2016, 10:00:11
    Author     : humberto
*/

/*
Custumizacao deacordo com profile das respostas...
*/
.ticketquestion{    
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
    margin-bottom: 10px;
}
.ticketclientresponse{    
    background-color: rgba(50, 205, 50,0.1);
    border-color: #ddd;
    color: #565656;
    margin-bottom: 10px;
}
.ticketresponsibleresponse{
    
    background-color: rgba(210,105,30,0.1);
    border-color: #ddd;
    color: #565656;
    margin-bottom: 10px;
}
.css_image{    
    width: 10px !important;
    height: 10px !important;
    margin-left: 12px;
    vertical-align: sub !important;
    margin-top: -12px;
}
/*
   fim da Custumizacao deacordo com profile das respostas...
*/

btn_footer,.footer_form_line{    
   border-top: 1px solid rgba(19, 92, 174, 0.1);
   margin-top:10px;    
}

.colapse{   
    padding: 5px;
    border: 1px solid rgba(19, 92, 174, 0.1);    
}

.btn_icon{    
 text-align: right;
 margin-right: 5px;   
}

footer_title{    
    margin-top: 5px;
    margin-bottom: 5px;    
}

.firsttexte,.secundtexte,.lasttext{    
    border-bottom: 1px solid rgba(19, 92, 174, 0.1);     
}

.response{
    overflow-y: auto;
    height: auto;
    font-size: 12px;
    padding: 5px;     
    margin-bottom: 10px;
}

.descrition{
    
    font-weight: bold;  
    
}
.icons{
    
    margin-top: 10px;
}
.headerleft{    
    display: inline-block;
    float: left;
    margin-left: 10px;
}
.headerright{    
    text-align:right;
    margin-right: 10px;
}
.aprovation{    
    text-align: right;
    margin-right: 15px;
    
}
.aprovation_texte{
    
   text-align: left; 
   background: #f8f8f8;
   border-radius: 5px;
   padding: 1px; 
}

.colapse, .ui-accordion-content, .ui-corner-bottom, .ui-helper-reset, .ui-widget-content{
    
    height: auto !important;
    
}