h3.title {font-size: 20px;}
.master-title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.create-new-btn {margin-top: -6px;}
.search-form {
  margin: 0px 0;
  position: relative;
}
.search-form .form-group.first {margin-top: 15px}
.table {
  border-radius: 2px !important;
  border: 1px solid rgba(19, 92, 174, 0.1)
}
.table th, .table td {border-color: rgba(19, 92, 174, 0.1) !important}
.table th {color: #337ab7}
.table .icon {margin-right: 5px;}
.table .icon:hover .glyphicon {color: #337ab7 !important}

.btn-export-excel {
  background: url(../images/excel-icon.png) no-repeat;
  border: 0;
  margin-top: 18px;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
}

.action-part {margin: 20px 0}
.report-container h3.title {margin-right: 20px;}

.table-window {overflow: auto; width: 100%; margin-bottom: 0px;}
.report-table {
  width: 1000px
}
