{# src/Badiu/Ams/BadiuAmsOfferBundle/views/Discipline/calendar.html.twig #}

 <!-- var badiuCalendarList ="http://fabrica.badiu.com.br/~colaborador8/layout/badiusf/testecalendar/events.php"; -->
<!-- var badiuCalendarList ="http://fabrica.badiu.com.br/~colaborador7/badiunet/web/app_dev.php/system/service/process?_function=dashboard&_layout=calendar&_service=badiu.system.core.functionality.report.service&bkey=badiu.ams.offer.disciplinecalendarevents&entity1=1&parentid=59"; -->
<script type="text/javascript">
    
var badiuCalendarList= "{{ url('badiu.system.core.service.process',{'_service': 'badiu.system.core.functionality.report.service','_function': 'dashboard','bkey': 'badiu.ams.offer.disciplinecalendarevents','parentid': app.request.get('parentid'),'_layout': 'calendar'}) }}";

var badiuCalendarAdd ="http://fabrica.badiu.com.br/~colaborador8/layout/badiusf/testecalendar/add_events.php";

var badiuCalendarUpdate ="http://fabrica.badiu.com.br/~colaborador8/layout/badiusf/testecalendar/update_events.php";

var badiuCalendarDelete ="http://fabrica.badiu.com.br/~colaborador8/layout/badiusf/testecalendar/delete_event.php";

badiuCalendarList=badiuCalendarList.split("amp;").join('');
//alert(badiuCalendarList);
</script>

<script src="{{ asset('bundles/badiuthemebase/components/calendar/fullcalendar/custom/js/badiu_fullcalendar-lib.js') }}"></script>

        <div id='loading'>carregando...</div>

        <div id='calendar' class="container-fluid"></div>
