{# src/Badiu/Ams/OfferBundle/Resources/views/Discipline/form_role.html.twig #}

<script> 
	   
    $(function(){

        $("select#badiu_system_core_form_type_sserviceid").change(function(){
             var optionValue = $(this).val();
			var surl="{{ path('badiu.moodle.service.courselist.index',{'parentid': '_v1_', '_serviceid': '_v1_','_datasource': 'servicesql'}) }}";
			surl=surl.split("_v1_").join(optionValue);
			surl=surl.split("amp;").join('');
			surl="{{app.request.getSchemeAndHttpHost()}}"+surl;
		
			   $.getJSON(surl, function(j){
                    var options = '';
					var i=0;
					$.each(j[1], function (key, value) {
						if(i==0){
                            options += '<option value="">---</option>';
                            options += '<option value="' + value.id+ '">' +value.name + '</option>';
                        }else{
                            options += '<option value="' + value.id + '">' + value.name + '</option>';
                        }
						i++;
					});
					
                    $("#badiu_system_core_form_type_idnumber").html(options);
                  
                })

          

        })
	
	 $(document).ready(function() {
		   var moodleid = $("#badiu_system_core_form_type_sserviceid").val();
		   if( !moodleid >0) return null;
		   var courseid ={{page.data['badiu_form1_data'].idnumber}}+"";
           var surl="{{ path('badiu.moodle.service.courselist.index',{'parentid': '_v1_', '_serviceid': '_v1_','_datasource': 'servicesql'}) }}";
			surl=surl.split("_v1_").join(moodleid);
			surl=surl.split("amp;").join('');
			surl="{{app.request.getSchemeAndHttpHost()}}"+surl;
			//alert(courseid); 
               $.getJSON(surl, function(j){
                    var options = '';
					var i=0;
					var selected= " selected ";
					$.each(j[1], function (key, value) {
						if(value.id==courseid){selected= " selected ";}
						else {selected= " ";}
						if(i==0){
                            options += '<option value="">---</option>';
                            options += '<option value="' + value.id+ '" '+selected+' >' +value.name + '</option>';
                        }else{
                            options += '<option value="' + value.id + '" '+selected+' >' + value.name + '</option>';
                        }
						i++;
					});
					
                    $("#badiu_system_core_form_type_idnumber").html(options);
                    
                })

          

        })
    })

</script> 
   
