{# src/Badiu/Ams/BadiuAmsOfferBundle/views/Discipline/gradereport.html.twig #}

<script>

   badiusysbaseapp.controller("badiubasedefaulttableController", function($scope,$http,$filter) {
       {{badiu_report_angulardata(page.data['badiu_table1'])|raw}}

          $scope.emptyvalue = " ";

         $scope.updateTodo = function(value) {

            console.log("atualizando data",value);

          };

          //fucao cancelar edicao do ip
          $scope.cancelEdit = function() {
            console.log("Atualizacao foi cancelado");
          };

          //funcao para criar um novo valor caso ka existe
            $scope.CreateNew = function() {
            console.log("Novo valor  foi adicionado");
          };
          
          $scope.update = function (index) {
          
          };
   });

     badiusysbaseapp.directive("inlineEdit", function($timeout) {
                                  return {
                                    scope: {
                                      model: "=inlineEdit",
                                      handleSave: "&onSave",
                                      handleCancel: "&onCancel"
                                    },
                                    link: function(scope, elm, attr) {
                                      var previousValue;

                                      scope.edit = function() {
                                        scope.editMode = true;
                                        previousValue = scope.model;

                                        $timeout(function() {
                                          elm.find("input")[0].focus();
                                        }, 0, false);
                                      };
                                      scope.save = function() {
                                        scope.editMode = false;
                                        scope.handleSave({value: scope.model});
                                      };
                                      scope.cancel = function() {
                                        scope.editMode = false;
                                        scope.model = previousValue;
                                        scope.handleCancel({value: scope.model});
                                      };
                                    },
                                            template: '<div><input class="col-md-6" type="text" on-enter="save()" on-esc="cancel()" ng-model="model" ng-show="editMode"><button ng-click="cancel()" ng-show="editMode"style="margin-left:5px;">cancelar</button><button ng-click="save()" ng-show="editMode"style="margin-left:5px;">salvar</button><span ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = false"><span ng-hide="editMode" ng-click="edit()">  {{'{{model}}'}}</span><a ng-show="showEdit" ng-click="edit()"style="margin-left:5px;">editar</a></span></div>'
                                  };
                            });

</script>


<div   ng-controller="badiubasedefaulttableController" class="report-container mb40">
 <div class="panel panel-default">
 <div class="well">
 <div class="row-fluid">
  <div class="col-xs-12">
   <h5 class="title pull-left">Resultado: {{badiu_report_paginginfo(page.data['badiu_table1'])|raw }}</h5>
     <a href="{{badiu_report_urlexport()}}" class="pull-left btn-export-excel">Exportar</a>
</div>
 </div>
<div class="table-window">
<table class="table table-condensed table-hover  bootgrid-table">
<thead>
<tr ng-repeat = "hrow in badiubasedefaulttable "  ng-if="$index == 0" >
<td ng-repeat = "hitem in hrow track by $index"><b><div ng-bind-html="hitem"></div></b></td>
</tr>
</thead>
<tbody>
   <tr ng-repeat = "row in badiubasedefaulttable "  ng-if="$index != 0">
        <td ng-repeat = "item in row track by $index">

            <div ng-if="badiubasedefaulttablehead[$index] !='grade'" ng-bind-html="item"></div>

            <div   ng-if="badiubasedefaulttablehead[$index] =='grade'">
                <div ng-if="!row['grade']" ng-click="row['grade'] = item">{{'{{item}}'}}</div>
                    <div ng-if="row['grade']">
                        <form ng-submit="update(row['grade'])">
                            <input type="text" ng-model="row['grade']">
                            <input type="submit" value="Salvar">
                        </form>
                    </div>
                
            </div> 

            

       </td>
    </tr>
</tbody>
</table>
</div>
{{ badiu_report_paging(page.data['badiu_table1'])|raw }}

</div>
</div>
</div>
