{# src/Badiu/Ams/BadiuAmsOfferBundle/views/Discipline/mdlcpanel.html.twig #}

 {{ dump( page.data['badiu_list_data_rows'][1]) }}


 
<div class="course-content col-xs-12" id="">
 

 <ul class="weeks" id="">
     
   
        

        <li aria-label="topico1" role="region" class="section main clearfix" id="section-course">
      <div class="content" id="content">
         
          <h3 class="sectionname accesshide">Course</h3> 
            <div class="colapse">
                           <table class="table">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Disciplina</th>
                                <th>Status</th>
                                <th>Obrigatorio</th>
                                <th>Data de inicio</th>
                                <th>Data de encerramento</th>
                              </tr>
                            </thead>
                            <tbody>
  
                              <tr>
                                <td>xxx</td>
                                <td>xxx</td>
                                <td>xxx</td>
                                <td>xxxx</td>
                                <td>xxx</td>
                                <td>xxx</td>
                              </tr>
          
                        </tbody>
                          </table>
                        </div>
                        <br />
                         <div class="row">
                            <a href="#" class=" pull-right"><i class="fa fa-plus"></i>Adicionar curso</a>
                        </div>
                       
                       </div>
                      </li>
           
  
    
                      
                      
      <li aria-label="topico1" role="region" class="section main clearfix" id="section-chort">
      <div class="content" id="content">
         
          <h3 class="sectionname accesshide">Grupo cohort</h3> 
            <div class="colapse">
                           <table class="table">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Disciplina</th>
                                <th>Status</th>
                                <th>Obrigatorio</th>
                                <th>Data de inicio</th>
                                <th>Data de encerramento</th>
                              </tr>
                            </thead>
                            <tbody>
  
                              <tr>
                                <td>xxx</td>
                                <td>xxx</td>
                                <td>xxx</td>
                                <td>xxxx</td>
                                <td>xxx</td>
                                <td>xxx</td>
                              </tr>
          
                        </tbody>
                          </table>
                        </div>
                        <br />
                         <div class="row">
                            <a href="#" class=" pull-right"><i class="fa fa-plus"></i>Adicionar grupo cohort</a>
                        </div>
                       
                       </div>
                      </li>
  </ul>
</div>


