{# src/Badiu/Ams/CourseBundle/Resources/viewsOffer/sybc_moodle.html.twig #}

{% include 'BadiuAmsCoreBundle:Lms:sync_moodle.html.twig' %}

<script> 
//https://github.com/biggora/bootstrap-ajax-typeahead
//https://swiftype.com/documentation/tutorials/typeahead-js-part1
autoComplete();
mdlContext();
var lmscontextidparentvalue;
var lmscontextidparentkey="id";

function getServiceUrl(query){
    var moodleid = $("#badiu_system_core_form_type_sserviceid").val();
    
    var surl="{{ path('badiu.system.core.service.process')}}";
    var url="{{app.request.getSchemeAndHttpHost()}}"+surl;
    
    var name=query;
    var param="?_service=badiu.system.core.functionality.search&_function=searchWebService";
   
    if(empty(name)){name="";}
      changeParamValue();  // change param lmscontextidparentvalue
     param=param+"&_serviceid="+moodleid;
     param=param+"&key="+getKeyPararmContext();
     param=param+"&"+lmscontextidparentkey+"="+lmscontextidparentvalue;
     param=param+"&name="+name;
    url=url+param;
    //console.log(url); 
    return url;
}
 
 function getParam(){
    
     var key="course.category.getlisttree";
    // var id=getIdContextParent();
    
     var param=""
      param=param+"&key="+key;
   //   param=param+"&id="+id;
     return param;
    }
    function changeParamValue(){
    
      $('#badiu_system_core_form_type_lmscontextid_field2').keyup(function() {
        lmscontextidparentvalue = $("#badiu_system_core_form_type_lmscontextidparent_field2").val();
       if(!empty(lmscontextidparentvalue)) {lmscontextidparentvalue=parseInt(lmscontextidparentvalue);}
        if(!empty(lmscontextidparentvalue)){lmscontextidparentvalue="";}
      });
   }
  
function mdlContext(){
     //on load
  $(document).ready(function() {
     var moodleid = $("#badiu_system_core_form_type_sserviceid").val();
            if(moodleid > 0){
            $("#badiu_system_core_form_type_lmscontextid").attr('disabled',false);
          }else{
             $("#badiu_system_core_form_type_lmscontextid").attr('disabled',true);
           }
     
    });
    //on change sserviceid
      $('#badiu_system_core_form_type_sserviceid').change(function() {
         var moodleid = $("#badiu_system_core_form_type_sserviceid").val();
         if(moodleid > 0){
             $("#badiu_system_core_form_type_lmscontextid").attr('disabled',false);
          
          }else{
              $("#badiu_system_core_form_type_lmscontextid").attr('disabled',true);
        }
      
      });
     
    //keep contextparent in coursecategory
     $("#badiu_system_core_form_type_lmscontextidparent_field1").attr('disabled',true);
    
      //on edit
      $(document).ready(function() {
     var lmssynctype = $("#badiu_system_core_form_type_lmssynctype").val();
     var lmscontextid = $("#badiu_system_core_form_type_lmscontextid_field2").val();
     var route ="{{app.request.get('_route') }}";
     
        if(lmssynctype=='replicationdatainlms' && route=='badiu.ams.course.offer.edit' && !empty(lmscontextid)){
            $("#badiu_system_core_form_type_lmscontextid_field2").attr('disabled',true);
        }
      else if(lmssynctype=='syncwithcreateddatainlms' && route=='badiu.ams.course.offer.edit' && !empty(lmscontextid)){
            $("#badiu_system_core_form_type_lmssynctype").attr('disabled',true);
        }
    });
  
        //on change lmssynctype
      $('#badiu_system_core_form_type_lmssynctype').change(function() {
        var lmscontextid = $("#badiu_system_core_form_type_lmscontextid_field2").val();
         var lmssynctype = $("#badiu_system_core_form_type_lmssynctype").val();
         var route ="{{app.request.get('_route') }}";
         
        //if(lmssynctype=='replicationdatainlms' && route=='badiu.ams.course.offer.edit' && !empty(lmscontextid)){
        if(lmssynctype=='replicationdatainlms'){
             $("#badiu_system_core_form_type_lmscontextid_field2").attr('disabled',true);
             
        }else if(lmssynctype=='syncwithcreateddatainlms'){
            if(route=='badiu.ams.course.offer.edit'  && !empty(lmscontextid)){
                $("#badiu_system_core_form_type_lmscontextid_field1").attr('disabled',true);
                $("#badiu_system_core_form_type_lmscontextid_field2").attr('disabled',true);
            }else{
                 $("#badiu_system_core_form_type_lmscontextid_field1").attr('disabled',false);
                 $("#badiu_system_core_form_type_lmscontextid_field2").attr('disabled',false);
             }
             } 
      
      });
    }

function  getKeyPararmContextParent(){
     var key="";
     
     $(document).ready(function() {
            var lmsscontextparent = $("#badiu_system_core_form_type_lmscontextidparent_field1").val();
            if(lmsscontextparent=='coursecategory'){key="course.category.getlisttree";}
            else if(lmsscontextparent=='course'){key="course.course.getflist";}
      });
      $('#badiu_system_core_form_type_sserviceid').change(function() {
         var lmsscontextparent = $("#badiu_system_core_form_type_lmscontextid_field1").val();
            if(lmsscontextparent=='coursecategory'){key="course.category.getlisttree";}
            else if(lmsscontextparent=='course'){key="course.course.getflist";}
      });
   
     return key;
    }
    
function getKeyPararmContext(){
    var key="course.category.getlisttree";
    
     $(document).ready(function() {
            var lmsscontexttype = $("#badiu_system_core_form_type_lmscontextid_field1").val();
            if(lmsscontexttype=='coursecategory'){key="course.category.getlisttree";lmscontextidparentkey="id";}
            else if(lmsscontexttype=='course'){key="course.course.getflist"; lmscontextidparentkey="categoryid";}
      });
      $('#badiu_system_core_form_type_sserviceid').change(function() {
         var lmsscontexttype = $("#badiu_system_core_form_type_lmscontextid_field1").val();
            if(lmsscontexttype=='coursecategory'){key="course.category.getlisttree";lmscontextidparentkey="id";}
            else if(lmsscontexttype=='course'){key="course.course.getflist";lmscontextidparentkey="categoryid";}
      });
   
    return key;
}


</script> 
   
