{# src/Badiu/Ams/CourseBundle/Resources/viewsOffer/sybc_moodle.html.twig #}

{% include 'BadiuAmsCoreBundle:Lms:sync_moodle.html.twig' %}

<script> 

//alert('xxx1');
autoComplete();
mdlContext();
 //var eclass= $("#badiu_system_core_form_type_lmscontextid_field2").attr("class");

 
 //alert(eclass);
 
//$(this).attr("class");

function getServiceUrl(query){
    var moodleid = $("#badiu_system_core_form_type_sserviceid").val();
    
    var surl="{{ path('badiu.system.core.service.process')}}";
    var url="{{app.request.getSchemeAndHttpHost()}}"+surl;
    var key="course.category.getlisttree";
    var name=query;
    var param="?_service=badiu.system.core.functionality.search&_function=searchWebService";
    var id=getIdContextParent();
    if(empty(name)){name="";}
        
     param=param+"&_serviceid="+moodleid;
     param=param+"&key="+key;
     param=param+"&id="+id;
     param=param+"&name="+name;
    url=url+param;
    
    return url;
}
 
 function getParam(){
    
     var key="course.category.getlisttree";
     var id=getIdContextParent();
    
     var param=""
      param=param+"&key="+key;
      param=param+"&id="+id;
     return param;
    }
   
  function getIdContextParent(){
     var id="";
     return id;
    }
function mdlContext(){
     //on load
  $(document).ready(function() {
     var moodleid = $("#badiu_system_core_form_type_sserviceid").val();
            if(moodleid > 0){
            $("#badiu_system_core_form_type_lmscontextid").attr('disabled',false);
          }else{
             $("#badiu_system_core_form_type_lmscontextid").attr('disabled',true);
           }
     
    });
    //on change sserviceid
      $('#badiu_system_core_form_type_sserviceid').change(function() {
           //var cll= $(this).attr("class");
         //  alert(cll);
         var moodleid = $("#badiu_system_core_form_type_sserviceid").val();
         if(moodleid > 0){
             $("#badiu_system_core_form_type_lmscontextid").attr('disabled',false);
          
          }else{
              $("#badiu_system_core_form_type_lmscontextid").attr('disabled',true);
        }
      
      });
      
      //on edit
      $(document).ready(function() {
     var lmssynctype = $("#badiu_system_core_form_type_lmssynctype").val();
     var lmscontextid = $("#badiu_system_core_form_type_lmscontextid").val();
     var route ="{{app.request.get('_route') }}";
     
        if(lmssynctype=='replicationdatainlms' && route=='badiu.ams.course.offer.edit' && !empty(lmscontextid)){
            $("#badiu_system_core_form_type_lmscontextid").attr('disabled',true);
        }
      else if(lmssynctype=='syncwithcreateddatainlms' && route=='badiu.ams.course.offer.edit' && !empty(lmscontextid)){
            $("#badiu_system_core_form_type_lmssynctype").attr('disabled',true);
        }
    });
  
        //on change lmssynctype
      $('#badiu_system_core_form_type_lmssynctype').change(function() {
         var lmscontextid = $("#badiu_system_core_form_type_lmscontextid").val();
         var lmssynctype = $("#badiu_system_core_form_type_lmssynctype").val();
         var route ="{{app.request.get('_route') }}";
         
        if(lmssynctype=='replicationdatainlms' && route=='badiu.ams.course.offer.edit' && !empty(lmscontextid)){
            $("#badiu_system_core_form_type_lmscontextid").attr('disabled',true);
        }else if(lmssynctype=='syncwithcreateddatainlms'  && route=='badiu.ams.course.offer.edit'){
           $("#badiu_system_core_form_type_lmscontextid").attr('disabled',false);
        }
      
      });
    }



function autoComplete(){

$('.badiu-moodle-autocomplete').typeahead({
  hint: true,
  highlight: true,
  minLength: 3
},
{
  limit: 12,
  async: true,
  display: function(item){ return item.id+' - '+item.name},
  showHintOnFocus : true,
  templates: {
            notFound: '<div class="tt-suggestion empty-message">Nenhum resultado</div>',
            pending: '<div class="tt-suggestion empty-message">Carregando</div>'
        },
  source: function (query, processSync, processAsync) {
      var keyquery="name";
      var otherparam=getParam();
      var  surl=getServiceUrl(query,keyquery,otherparam); 
      
      console.log(surl);
       processSync([]);
    return $.ajax({
      url: surl, 
      type: 'GET',
      dataType: 'json',
      success: function (result) {
        // in this example, json is simply an array of strings
        console.log(result);
        return processAsync(result.message);
      }
    });
  }
});

}

function getServiceUrl(query,keyquery,otherparam){
    var moodleid = $("#badiu_system_core_form_type_sserviceid").val();
    if(empty(query)){query="";}
    if(empty(otherparam)){otherparamy="";}
    
    var surl="{{ path('badiu.system.core.service.process')}}";
    var url="{{app.request.getSchemeAndHttpHost()}}"+surl;
    var param="?_service=badiu.system.core.functionality.search&_function=searchWebService";
  
    param=param+"&_serviceid="+moodleid;
    param=param+"&"+keyquery+"="+query;
    param=param+"&"+otherparam;
    url=url+param;
    var cll= $(this).attr("class");
    alert(cll);
    return url;
}
 
function empty(str)
{
    if (typeof str == 'undefined' || !str || str.length === 0 || str === "" || !/[^\s]/.test(str) || /^\s*$/.test(str) || str.replace(/\s/g,"") === "")
    {
        return true;
    }
    else
    {
        return false;
    }
}

function getIdFromAutocompleteText(text){
    
    var p = text.split("-");
    var t=p.length;
    var v="";
    if(t>0){
        v=p[0];
        v=v.trim();
    }
   
    return v;
}
    
   function gettext(){
       $(document).keyup((function() {
            var cll= $(this).attr("class");
           alert(cll);
        });     
   } 
</script> 
   
