{# src/Badiu/Ams/BadiuAmsOfferBundle/views/Class/activities.html.twig #}

<!-- {{ dump( page.data['badiu_list_data_rows'][1]) }}-->



<div class="course-content col-xs-12" id="">
 
      <div class="row">
                            <a href="{{ url('badiu.ems.offer.period.add',{'parentid': app.request.get('parentid'),'_urlreferer': app.request.uri })}}" class=" pull-right"><i class="fa fa-plus"></i>Adicionar periodo</a>
                        </div>
 <ul class="weeks" id="">
     
   {% if page.data['badiu_list_data_rows'][1] is defined %}
       {% set currentPeriod = 0 %}
       {% set newRowMuster = 1 %}
         {% set lastRowMuster = 0 %}
       {% set count = 0 %}
        {% set countNext = 1 %}
         
       {% for item in page.data['badiu_list_data_rows'][1] %}  
            
          
            {% if count == 0 %} 
                {% set currentPeriod =item['periodid'] %}
                
                <!--check next-->
                {% if page.data['badiu_list_data_rows'][1][countNext] is defined %}
                        {% set nextItem = page.data['badiu_list_data_rows'][1][countNext] %}
                        {% if currentPeriod != nextItem['periodid']  %}
                           
                            {% set lastRowMuster = 1 %}
                        {% else %}
                            {% set lastRowMuster = 0 %}
                        {% endif %}
                {% else %}
                    {% set lastRowMuster = 1 %}
                {% endif %}
                
           {% else %}
               
                 {% if  currentPeriod == item['periodid'] %} 
                     {% set newRowMuster = 0 %}
                {% else %}
                        {% set currentPeriod =item['periodid'] %}
                        {% set newRowMuster = 1 %}
                {% endif %}
                
                 <!--check next-->
                 {% if page.data['badiu_list_data_rows'][1][countNext] is defined %}
                        {% set nextItem = page.data['badiu_list_data_rows'][1][countNext] %}
                        {% if currentPeriod != nextItem['periodid']  %}
                            {% set lastRowMuster = 1 %}
                        {% else %}
                            {% set lastRowMuster = 0 %}
                        {% endif %}
                 {% else %}
                    {% set lastRowMuster = 1 %}
               
                 {% endif %}
                
       {% endif %}
     {% if newRowMuster == 1 %} 
        

        <li aria-label="topico1" role="region" class="section main clearfix" id="section-{{currentPeriod}}">
      <div class="content" id="content">
         
          <h3 class="sectionname accesshide">{{item['dperiod']}} 
          
               {% if item['ptimestart'] is not empty %} 
                       {{item['ptimestart']|date('d/m/Y H:i')}}
                 {% endif %} 
          
                   {% if item['ptimeend'] is not empty %} 
                     -   {{item['ptimeend']|date('d/m/Y H:i')}}
                 {% endif %} 
          </h3> 
            <div class="colapse">
                           <table class="table">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Disciplina</th>
                                <th>Status</th>
                                <th>Inicio</th>
                                <th>Termino</th>
                              </tr>
                            </thead>
                            <tbody>
   {% endif %} <!--  if newRowMuster == 1 -->
            
                              <tr>
                                <td>{{item['id'] }}</td>
                                <td>{{item['discipline']}}</td>
                                <td>{{item['status']}}</td>
                              
                                <td>
                                    {% if item['timestart'] is not empty %} 
                                        {{item['timestart']|date('H:i')}}
                                    
                                    {% endif %} 
                                
                                </td>
                                <td>
                                     {% if item['timeend'] is not empty %} 
                                        {{item['timeend']|date('H:i')}}
                                    
                                    {% endif %} 
                                    
                                </td>
                              </tr>
            {% if lastRowMuster == 1 %} 
                        </tbody>
                          </table>
                        </div>
                        <br />
                         <div class="row">
                            <a href="{{ url('badiu.ems.offer.discipline.add',{'parentid': app.request.get('parentid'),'_urlreferer': app.request.uri })}}" class=" pull-right"><i class="fa fa-plus"></i>Adicionar atividade</a>
                        </div>
                       
                       </div>
                      </li>
             {% endif %}
       
       {% set count = count + 1 %}
       {% set countNext = countNext + 1 %}
     {% endfor %}
    {% endif %}
    
  </ul>
</div>


<!-- modal choices -->