{% extends 'BadiuSystemComponentBundle:layout:base.html.twig' %}

{% block stylesheets %}
    <!-- style sheets for  data filter -->
    <link rel="stylesheet" href="{{ asset('bundles/badiusystemcomponent/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/badiusystemcomponent/css/bootstrap-datetimepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/badiusystemcomponent/css/date.css') }}">
    <!--  end style sheets for  data filter -->

    <!-- css for generic filter text -->
   <link rel="stylesheet" href="{{ asset('bundles/badiusystemcomponent/css/bootstrap-select.css') }}">

{% endblock %}

{% block body %}


{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}

    <!-- js  for  data filter -->
    <script src="{{ asset('bundles/badiusystemcomponent/js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('bundles/badiusystemcomponent/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/badiusystemcomponent/js/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('bundles/badiusystemcomponent/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/badiusystemcomponent/js/date.js') }}"></script>
   <!-- end js for  data filter -->

    <!-- js for generic filter text  -->
  <script src="{{ asset('bundles/badiusystemcomponent/js/bootstrap-select.js') }}"></script>

{% endblock %}
