{# src/Badiu/Ams/DisciplineBundle/Resources/views/Offer/form_role.html.twig #}

<script> 
	   
    $(function(){

        $("select#badiu_system_core_form_type_sserviceid").change(function(){
             var optionValue = $(this).val();
			var surl="{{ path('badiu.moodle.service.courselist.index',{'parentid': '_v1_', '_serviceid': '_v1_','_datasource': 'servicesql'}) }}";
			surl=surl.split("_v1_").join(optionValue);
			surl=surl.split("amp;").join('');
			surl="{{app.request.getSchemeAndHttpHost()}}"+surl;
		
			   $.getJSON(surl, function(j){
                    var options = '';
					var i=0;
					$.each(j[1], function (key, value) {
						if(i==0){
                            options += '<option value="">---</option>';
                            options += '<option value="' + value.id+ '">' +value.name + '</option>';
                        }else{
                            options += '<option value="' + value.id + '">' + value.name + '</option>';
                        }
						i++;
					});
					
                    $("#badiu_system_core_form_type_idnumberlms").html(options);
                  
                })

          

        })
	
    })

</script> 
   
