
/*
 Pra dispositivos que tem uma largura mínima de 768 pixels. Tablets, por exemplo.
*/
@media (max-width: 960px) {


    .user-menu{

        width:176px;
    }


}



#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}
#wrapper-login {
    padding-left: 0px;
    transition: all 0.4s ease 0s;
}
#sidebar-wrapper {

    border: 1px solid #eee;
    border-radius: 5px;
    margin-left: -250px;
    top: 98px;
    left: 250px;
    width: 250px;
    background: #fff;
    position: fixed;
    height: 100%;
    overflow-y: auto;
   /* z-index: 1000;*/
    transition: all 0.4s ease 0s;
}

#wrapper.active {
    padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
    left: 0;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 100px;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
    padding-left: 60px;
}

.sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    text-decoration: none;
    float: left;
    color: #000;
    padding-right: 15px;
}

@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }

    #menu-toggle {
        display: inline-block;
    }

}

#header{
    height: 76px;
    padding: 12px;
    border-top: 1px solid rgba(19, 92, 174, 0.5);
    border-bottom: 1px solid rgba(19, 92, 174, 0.5);
    box-shadow: 2px 2px 6px 0 rgba(112, 112, 115, 0.5);
    z-index: 999;
	background-color: white;
}

.logo-bar{

    padding-right: 10px;
    border-right: solid 1px #bbb;
}


.glyphicon {

    top: 7px;
}

.user-menu{

    text-align: right;
    position: relative;
    top: 12px;
}

#spy{

    width: 237px;
    top: 14px;
    position: relative;
    padding-left: 5px
}


#footer {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid rgba(19, 92, 174, 0.5);
    border-top: 1px solid rgba(19, 92, 174, 0.5);
    box-shadow: -2px -2px 6px 0 rgba(112, 112, 115, 0.5);
    max-height: 43px;
    bottom: 0;
    position: fixed;
    width: 100%;
	margin-top: 10px;
    z-index:  10;
}

#footer #copyright p {
    color: #878787;
    font-size: 8pt;
    margin-top: 10px;
    text-align: center;

}

/* admin atttendance status*/
.attendance-status-undefined{
	color: #dee2e6;	
}
.attendance-status-present{
	color: #16af39eb;
}
.attendance-status-absent{
	color: #dc3545;
}
.attendance-status-late{
	color: #ffc107ed;;	
}
.attendance-status-justified{
	color: #0776ffeb;		
}
