
#badiu-report-search-firtrow-elements {
    display: inline;
}
 
 #badiu-report-search-firtrow-elements .form-control{
    display: inline;
	width: 80%;
}
 
 #badiu-report-search-othersrows fieldset {
		#border:none; 
	
}
 #badiu-report-search-othersrows legend {
		 border-bottom: 1px groove;
	
}
 #badiu-report-search .card {
		border: none;
	
} 
 
  
#badiu-report-result .card {
		border: none;
	
} 
    