{# src/Badiu/Ams/BadiuAmsOfferBundle/views/Class/activities.html.twig #}
<script src="{{ asset('bundles/badiuthemebase/js/angular.min.js') }}"></script>
<script data-require="ui-bootstrap@*" data-semver="0.12.1" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
<script> 
    var appActivities = angular.module("activitiesApp", ['ui.bootstrap']).controller("activitiesController", activitiesCtrl);
    activitiesCtrl.$inject = ['$modal','$http'];
    function activitiesCtrl($modal,$http) {
        // appActivities.controller("activitiesController", function ($scope, $http, $filter, $modal) {
        var badiufactory = this;
        badiufactory.topic = {};
        
        badiufactory.activity = {};
         badiufactory.wsdata = {};
        badiufactory.wsdata.url = "{{app.request.getSchemeAndHttpHost()}}{{ path('badiu.system.core.service.process')}}";
        badiufactory.wsdata.parentid = "{{app.request.get('parentid')}}";
        //badiufactory.wsdata.formconfig='';
        badiufactory.file="{{app.request.getSchemeAndHttpHost()}}{{ path('badiu.system.core.general.content',{'file': 'BadiuThemeBaseBundle:Form:form_addmodalnagular.html.twig'})}}";
        //badiufactory.file="http://fabrica.badiu.com.br/~colaborador7/badiunet/web/app_dev.php/system/general/content/BadiuThemeBaseBundle:Form:form_addmodalnagular.html.twig";
        
        //badiufactory.serviceurl= getServiceFormUrl(badiufactory.wsdata.url);
        topicFormAdd(badiufactory,$http);
        topicSearch(badiufactory,$http);
        activitySearch(badiufactory,$http);
        badiufactory.openFormAddModal = openFormAddModal;
        
        badiufactory.people = [
            'Humberto',
            'Edmilsom',
            'Lino',
            'Humberto Batalha lopes'
        ];
 
       
        function openFormAddModal() {
            var formaddconfig=badiufactory.topic.formaddconfig;
            $modal.open({
                templateUrl:  badiufactory.file,
                controller: ['$modalInstance','formaddconfig',openFormAddModalController],
                controllerAs: 'badiuformfactory',
                resolve: {
                       formaddconfig: function() { return formaddconfig; }
                    }
            });
        }
        
        
    }


function openFormAddModalController($modalInstance,formaddconfig) {
  var badiuformfactory = this;
 console.log($modalInstance);
  badiuformfactory.person ="Kiki zz";
  badiuformfactory.person1 = "Lino zz";
  badiuformfactory.formaddconfig=formaddconfig;
  
  badiuformfactory.deletePerson = deletePerson;

  function deletePerson() {
   // people.splice(people.indexOf(person), 1);
    $modalInstance.close();
  }
}

function DeleteModalCtrl($modalInstance) {
  var badiuformfactory = this;

  badiuformfactory.person ="Kiki";
  badiuformfactory.person1 = "Lino";
  badiuformfactory.deletePerson = deletePerson;

  function deletePerson() {
   // people.splice(people.indexOf(person), 1);
    $modalInstance.close();
  }
}

function DeleteModalCtrl($modalInstance) {
  var badiuformfactory = this;

  badiuformfactory.person ="Kiki";
  badiuformfactory.person1 = "Lino";
  badiuformfactory.deletePerson = deletePerson;

  function deletePerson() {
   // people.splice(people.indexOf(person), 1);
    $modalInstance.close();
  }
}


function getmodal(){


}


function topicFormAdd(badiufactory,$http){
   badiufactory.topic.urlformadd=badiufactory.wsdata.url+"?key=badiu.ams.offer.topic.add&_externalclinet=1&_service=badiu.system.core.lib.config.factory&parentid="+badiufactory.wsdata.parentid+"&_function=getFormConfigDefault&filter=0";
   $http.get(badiufactory.topic.urlformadd).then(function(response) {
             if(response.data.status=="accept"){
                    badiufactory.topic.formaddconfig = response.data.message; 
             }  
   }); 
 } 

function topicSearch(badiufactory,$http){
   badiufactory.topic.urlsearch=badiufactory.wsdata.url+"?_service=badiu.system.core.functionality.report.service&key=badiu.ams.offer.topic.index&parentid="+badiufactory.wsdata.parentid+"&_showhead=0&_infopaging=0&_format=json&_layout=indexCrud";
   $http.get(badiufactory.topic.urlsearch).then(function(response) {
             if(response.data.status=="accept"){
                    badiufactory.topic.list = response.data.message; 
             }  
   });
 } 

function activitySearch(badiufactory,$http){
   badiufactory.activity.urlsearch=badiufactory.wsdata.url+"?_service=badiu.system.core.functionality.report.service&key=badiu.ams.offer.activity.index&parentid="+badiufactory.wsdata.parentid+"&_showhead=0&_infopaging=0&_format=json&_layout=indexCrud";
   $http.get(badiufactory.activity.urlsearch).then(function(response) {
             if(response.data.status=="accept"){
                    badiufactory.activity.list = response.data.message; 
                   
             }  
   });
 }
 
 /*
 function addActivityToTopic(badiufactory){
    console.log('xxxxxxx3');
   
     angular.forEach(badiufactory.topic.list, function(value, key){
         badiufactory.topic.currentid=value.id;
         console.log("topicid: "+value.id);
         badiufactory.activitylistbytopic={};
          angular.forEach(badiufactory.activity.list, function(value, key){
              if(badiufactory.topic.currentid==value.topicid){
                   console.log("tivityid: "+value.id);
                  badiufactory.activitylistbytopic.push(value);
              }
          });  
          badiufactory.topic.list.activity.push(badiufactory.activity.listbytopic);
          
    });  
 }*/

$(document).ready(function() {
     $("#addnew").click(function(e){e.preventDefault();});
    }); 
</script>
<!--
http://fabrica.badiu.com.br/~colaborador7/badiunet/web/app_dev.php/ams/offer/classe/activities/index/1
http://blog.backand.com/build-dynamic-forms/
http://stackoverflow.com/questions/24248098/angularjs-dynamic-form-from-json-data-different-types
http://blog.trifork.com/2014/04/03/dynamic-web-forms-with-angularjs/

http://dwmkerr.github.io/angular-modal-service/
http://jsfiddle.net/dwmkerr/8MVLJ/
http://jasonwatmore.com/post/2016/07/13/angularjs-custom-modal-example-tutorial
http://www.cssscript.com/modals-and-popups-provider-for-angular-js-applications-ngdialog/
http://fdietz.github.io/recipes-with-angular-js/common-user-interface-patterns/displaying-a-modal-dialog.html
http://fabrica.badiu.com.br/~colaborador7/badiunet/web/app_dev.php/system/service/process?key=badiu.ems.offer.disciplinesingle.add&_token=4|KkXigWm8mHaF8ZXT3kMexba8ykBIkS|2|mreport|14&_externalclinet=1&_service=badiu.system.core.lib.config.factory&parentid=67&_function=getFormConfig&filter=0
-->
<div ng-app="activitiesApp" ng-controller="activitiesController as badiufactory">

    {{ '{{badiufactory}}' }}   <br>
<button type="button" class="btn btn-sm btn-primary" ng-click="badiufactory.openFormAddModal()">Addicionar novo topico</button>

<div ng-repeat="t in badiufactory.topic.list">
    <h4>{{ '{{ t.name }}' }}</h4>
    <table class="table">
        <tr ng-repeat="a in badiufactory.activity.list | filter: {topicid: t.id } ">
              <td>{{ '{{a.id}}' }}  </td>
             <td>{{ '{{a.name}}' }}  </td>
             <td>{{ '{{a.status}}' }}  </td>
             <td>{{ '{{a.description}}' }}  </td>
         </tr>
     </table>
   
</div>    
   
    <table class="table">
      <tr ng-repeat="p in badiufactory.people">
        <td>{{ '{{ p }}' }}  </td>
        <td>
          <button type="button" class="btn btn-sm btn-primary" ng-click="badiufactory.openFormAddModal()">Delete</button>
        </td>
      </tr>
    </table>
</div>     