<script>
               
                function badiu_theme_core_control_menu_left() {
				console.log("acionado------------------");
					var serviceurl= "{{page.serviceurl}}";
					var fparam={
						_service: "badiu.theme.core.lib.manage",
						_function: "stateLeftMenu",
						currentrout: ""
					};
					//console.log(fparam);
					axios.post(serviceurl,fparam).then(function (response) {
					 console.log("--------server------------"); 
				   console.log(response.data); 
				    if(response.data.status=='accept'){ 
						
					 }else if(response.data.status=='danied'){
						
					}
                  }).catch(function (error) {
							console.log(error.response);
				   		if(error.response!== undefined &&  error.response.data!== undefined){
					   		var resperror = error.response.data.match(/<title[^>]*>([^<]+)<\/title>/)[1];
					   		console.log(resperror);
					   	}
					 
                }); 
			}
 </script>

 	<script>
			/*var sizeLimit = 768;

			$(document).ready(function() {
    			var screenSize = window.innerWidth;
				
				if (screenSize < sizeLimit ) {
					$("#wrapper").removeClass("active");
				} else {
					$("#wrapper").addClass("active");
				}
			});

			window.addEventListener('resize', function(event) {
				var screenSize = window.innerWidth;
				if (screenSize < sizeLimit ) {
					$("#wrapper").removeClass("active");
				} else {
					$("#wrapper").addClass("active");
				}
			}, true);*/
		</script>