{% if page.cache['badiu.theme.core.core.param.config.css'] is defined %}
 {% if page.cache['badiu.system.core.core.param.config.languageenableselect'] ==1 %}
  <div class="langchoice">
	{% set sessionlang=app.session.get('_badiu.system.data.session_defautwebuser').lang %}
	<select class="select-langchoice form-control" name="langchoose" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
	{% for key,value in page.langpackages%}
		{% set keyurl=page.baseurl~'/system/module/translator/changelang?lang='~key~'&_urlgoback='~page.currenturlencode %}
		{% if sessionlang ==key %} 
			{% set defaultlang=" selected " %}
		{% else %}
			{% set defaultlang=" " %}   
		{% endif %}
		<option value="{{ keyurl }}" {{defaultlang}}>{{ value }}</option>
		{% endfor %}
	</select>
  </div>	
 {% endif %}
{% endif %}

