{# src/Badiu/Theme/CoreBundle/Resources/views/Default/base.html.twig #}
{% if form is defined %}
    {% form_theme form 'BadiuThemeCoreBundle:Temp:form_div_layout.html.twig' %}
{% endif %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                {{ page.title }}
            {% endblock %}
        </title>


        {% block style %}
            <link rel="stylesheet" href="{{ asset("bundles/badiuthemecore/css/bootstrap.min.css") }}" type="text/css">
            <link rel="stylesheet" href="{{ asset("bundles/badiuthemecore/css/badiu.css") }}" type="text/css">

            <link rel="stylesheet" href="{{ asset("bundles/badiuthemecore/css/badiu-report.css") }}" type="text/css">
            <link rel="stylesheet" href="{{ asset("bundles/badiuthemecore/css/badiu-ecommerce.css") }}" type="text/css">
            <link rel="stylesheet" href="{{ asset("bundles/badiuthemecore/css/badiu-step.css") }}" type="text/css">
            <link rel="stylesheet" href="{{ asset("bundles/badiuthemecore/font/fontawesome/css/all.min.css") }}" type="text/css">
            <link rel="stylesheet" href="{{ asset("bundles/badiuthemecore/tms/badiu-tms-my-student-dashboard-default.css") }}" type="text/css">
			
			<!-- markdow -->
			<link rel="stylesheet" href="{{ asset("bundles/badiuthemecore/css/prism.css") }}" type="text/css">
           <link href="{{ asset("bundles/badiuthemecore/image/icons/badiu.ico") }}" rel="shortcut icon" type="image/x-icon" />
        {% endblock %}


        {% block javascript %}
            <script src="{{ asset("bundles/badiuthemecore/js/jquery-3.2.1.min.js") }}"></script>
            <script src="{{ asset("bundles/badiuthemecore/js/popper.min.js") }}"></script>
            <script src="{{ asset("bundles/badiuthemecore/js/bootstrap.min.js") }}"></script>
            <script src="{{ asset("bundles/badiuthemecore/js/juntions.js") }}"></script>


            <!-- Vuejs -->

            <script src="{{ asset('bundles/badiuthemecore/js/vue.js') }}"></script>
            <script src="{{ asset('bundles/badiuthemecore/js/axios.min.js') }}"></script>
            <script src="{{ asset('bundles/badiuthemecore/js/lodash.min.js') }}"></script>
            <!--use for autocomplete -->
            <script src="{{ asset('bundles/badiuthemecore/js/apexcharts.min.js') }}"></script>
            <script src="{{ asset('bundles/badiuthemecore/js/vue-apexcharts.min.js') }}"></script>
            <script src="{{ asset('bundles/badiuthemecore/js/vuejs-datepicker.min.js') }}"></script>
            <script src="{{ asset('bundles/badiuthemecore/js/moment.js') }}"></script>
            <!--use for date -->
            <script src="{{ asset('bundles/badiuthemecore/js/httpVueLoader.js') }}"></script>
            <!--use for vuejs components -->

            <!-- editor vuejs -->
            <script src="{{ asset('bundles/badiuthemecore/component/tinymce/tinymce/tinymce.min.js') }}"></script>
            <!-- <script src="{{ asset('bundles/badiuthemecore/js/ckeditor.js') }}"></script>
            <script src="{{ asset('bundles/badiuthemecore/js/vue-ckeditor5.js') }}"></script>	-->

			<!-- markdow -->
			<script src="{{ asset('bundles/badiuthemecore/js/prism.js') }}"></script>
			
            {% include "BadiuThemeCoreBundle:Lib:corelibjs.html.twig" %}
        {% endblock %}

        {% block customizejsstyle0 %}{% endblock %}
        {% block customizejsstyle1 %}{% endblock %}
        {% block customizejsstyle2 %}{% endblock %}
        {% block customizejsstyle3 %}{% endblock %}
        {% block customizejsstyle4 %}{% endblock %}
		
		{% block  styledb %}
		 {% if page.cache['badiu.theme.core.core.param.config.css'] is defined %}
                <style>
                    {% if page.cache['badiu.theme.core.core.param.config.css'] is defined %}
                        {% set _thmecustomconfigcss = page.cache['badiu.theme.core.core.param.config.css'] %}
                        {{_thmecustomconfigcss|raw}}
                    {% endif %}
                </style>
            {% endif %}
		{% endblock %}
		
		{% block  javascriptdb %}
			{% if page.cache['badiu.theme.core.core.param.config.css'] is defined %}
                <script>
                    {% if page.cache['badiu.theme.core.core.param.config.js'] is defined %}
                        {% set _thmecustomconfigjs = page.cache['badiu.theme.core.core.param.config.js'] %}
                        {{_thmecustomconfigjs|raw}}
                    {% endif %}
                </script>
            {% endif %}
		{% endblock %}
		
		{% block  cssjsexternalib %}
			{% if page.cache['badiu.theme.core.core.param.config.externalib'] is defined %}
                 {% if page.cache['badiu.theme.core.core.param.config.externalib'] is defined %}
                        {% set _thmecustomconfigjscssexternallib = page.cache['badiu.theme.core.core.param.config.externalib'] %}
                        {{_thmecustomconfigjscssexternallib|raw}}
                  {% endif %}
            {% endif %}
		{% endblock %}
        <!-- delete-->
        {% block tempthemebase %}

            <!--<script src="{{ asset('bundles/badiuthemecore/temp/jquery.datetimepicker.full.js') }}"></script>-->
            <!--<script src="{{ asset('bundles/badiuthemecore/temp/datepikerconfig.js') }}"></script>-->
            <!-- <link rel="stylesheet" href="{{ asset("bundles/badiuthemecore/temp/jquery.datetimepicker.css") }}"  type="text/css">-->

            <!-- <script src="{{ asset('bundles/badiuthemecore/temp/editor/ckeditor/ckeditor.js') }}"></script>--><script src="{{ asset('bundles/badiuthemecore/temp/jquery.mask.min.js') }}"> </script>

            <!-- enable old datepicker -->
            <script src="{{ asset('bundles/badiuthemecore/temp/jquery.datetimepicker.full.js') }}"></script>
            <script src="{{ asset('bundles/badiuthemecore/temp/datepikerconfig.js') }}"></script>
            <link rel="stylesheet" href="{{ asset("bundles/badiuthemecore/temp/jquery.datetimepicker.css") }}" type="text/css">
        {% endblock %}

        <!-- JS PARA CONTRASTE E VLIBRAS -->
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

        <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
        <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
        </script>
        <!-- JS PARA CONTRASTE E VLIBRAS -->

    </head>
    <body>
        {% block body %}

            {% block head %}
			
				{% if page.cache['badiu.theme.core.core.param.config.headcontent'] is defined and page.cache['badiu.theme.core.core.param.config.headcontent'] is not empty  and page.cache['badiu.theme.core.core.param.config.headcontent'] !="null" %}
                        {% set _thmecustomconfigheadcontent = page.cache['badiu.theme.core.core.param.config.headcontent'] %}
                        {{_thmecustomconfigheadcontent|raw}}
				{% else %} 
					{% include "BadiuThemeCoreBundle:Default:head.html.twig" %}
                {% endif %}
			 {% endblock %}
  
			{% set _badiumenuleftactive = '' %}
			{% if page.cache['badiu.theme.core.layout.menu.left.state'] is defined %}
				{% set _badiumenuleftactive = page.cache['badiu.theme.core.layout.menu.left.state']%}
			{% endif %}
			
            <div id="wrapper"  class="{{_badiumenuleftactive}}">

                {% block hmenu %}
                    {% include "BadiuThemeCoreBundle:Default:hmenu.html.twig" %}
                {% endblock %}

                {% block vlmenu %}
                    {% include "BadiuThemeCoreBundle:Default:vlmenu.html.twig" %}
                {% endblock %}

                <section class="section-wrapper">
                    <div id="page-content-wrapper">
                        <div class="page-content">
                            <div class="container-fluid">

                                {% block navbar %}
                                    {% if page.config.themelayoutblockremove['navbar'] is not defined %}
                                        {% include "BadiuThemeCoreBundle:Default:navbar.html.twig" %}
                                    {% endif %}
                                {% endblock %}
                                {% block content %}
                                    {% include "BadiuThemeCoreBundle:Default:content.html.twig" %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </section>

                {% block vrmenu %}
                    <!-- LIBRAS PLUGIN -->
                    <div vw class="enabled">
                        <div vw-access-button class="active"></div>
                        <div vw-plugin-wrapper>
                            <div class="vw-plugin-top-wrapper"></div>
                        </div>
                    </div>
                    <!-- LIBRAS PLUGIN -->
                {% endblock %}

            </div>
            <!-- end <div id="wrapper"> -->
            {% block footer %}
				{% if page.cache['badiu.theme.core.core.param.config.footercontent'] is defined and page.cache['badiu.theme.core.core.param.config.footercontent'] is not empty  and page.cache['badiu.theme.core.core.param.config.footercontent'] !="null" %}
                        {% set _thmecustomconfigfootercontent = page.cache['badiu.theme.core.core.param.config.footercontent'] %}
                        {{_thmecustomconfigfootercontent|raw}}
				{% else %} 
					{% include "BadiuThemeCoreBundle:Default:footer.html.twig" %}
                {% endif %}
			  {% endblock %}

            {% block footerjavascript %}{% endblock %}
        {% endblock %}

		
    </body>
</html>
