{# src/Badiu/Theme/CoreBundle/Resources/views/Layout/content.html.twig #}     
    {% if page.layout =='frontpage' %}
        {{ badiu_general_data_frontpage(page)|raw }}
    {% endif %}

    {% if page.layout =='report' %}
        {% if page.data['badiu_table1'] is defined %}
                    {{ badiu_report_data_table(page)|raw }}
				
        {% endif %}
    {% endif %}

    {% if page.layout =='form' %}
        {{ badiu_core_form_add(page)|raw }}
    {% endif %}

    {% if page.layout =='view' %}
        {{ badiu_report_data_detail(page)|raw }}
    {% endif %}

    {% if page.layout =='dashboard' %}
	   {{ badiu_general_data_dashborad(page)|raw }}     
    {% endif %}

    {% if page.layout =='message' %}
      
    {% endif %}

    {% if page.layout =='permissiondaned' %}
       permissao negado
    {% endif %}
{% if page.data['badiuthemecorecustomurl'] is defined %} 
			<br /><div class="systemkeyinfo"> <span class="keyfuncionatlity">{{page.key}} </span></div>
	{% endif %}