{# src/Badiu/Theme/CoreBundle/Resources/views/Laout/footer.html.twig #}

<footer id="footer">
	<div id="course-footer"></div>
    {% if page.data['badiuthemecorecustomurl'] is defined %}
			<div class="systemkeyinfo"> <span class="keyfuncionatlity">{{page.key}} </span></div>
	{% endif %}
	<div class="row-fluid">
		<div class="container-fluid">
			<div class="col-lg-12">
			
			{% if page.cache['badiu.theme.core.core.param.config.footercontentmenu'] is defined and page.cache['badiu.theme.core.core.param.config.footercontentmenu'] is not empty  and page.cache['badiu.theme.core.core.param.config.footercontentmenu'] !="null" %}
                        {% set _thmecustomconfigfootercontentmenu = page.cache['badiu.theme.core.core.param.config.footercontentmenu'] %}
                        {{_thmecustomconfigfootercontentmenu|raw}}
			{% else %} 
					
            {% endif %}
			
			<div id="copyright">
				<p>&#xA9; Badiu &#x2013; Todos os direitos reservados</p>
			</div>
				
			</div>
		</div>
	</div>
</footer>


{% block javascripts %}
	<script type="text/javascript">

		jQuery(function (e) {
e(window).width() > 767 ? e(".portal-footer .list-navigation li.plain ul").show() : (e(".portal-footer .list-navigation li.plain ul").hide(), e(".portal-footer .list-navigation li.plain").removeClass("opened")),
e(window).on("resize", function () {
e(window).width() > 767 ? e(".portal-footer .list-navigation li.plain ul").show() : (e(".portal-footer .list-navigation li.plain ul").hide(), e(".portal-footer .list-navigation li.plain").removeClass("opened"))
}),
e(".portal-footer .list-navigation li.plain").on("click", function () {
e(window).width() <= 767 && (e(this).toggleClass("opened"), e(this).find("ul").toggle())
})
});
	</script>

{% endblock %}