{% set _badiulogolink = 'badiu.system.core.core.frontpage' %}
{% if page.cache['badiu.system.core.param.config.site.route.frontpage'] is defined %}
	{% set _badiulogolink = page.cache['badiu.system.core.param.config.site.route.frontpage']%}
{% endif %}


{% set _badiulogourl =asset('bundles/badiuthemecore/image/logo.gif') %}
{% if page.cache['badiu.theme.core.core.param.config.logo'] is defined %}
	{% set _badiulogourl = page.filebase~page.cache['badiu.theme.core.core.param.config.logo']%}
{% endif %}

{% set _badiusitename ='Badiu.Net' %}
{% if page.cache['badiu.system.core.param.config.site.defaultname'] is defined %}
	{% set _badiusitename = page.cache['badiu.system.core.param.config.site.defaultname']%}
{% endif %}
 
 {% set _badiuheadtopcontent ='' %}
{% if page.cache['badiu.theme.core.core.param.config.headtopcontent'] is defined %}
	{% set _badiuheadtopcontent = page.cache['badiu.theme.core.core.param.config.headtopcontent']%}
{% endif %}
<div class="container-fluid">

                <div class="row">
                    <header id="header" class="fixed-top">
						<div class="col-12" id="headtopcontent">{{_badiuheadtopcontent|raw}}</div>
                        <div class="col-12" id="headdemiddlecontent">
						  <div class="col-6 float-left" id="headidentify">
                            <button type="button" id="button-control-hmenu" class="navbar-toggler collapsed" data-toggle="collapse"  data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="float:left;display: inline-block;margin-top:13px;"> <span class="sr-only">Toggle navigation</span>
                                &#x2630;
                            </button>
                            <div class="navbar-brand"> 
                                <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle"></a>
                            </div>
                            <div class="logo" id="logositeidentify"> 
                                <a class="float-left logo-bar" href="{{ url(_badiulogolink) }}">
                                    <img class="logo-image img-responsive" src="{{_badiulogourl}}" alt="Badiu.Net">
                                </a>
                                <h3 class="sitename">{{_badiusitename}} </h3>
                            </div>
                         </div>
                        <div class="col-6 usernavegation  float-right" id="headtopmenuuser">  
						 {% include "BadiuThemeCoreBundle:Lib:langchoice.html.twig" %}
                        </div> 
					 
                    </header>
                   
                </div>
            </div>