{% if page.data['headcontentmenu'] is defined %}
	 <ul> 
	{% for item in page.data['headcontentmenu'] %}
		{% set url = '' %}
		{% set label = '' %}
		{% if item['url'] is defined %}  {% set url = item['url'] %} {% endif %}
		{% if item['label'] is defined %}  {% set label = item['label'] %} {% endif %}
        <li><a href="{{url}}">{{label}}</a></li>
    {% endfor %}
	</ul>
 {% endif %}
