{% set _badiulogolink = 'badiu.system.core.core.frontpage' %}
{% if page.cache['badiu.system.core.param.config.site.route.frontpage'] is defined %}
	{% set _badiulogolink = page.cache['badiu.system.core.param.config.site.route.frontpage']%}
{% endif %}

{% set _badiulogourl =asset('bundles/badiuthemecore/image/logo.gif') %}
{% if page.cache['badiu.theme.core.core.param.config.logo'] is defined and page.cache['badiu.theme.core.core.param.config.logo'] is not empty   and page.cache['badiu.theme.core.core.param.config.logo'] !="null"  %}
	{% set _badiulogourl = page.filebase~page.cache['badiu.theme.core.core.param.config.logo']%}
{% endif %}

{% set _badiusitename ='Badiu.Net' %}
{% if page.cache['badiu.system.core.param.config.site.defaultname'] is defined %}
	{% set _badiusitename = page.cache['badiu.system.core.param.config.site.defaultname']%}
{% endif %}

{% set _badiuheadtopcontent ='' %}
{% if page.cache['badiu.theme.core.core.param.config.headtopcontent'] is defined %}
	{% set _badiuheadtopcontent = page.cache['badiu.theme.core.core.param.config.headtopcontent']%}
{% endif %}


<header id="header" class="container-fluid">
	<div class="row tophedcontent" id="headtopcontent">{{_badiuheadtopcontent|raw}}</div>

	<div class="row" id="headdemiddlecontent">
		<div id="headidentify" class="col-5 d-flex align-items-center">
			<div id="button-control-hmenu">
				<button onclick="badiu_theme_core_control_menu_left()" type="button" class="navbar-toggler collapsed" data-toggle="collapsed" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					&#x2630;
				</button>
			</div>
			<div class="navbar-brand">
				<a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle"></a>
			</div>
			<div class="logo d-flex" id="logositeidentify">
				<a class="logo-bar" href="{{ url(_badiulogolink) }}">
					<img class="logo-image img-responsive" src="{{_badiulogourl}}" alt="Badiu.Net">
				</a>
				<h3 class="sitename">{{_badiusitename}}
				</h3>
			</div>
		</div>

		<div class="usernavegation col-7 d-flex align-items-center justify-content-end" id="headtopmenuuser">

			<div class="header-wrapper secondary">
				<div class="site-header-links">
					{% if page.data['badiuthemecorecustomurl'] is defined %}
						<a href="{{page.data['badiuthemecorecustomurl']}}" class="themecustomicon">
							<i class="fa fa-edit"></i>
						</a>
					{% endif %}

					<div class="head-menu-links">
						<a class="toggle-head-menu-links" href="#" title="">
							<span class="fas fa-ellipsis-v"></span>
							<span class="sr-only"></span>
						</a>
						{% if page.cache['badiu.theme.core.core.param.config.headcontentmenu'] is defined and page.cache['badiu.theme.core.core.param.config.headcontentmenu'] is not empty   and page.cache['badiu.theme.core.core.param.config.headcontentmenu'] !="null" %}
							{% include "BadiuThemeCoreBundle:Default:headmenu.html.twig" %}  
						{% else %}  
							
						{% endif %}

					</div>
					<ul class="header-icons">
						<li>
							<a href="#" class="link-contraste">
								<span class="fas fa-adjust" aria-hidden="true"></span>
								<span class="sr-only">Mudar para o modo de alto contraste</span>
							</a>
						</li>
					</ul>
				</div>
			</div>

			
			{% if app.session.get('_badiu.system.data.session_defautwebuser').accessby.userid  is defined %}
				{% set _accessbyuserid = app.session.get('_badiu.system.data.session_defautwebuser').accessby.userid %}
				<a class="accessby" href="{{url('badiu.system.core.service.process',{'_service':'badiu.auth.core.login.changeuseraccessas','_function':'goback','parentid':_accessbyuserid })}}">Acessado por
					{{app.session.get('_badiu.system.data.session_defautwebuser').accessby.userfullname}}</a>

			{% endif %}

			{% if app.session.get('_badiu.system.data.session_defautwebuser').user.anonymous and app.request.attributes.get('_route') != 'badiu.auth.core.login.add' %} 
				<div class="boxloginlink"><span class="fas fa-user"></span>  &nbsp;<a href="{{url('badiu.auth.core.login.add')}}" class="float-right loginlink">Logar</a></div>
			{% endif %}

			{% if not app.session.get('_badiu.system.data.session_defautwebuser').user.anonymous %}
				<ul class="navbar-nav ml-1">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle userloguednamemeu" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="fas fa-user"></span>
							{{ app.session.get('_badiu.system.data.session_defautwebuser').user.systemname}}
						</a>

						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							
							<a class="dropdown-item" href="{{url('badiu.admin.client.changepassword.add')}}">Alterar senha</a>
							<a class="dropdown-item" href="{{url('badiu.admin.client.client.frontpage')}}">Meu painel</a>
							
							<a class="dropdown-item" href="{{url('badiu.auth.core.synclogout.link',{'_status': 'start'})}}">Sair</a>
						</div>
					</li>
				</ul>
			{% endif %}
		 {% include "BadiuThemeCoreBundle:Lib:langchoice.html.twig" %}
		</div>
		
	</div>
</header>


{% block javascripts %}
	<script type="text/javascript">
		$(document).ready(function () { // links
$(".toggle-head-menu-links").click(function () {
return $(this).next().slideToggle(),
$(this).parent().toggleClass("open"),
!1
});

if (Cookies.get('contraste') === "on") {
$("body").addClass("contraste")
} else {
$("body").removeClass("contraste")
}

$(".link-contraste").click(function () {
$("body").hasClass("contraste") ? ($("contraste", ""), $("body").removeClass("contraste"), Cookies.set("contraste", "off")) : ($("contraste", "on"), $("body").addClass("contraste"), Cookies.set("contraste", "on"));
});
});
	</script>

{% endblock %}
