{# src/Badiu/Theme/CoreBundle/Resources/views/Laout/navbar.html.twig #}     

<div class="row" id="navbar">
    <div class="col-lg-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for litem in page.additionalContents %}
                        {% for item in litem %}
                            {% if item['position'] == 'navbar' %}
                                {% if item['current'] == 1 %} <li class="breadcrumb-item"> {{item['link']['name']}} </li> {% endif %}
                                {% if item['current'] == 0 %} 
									<li class="breadcrumb-item">
										{% if item['link']['url'] is not null %} 
											<a href="{{item['link']['url']}} "> {{item['link']['name']}} </a>
										{% endif %}
										{% if item['link']['url'] is null %} 
											{{item['link']['name']}}
										{% endif %}
									</li>
								{% endif %}

                        {% endif %}
                        {% endfor %}
                    {% endfor %}
             </ol>
            </nav>   
    </div>
</div>
