{# src/Badiu/Theme/CoreBundle/Resources/views/Laout/vlmenu.html.twig #}            
            <aside>
                <div id="sidebar-wrapper">
                    <nav id="spy">
                        <nav class="list-group"> 
                            <a class="list-group-item list-group-item-action font-weight-bold" href="#"
                               data-key="myhome">

                                <div class="m-l-0" id="yui_3_17_2_1_1498572018521_129">

                                   {{page.menuTitle}}

                                </div>

                            </a>
                            <div class="panel-group" id="accordion">

                    {% set id = 0 %}
                    {% for litem in page.additionalContents %}

                        {% for item in litem %}

                            {% set id = id + 1 %}

                            {% if item['type'] is defined %}
                                {% if  item['type'] == 'link' and item['position'] == 'menu'  %} 
                                    {% if item['current'] == 1 %}
                                        {# sem filho #}
                                        <div class="panel panel-default menu-current-panel {{item['link']['id']}}-menu" id="{{item['link']['id']}}-menu-id">
                                            <div class="panel-heading">
                                                <a  class="list-group-item list-group-item-action current-link " href="{{item['link']['url']}}"><span></span> <b>{{item['link']['name']}}</b></a>
                                            </div>                        
                                        </div> 

                                    {% endif %}
                                    {% if item['current'] == 0 %}
                                        <div class="panel panel-default no-parent {{item['link']['id']}}-menu" id="{{item['link']['id']}}-menu-id">
                                            <div class="panel-heading">
                                                <a class="list-group-item list-group-item-action " href="{{item['link']['url']}}"><span></span> {{item['link']['name']}}</a>
                                            </div>                        
                                        </div> 
                                    {% endif %}
                                {% endif %}
                                {% if  item['type'] == 'category' and item['position'] == 'menu' %}

                                    <div class="panel panel-default">

                                        <div class="panel-heading for-parent">

                                            <a data-toggle="collapse" data-parent="#accordion" href="#{{id}}" class="collapsed"style="background: transparent;"><span class="glyphicon glyphicon-chevron-right"></span>{{item['name']}}</a>

                                        </div>
                                        <div id="{{id}}" class="panel-collapse collapse" style="height: 0px;">
                                            
                                                                                              

                                                        {% for sitem in item['items'] %}
                                                            {% if sitem['current'] == 1 %}
                                                               <a  href="{{sitem['link']['url']}}" class="dropdown-item {{sitem['link']['id']}}-menu">{{sitem['link']['name']}}</a>
                                                            {% endif %}
                                                            {% if sitem['current'] == 0 %}
                                                                <a  href="{{sitem['link']['url']}}" class="dropdown-item {{sitem['link']['id']}}-menu">{{sitem['link']['name']}}</a>
                                                            {% endif %}
                                                        {% endfor %} 
                                                  
                                            
                                        </div>
                                    </div> 
                                {% endif %}
                            {% endif %}
                        {% endfor %} 
                    {% endfor %}                  
                </div>
                        </nav>
                    </nav>
                </div>
            </aside>