{# src/Badiu/Theme/CoreBundle/Resources/views/Layout/vlmenu.html.twig #}            
<aside>
    <div id="sidebar-wrapper">

        <div class="nav-side-menu">
            <div class="menu-list">
                <ul id="menu-content" class="menu-content">
                    {% set id = 0 %}

                    {% for litem in page.additionalContents %}
                        {% for item in litem %}
                            {% set id = id + 1 %}
                            {% if item['type'] is defined %}
                                {% if  item['type'] == 'link' and item['position'] == 'menu'  %}
                                    {% if item['current'] == 1 %} {% set classcurrent = ' active ' %} {% endif %}
                                    {% if item['current'] == 0 %} {% set classcurrent = '' %} {% endif %}

                                    <li id="{{item['link']['id']}}-menu-id" class="{{classcurrent}}">
                                        <a href="{{item['link']['url']}}">
                                            {{item['link']['name']}}
                                        </a>
                                    </li>
                                {% endif %}

                                {% if item['type'] == 'category' and item['position'] == 'menu' %}
                                    {% if item['current'] == 1 %} 
                                        {% set classcurrentcategory = ' active ' %} 
                                        {% set showcategory = ' show ' %}
                                    {% endif %}
                                    
                                    {% if item['current'] == 0 %} 
                                        {% set classcurrentcategory = '' %} 
                                        {% set showcategory = '' %}
                                    {% endif %}
									   
                                    <li data-toggle="collapse" data-target="#{{id}}" class="collapsed {{classcurrentcategory}}">
                                        <a href="#">{{item['name']}} <span class="arrow"></span></a>
                                    </li>

                                    <ul class="sub-menu collapse {{showcategory}}" id="{{id}}">
                                        {% for sitem in item['items'] %}
                                           
											 {% if sitem['current'] == 1 %} {% set classcurrent = ' active' %} {% endif %}
                                             {% if sitem['current'] == 0 %} {% set classcurrent = '' %} {% endif %}
                                     
                                                <li class="{{classcurrent}}">
                                                    <a href="{{sitem['link']['url']}}" class="collapsed">
                                                        {{sitem['link']['name']}}
                                                    </a>
                                                </li>
                                            
                                        {% endfor %}
                                    </ul> 
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</aside> 