{# src/Badiu/Theme/DefaultBundle/Resources/views/Layout/Crud:/index.html.twig #}
{% extends "BadiuThemeBaseBundle:Layout/Crud:index.html.twig" %}

 {% block menu %}
 {% endblock %}

{% block content %}


    <div class="center-block">.1235</div>
    <div class="center-block">.xxxx</div>


{% endblock %}