@import url("http://fonts.cdnfonts.com/css/rawline");

#wrapper .navbar-nav {
    border: none;
}

#footer {
    background-color: #071d41;
    border: none;
    box-shadow: none;
    max-height: 100%;
    bottom: 0;
    position: relative;
    width: 100%;
    z-index: 10;
}

:root {
    --font-family-base: Rawline, Raleway, sans-serif;
    --color-primary-pastel-01: #c5d4eb;
    --color-primary-pastel-02: #dbe8fb;
    --color-primary-lighten-01: #2670e8;
    --color-primary-lighten-02: #5992ed;
    --color-primary-default: #1351b4;
    --color-primary-darken-01: #0c326f;
    --color-primary-darken-02: #071d41;
    --rgb-primary-pastel-01: 197, 212, 235;
    --rgb-primary-pastel-02: 219, 232, 251;
    --rgb-primary-lighten-01: 38, 112, 232;
    --rgb-primary-lighten-02: 89, 146, 237;
    --rgb-primary-default: 19, 81, 180;
    --rgb-primary-darken-01: 12, 50, 111;
    --rgb-primary-darken-02: 7, 29, 65;
    --color-secondary-01: #fff;
    --color-secondary-02: #f8f8f8;
    --color-secondary-03: #ededed;
    --color-secondary-04: #ccc;
    --color-secondary-05: #9e9d9d;
    --color-secondary-06: #888;
    --color-secondary-07: #555;
    --color-secondary-08: #333;
    --color-secondary-09: #000;
    --rgb-secondary-01: 255, 255, 255;
    --rgb-secondary-02: 248, 248, 248;
    --rgb-secondary-03: 237, 237, 237;
    --rgb-secondary-04: 204, 204, 204;
    --rgb-secondary-05: 158, 157, 157;
    --rgb-secondary-06: 136, 136, 136;
    --rgb-secondary-07: 85, 85, 85;
    --rgb-secondary-08: 51, 51, 51;
    --rgb-secondary-09: 0, 0, 0;
    --color-secondary-10: rgba(0, 0, 0, 0.4);
    --color-secondary-11: hsla(0, 0%, 100%, 0.64);
    --color-secondary-12: rgba(0, 0, 0, 0.64);
    --color-highlight: #268744;
    --rgb-highlight: 38, 135, 68;
    --color-success: #168821;
    --color-warning: #ffcd07;
    --color-danger: #e60000;
    --color-info: #155bcb;
    --rgb-success: 22, 136, 33;
    --rgb-warning: 255, 205, 7;
    --rgb-danger: 230, 0, 0;
    --rgb-info: 21, 91, 203;
    --color-support-01: #36a191;
    --color-support-02: #f2e317;
    --color-support-03: #d84800;
    --color-support-04: #a26739;
    --rgb-support-01: 54, 161, 145;
    --rgb-support-02: 242, 227, 23;
    --rgb-support-03: 216, 72, 0;
    --rgb-support-04: 162, 103, 57;
    --color-facebook: #3b5998;
    --color-google-plus: #db4a39;
    --color-linkedin: #0e76a8;
    --color-twitter: #00acee;
    --color-whatsapp: #25d366;
    --color-xbox: #9bc848;
    --color-yahoo: #720e9e;
    --color-youtube: #c4302b;
    --rgb-facebook: 59, 89, 152;
    --rgb-google-plus: 219, 74, 57;
    --rgb-linkedin: 14, 118, 168;
    --rgb-twitter: 0, 172, 238;
    --rgb-whatsapp: 37, 211, 102;
    --rgb-xbox: 155, 200, 72;
    --rgb-yahoo: 114, 14, 158;
    --rgb-youtube: 196, 48, 43;
    --icon-size-base: 16px;
    --icon-size-xs: 8px;
    --icon-size-sm: 12px;
    --icon-size-lg: 20px;
    --icon-size-2x: 32px;
    --icon-size-3x: 48px;
    --icon-size-4x: 64px;
    --icon-size-5x: 80px;
    --icon-size-6x: 96px;
    --icon-size-7x: 112px;
    --icon-size-8x: 128px;
    --icon-size-9x: 144px;
    --icon-size-10x: 160px;
    --status-highlight-overlay: rgba(var(--rgb-support-03), 0.1);
    --status-highlight-background: var(--color-secondary-01);
    --status-highlight-text: var(--color-support-03);
    --status-enabled-text: var(--color-primary-default);
    --status-enabled-text-darken: var(--color-secondary-01);
    --status-disabled-background: rgba(var(--rgb-secondary-03), 0.45);
    --status-disabled-text: rgba(var(--rgb-secondary-04), 0.45);
    --status-hover-background: var(--color-primary-pastel-02);
    --status-pressed-background: var(--color-primary-darken-02);
    --status-pressed-text: var(--color-primary-pastel-01);
    --status-focused-overlay: rgba(var(--rgb-support-02), 0.3);
    --status-focused-background: var(--color-primary-default);
    --status-activated-background: var(--color-primary-darken-01);
    --status-activated-text: var(--color-secondary-01);
    --status-selected-background: var(--color-primary-lighten-01);
    --status-selected-text: var(--color-secondary-01);
    --status-dragged-background: var(--color-secondary-03);
    --status-dragged-text: var(--color-secondary-08);
    --status-dragged-shadow: rgba(var(--rgb-secondary-09), 0.16);
    --status-visited-background: var(--color-primary-pastel-01);
    --status-visited-text: var(--color-primary-darken-01);
    --status-on-background: var(--color-primary-lighten-02);
    --status-on-text: var(--color-secondary-01);
    --status-off-background: var(--color-secondary-04);
    --status-off-text: var(--color-secondary-07);
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;
    --font-size-scale-base: 14px;
    --font-size-scale-down-01: 11.662px;
    --font-size-scale-down-02: 9.716px;
    --font-size-scale-down-03: 8.106px;
    --font-size-scale-up-01: 16.8px;
    --font-size-scale-up-02: 20.16px;
    --font-size-scale-up-03: 24.192px;
    --font-size-scale-up-04: 29.036px;
    --font-size-scale-up-05: 34.832px;
    --font-size-scale-up-06: 41.804px;
    --font-size-scale-up-07: 50.162px;
    --font-line-height-low: 1.15;
    --font-line-height-medium: 1.45;
    --font-line-height-high: 1.85;
    --grid-breakpoint-xsmall: 0px;
    --grid-breakpoint-small: 575px;
    --grid-breakpoint-medium: 992px;
    --grid-breakpoint-large: 1280px;
    --grid-breakpoint-xlarge: 1600px;
    --grid-portrait-maxwidth: 100%;
    --grid-portrait-gutter: 16px;
    --grid-portrait-columns: 4;
    --grid-portrait-margin: 8px;
    --grid-tablet-maxwidth: 100%;
    --grid-tablet-gutter: 24px;
    --grid-tablet-columns: 8;
    --grid-tablet-margin: 40px;
    --grid-desktop-maxwidth: 1200px;
    --grid-desktop-gutter: 24px;
    --grid-desktop-columns: 12;
    --grid-desktop-margin: 40px;
    --grid-tv-maxwidth: 1520px;
    --grid-tv-gutter: 40px;
    --grid-tv-columns: 12;
    --grid-tv-margin: 40px;
}

#header .fa,
#header .fab,
#header .fad,
#header .fal,
#header .far,
#header .fas,
#header .svg-inline--fa {
    font-size: 16px;
    width: calc(var(--icon-size) + 8px);
}

#header,
#footer {
    font-family: rawline, helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #555;
    line-height: 1.75;
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing: normal;
    vertical-align: baseline;
}

.barra-principal {
    display: flex;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%!important;
    background-color: #FFFFFF;
    z-index: 10;
    box-shadow: 0px 2px 6px -2px rgb(112 112 115 / 50%);
}

@media only screen and (max-width: 576px) {
    .barra-principal {
        flex-direction: column;
    }

    #header .header-wrapper {
        flex: none !important;
    }
}

#header a,
#header a:active,
#header a:active u,
#header a:hover,
#header a:hover u,
#header a:link,
#header a:link u,
#header a:visited,
#header a:visited u,
#header a u {
    color: #1351b4;
    font-weight: 500;
    text-decoration: none;
}

#header a:active strong,
#header a:hover strong,
#header a:link strong,
#header a:visited strong,
#header a strong {
    color: #1351b4;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

#header .header-wrapper {
    align-items: center;
    display: flex;
    flex: 1;
}

@media only screen and (min-width: 768px) {
    #header .header-wrapper {
        padding-bottom: 0;
        padding-top: 0;
    }
}
#header .header-wrapper .portal-name {
    align-items: center;
    display: flex;
}
#header .header-wrapper .portal-name .portal-logo {
    background-color: transparent;
    background-image: url(https://www.gov.br/cidadania/++theme++padrao_govbr/img/govbr-logo-medium.png);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 72px 26px;
    display: inline-block;
    height: 26px;
    min-width: 72px;
    width: 72px;
}
@media only screen and (min-width: 768px) {
    #header .header-wrapper .portal-name .portal-logo {
        background-image: url(https://www.gov.br/cidadania/++theme++padrao_govbr/img/govbr-logo-large.png);
        background-size: 111px 40px;
        height: 40px;
        min-width: 111px;
        width: 111px;
    }
}
#header .header-wrapper .portal-name .portal-logo:focus {
    outline-color: #c2850c;
    outline-style: dashed;
    outline-offset: 4px;
    outline-width: 2px;
}
#header .header-wrapper .portal-name .portal-logo:focus:not(.focus-visible) {
    outline: none;
}
#header .header-wrapper .portal-name .nome-orgao {
    overflow: hidden;
    color: #555;
    flex: 1;
    font-weight: 300;
    font-size: 13px;
    line-height: 14px;
    margin-left: 16px;
    padding-bottom: 3px;
    padding-top: 3px;
}
@media only screen and ) {
    #header .header-wrapper .portal-name .nome-orgao {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    #header .header-wrapper .portal-name .nome-orgao {
        font-size: 14px;
        line-height: 16px;
    }
}
#header .header-wrapper .portal-name .nome-orgao:hover {
    color: #555;
    text-decoration: none;
}
#header .header-wrapper .portal-name .nome-orgao:focus {
    outline-color: #c2850c;
    outline-style: dashed;
    outline-offset: 4px;
    outline-width: 2px;
}
#header .header-wrapper .portal-name .nome-orgao:focus:not(.focus-visible) {
    outline: none;
}
#header .header-wrapper .site-name-wrapper {
    align-items: baseline;
    display: flex;
}
#header .header-wrapper .site-name-wrapper .toggle-main-navigation {
    color: #1351b4;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    width: auto;
    border-radius: 50%;
    padding: 0;
    margin-left: -4.875px;
}
#header .header-wrapper .site-name-wrapper .toggle-main-navigation .fa {
    font-size: 14px;
    line-height: 22px;
    width: 22px;
}
@media only screen and (min-width: 576px) {
    #header .header-wrapper .site-name-wrapper .toggle-main-navigation {
        margin-left: -5px;
    }
    #header .header-wrapper .site-name-wrapper .toggle-main-navigation .fa {
        font-size: 16px;
        line-height: 24px;
        width: 24px;
    }
}
@media only screen and (min-width: 768px) {
    #header .header-wrapper .site-name-wrapper .toggle-main-navigation {
        margin-left: -5.25px;
    }
    #header .header-wrapper .site-name-wrapper .toggle-main-navigation .fa {
        font-size: 20px;
        line-height: 28px;
        width: 28px;
    }
}
@media only screen and (min-width: 1280px) {
    #header .header-wrapper .site-name-wrapper .toggle-main-navigation {
        margin-left: -5.5px;
    }
    #header .header-wrapper .site-name-wrapper .toggle-main-navigation .fa {
        font-size: 24px;
        line-height: 32px;
        width: 32px;
    }
}
#header .header-wrapper .site-name-wrapper .toggle-main-navigation:hover {
    text-decoration: none;
    background-color: #dbe8fb;
    box-shadow: 0 0 0 2px #dbe8fb;
}
#header .header-wrapper .site-name-wrapper .toggle-main-navigation:focus {
    outline-color: #c2850c;
    outline-style: dashed;
    outline-offset: 4px;
    outline-width: 2px;
}
#header .header-wrapper .site-name-wrapper .toggle-main-navigation:focus:not(.focus-visible) {
    outline: none;
}
#header .header-wrapper .site-name-wrapper .toggle-main-navigation .fa {
    display: inline-block;
    text-align: center;
}
#header .header-wrapper .site-name-wrapper .toggle-main-navigation .fa-times {
    display: none;
}
#header .header-wrapper .site-name-wrapper .toggle-main-navigation.open .fa-times {
    display: inline-block;
}
#header .header-wrapper .site-name-wrapper .toggle-main-navigation.open .fa-bars {
    display: none;
}
#header .header-wrapper .site-name-wrapper .site-name {
    flex: 1;
    margin: 0;
    padding: 0;
}
#header .header-wrapper .site-name-wrapper .site-name a {
    overflow: hidden;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 0 0 3px;
}
@media only screen and (min-width: 576px) {
    #header .header-wrapper .site-name-wrapper .site-name a {
        font-size: 16px;
        line-height: 18px;
    }
}
@media only screen and (min-width: 768px) {
    #header .header-wrapper .site-name-wrapper .site-name a {
        font-size: 20px;
        line-height: 24px;
    }
}
@media only screen and (min-width: 1280px) {
    #header .header-wrapper .site-name-wrapper .site-name a {
        font-size: 24px;
        line-height: 26px;
        padding: 0 0 4px;
    }
}
#header .header-wrapper .site-name-wrapper .site-name a:hover {
    color: #1351b4;
    text-decoration: none;
}
#header .header-wrapper .site-name-wrapper .site-name a:focus {
    outline-color: #c2850c;
    outline-style: dashed;
    outline-offset: 4px;
    outline-width: 2px;
}
#header .header-wrapper .site-name-wrapper .site-name a:focus:not(.focus-visible) {
    outline: none;
}

.site-name {
    border-right: solid 1px #bbb;
}

#header .main .header-wrapper {
    min-height: 56px;
    padding-bottom: 0;
    padding-top: 0;
}
@media only screen and (min-width: 768px) {
    #header .main .header-wrapper {
        padding-bottom: 16px;
    }
}
.site-header-links {
    align-items: center;
    display: flex;
}
.site-header-links a {
    text-decoration: none;
}
.site-header-links a:focus {
    outline-color: #c2850c;
    outline-style: dashed;
    outline-offset: 4px;
    outline-width: 2px;
}
.site-header-links a:focus:not(.focus-visible) {
    outline: none;
}
@media only screen and (min-width: 576px) {
    .site-header-links .links-rapidos {
        position: relative;
    }
}
.site-header-links .links-rapidos .toggle-links-rapidos {
    align-items: center;
    border-radius: 16px;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;
}
.site-header-links .links-rapidos .toggle-links-rapidos span {
    width: auto;
}
.site-header-links .links-rapidos .toggle-links-rapidos:focus {
    outline-color: #c2850c;
    outline-style: dashed;
    outline-offset: 4px;
    outline-width: 2px;
}
.site-header-links .links-rapidos .toggle-links-rapidos:focus:not(.focus-visible) {
    outline: none;
}
@media only screen and (min-width: 1024px) {
    .site-header-links .links-rapidos .toggle-links-rapidos {
        display: none;
    }
}
.site-header-links .links-rapidos ul {
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 1024px) {
    .site-header-links .links-rapidos ul {
        display: block !important;
    }
}
@media only screen and (max-width: 1023px) {
    .site-header-links .links-rapidos ul {
        background-color: #fff;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        display: none;
        font-size: 12px;
        left: 50%;
        margin-left: -130px;
        padding: 0;
        position: absolute;
        text-align: left;
        width: 260px;
        z-index: 160;
    }
}
@media only screen and (max-width: 575px) {
    .site-header-links .links-rapidos ul {
        left: 0;
        margin: 0;
        right: 0;
        width: auto;
    }
}
.site-header-links .links-rapidos ul li {
    display: inline-block;
    margin: 0 8px;
}
@media only screen and (max-width: 1023px) {
    .site-header-links .links-rapidos ul li {
        display: block;
        margin: 0;
        text-transform: none;
        white-space: nowrap;
    }
}
.site-header-links .links-rapidos ul li.titulo {
    color: #333;
    display: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 8px 16px;
    text-transform: uppercase;
}
@media only screen and (max-width: 1023px) {
    .site-header-links .links-rapidos ul li.titulo {
        display: block;
    }
}
.site-header-links .links-rapidos ul li a {
    font-size: 14px;
}
@media only screen and (max-width: 1023px) {
    .site-header-links .links-rapidos ul li a {
        display: block;
        font-size: 12px;
        padding: 8px 16px;
    }
}
.site-header-links .links-rapidos ul li a:hover {
    color: #0c326f;
}
.site-header-links .links-rapidos.open .toggle-links-rapidos {
    color: #fff;
}
.site-header-links .header-icons {
    padding: 0;
    white-space: nowrap;
    margin-left: 8px;
    margin-right: 15px;
    margin-bottom: 0;
}
@media only screen and (max-width: 575px) {
    .site-header-links .header-icons {
        margin: 0 5px;
    }
}
.site-header-links .header-icons li {
    display: inline-block;
    margin: 0;
}
.site-header-links .header-icons li a {
    align-items: center;
    border-radius: 16px;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;
    font-size: 14px;
    height: auto;
    width: auto;
}
.site-header-links .header-icons li a span {
    width: auto;
}
.site-header-links .header-icons li a:focus {
    outline-color: #c2850c;
    outline-style: dashed;
    outline-offset: 4px;
    outline-width: 2px;
}
.site-header-links .header-icons li a:focus:not(.focus-visible) {
    outline: none;
}
.site-header-links .header-icons li a:hover {
    background-color: #dbe8fb;
}
.site-header-links .link-acesso {
    background: #f8f8f8;
    border-radius: 40px;
    color: #0c326f;
    font-size: 14px;
    font-weight: 500;
    margin-left: 8px;
    padding: 0 12px;
    white-space: nowrap;

    display: flex;
    align-items: center;
}
.site-header-links .link-acesso span {
    color: #1351b4;
    padding-right: 8px;
}
.site-header-links .link-acesso:hover {
    background-color: #dbe8fb;
}
.site-header-links .link-acesso:focus {
    outline-color: #c2850c;
    outline-style: dashed;
    outline-offset: 4px;
    outline-width: 2px;
}
.site-header-links .link-acesso:focus:not(.focus-visible) {
    outline: none;
}

.govbr-busca-header {
    height: 56px;
    margin: 0 0 0 8px;
    min-width: 56px;
    width: 56px;
}
@media only screen and (min-width: 1024px) {
    .govbr-busca-header {
        margin-left: 20px;
        min-width: 384px;
        width: 384px;
    }
}
.govbr-busca-header #govbr-busca-input {
    background-color: #FFFFFF;
    align-items: center;
    display: flex;
    height: 56px;
    left: calc(100vw - 56px);
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    left: 100%;
    transition: left 0.3s ease-in-out, right 0.2s linear;
    z-index: 2;
}
@media only screen and (min-width: 768px) {
    .govbr-busca-header #govbr-busca-input {
        border-radius: 6px;
        left: calc(100vw - 33px);
        right: 16px;
        top: 16px;
    }
}
@media only screen and (min-width: 1024px) {
    .govbr-busca-header #govbr-busca-input {
        left: calc(100vw - 40px - 384px);
        right: 40px;
        z-index: 4;
    }
}
@media only screen and (min-width: 1280px) {
    .govbr-busca-header #govbr-busca-input {
        left: 768px;
        right: 16px;
    }
}

#govbr-busca-input .aa-SelectWrapper .custom-select {
    border: 1px solid #ededed;
    border-radius: 6px;
    background-color: #ededed;
    padding: 6px 12px;
    width: 120px;
}

.govbr-busca-header .govbr-busca-toggle {
    background-color: transparent;
    border: 0 none;
    border-radius: 50%;
    color: #1351b4;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: 8px;
    text-align: center;
    top: 8px;
    transition: opacity 0.2s linear;
    width: 40px;
    z-index: 3;
}
@media only screen and (min-width: 768px) {
    .govbr-busca-header .govbr-busca-toggle {
        right: 24px;
        top: 19px;
    }
}
@media only screen and (min-width: 1024px) {
    .govbr-busca-header .govbr-busca-toggle {
        right: 50px;
    }
}
@media only screen and (min-width: 1280px) {
    .govbr-busca-header .govbr-busca-toggle {
        display: none;
        right: 8px;
    }
}
.govbr-busca-header .govbr-busca-toggle:hover {
    background-color: #dbe8fb;
}
.govbr-busca-header .govbr-busca-toggle:focus {
    outline-color: #c2850c;
    outline-style: dashed;
    outline-offset: 4px;
    outline-width: 2px;
}
.govbr-busca-header .govbr-busca-toggle:focus:not(.focus-visible) {
    outline: none;
}
.govbr-busca-header .govbr-busca-toggle span {
    font-size: 20px !important;
}
.govbr-busca-header .govbr-busca-toggle .fa-times {
    display: none;
}
.govbr-busca-header.open #govbr-busca-input {
    left: 0;
    right: 0;
}
@media only screen and (min-width: 768px) {
    .govbr-busca-header.open #govbr-busca-input {
        left: 14px;
        right: 72px;
    }
}
@media only screen and (min-width: 1024px) {
    .govbr-busca-header.open #govbr-busca-input {
        left: 0;
        right: 96px;
    }
}
@media only screen and (min-width: 1280px) {
    .govbr-busca-header.open #govbr-busca-input {
        left: 16px;
        right: 56px;
    }
}
@media only screen and (max-width: 767px) {
    .govbr-busca-header.open #govbr-busca-input .aa-InputWrapperPrefix {
        display: none;
    }
}
.govbr-busca-header.open:before {
    right: 110px;
}
@media only screen and (max-width: 575px) {
    .govbr-busca-header.open:before {
        display: none;
    }
}
.govbr-busca-header.open:after {
    display: none;
}
@media only screen and (min-width: 768px) {
    .govbr-busca-header.open:after {
        display: block;
        right: 72px;
    }
}
@media only screen and (min-width: 1024px) {
    .govbr-busca-header.open:after {
        right: 96px;
    }
}
@media only screen and (min-width: 1280px) {
    .govbr-busca-header.open:after {
        right: 56px;
    }
}
.govbr-busca-header.open .govbr-busca-toggle {
    display: block;
}
.govbr-busca-header.open .govbr-busca-toggle .fa-times {
    display: inline-block;
}
.govbr-busca-header.open .govbr-busca-toggle .fa-search {
    display: none;
}
.userrole-authenticated .govbr-busca-header .container .aa-Input {
    padding: 8px 112px 8px 16px !important;
}
@media only screen and (min-width: 1024px) {
    .userrole-authenticated .govbr-busca-header .container .aa-Input {
        padding: 8px 92px 8px 36px !important;
    }
}

/* form - botao de busca */

.aa-Autocomplete,
.aa-Form {
    width: 100%;
}
.aa-Form {
    align-items: center;
    background-color: #ededed;
    border-radius: 6px;
    display: flex;
    margin: 0;
    position: relative;
    border: 1px solid #ededed;
}
.aa-Form[focus-within] {
    border: 1px solid #c2850c !important;
}
.aa-Form:focus-within {
    border: 1px solid #c2850c !important;
}

.aa-InputWrapperPrefix {
    height: 54px;
    height: var(--aa-search-input-height);
    order: 2;
}
.aa-InputWrapperPrefix,
.aa-Label,
.aa-LoadingIndicator {
    flex-shrink: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}
.aa-Label,
.aa-LoadingIndicator {
    cursor: auto;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
}
.aa-Label svg,
.aa-LoadingIndicator svg {
    color: #3e34d3;
    color: rgba(var(--aa-primary-color-rgb), 1);
    height: auto;
    max-height: 20px;
    max-height: var(--aa-input-icon-size);
    stroke-width: 1.6;
    stroke-width: var(--aa-icon-stroke-width);
    width: 20px;
    width: var(--aa-input-icon-size);
}
.aa-LoadingIndicator,
.aa-SubmitButton {
    height: 38px;
    width: 38px;
}
.aa-SubmitButton {
    appearance: none;
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
}
.aa-SubmitButton svg {
    display: none;
}
.aa-SubmitButton:before {
    font-family: "Font Awesome 5 Free";
    content: "\F002";
    font-size: 20px;
    color: #1351b4;
    font-weight: 900;
    cursor: pointer;
}
.aa-SubmitButton:hover {
    background-color: #dbe8fb;
}
.aa-LoadingIndicator,
.aa-LoadingIndicator[hidden] {
    display: none;
}
.aa-InputWrapper {
    order: 1;
    position: relative;
    width: 100%;
}

.aa-Input {
    appearance: none;
    background: none;
    height: 38px;
    border: 0;
    color: #262627;
    color: rgba(var(--aa-text-color-rgb), var(--aa-text-color-alpha));
    font: inherit;
    padding: 0 32px 0 8px;
    width: 100%;
}
.aa-Input::placeholder {
    color: #333;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
}
.aa-Input:focus {
    border-color: transparent;
    box-shadow: none;
    outline: none;
}

/* botao de busca */

/* FOOTER */
#portal-footer .footer-wrapper {
    width: 100%;
    margin: 0 auto;
    padding-top: 64px;
    padding-right: 16px;
    padding-left: 16px;
    max-width: 100%;
    box-sizing: border-box;
}

@media only screen and (min-width: 1024px) {
    #portal-footer .footer-wrapper {
        padding-right: 40px;
        padding-left: 40px;
    }
}
@media only screen and (min-width: 1280px) {
    #portal-footer .footer-wrapper {
        padding-right: 0;
        padding-left: 0;
    }
}

#portal-footer .govbr-logo {
    width: 165px;
    height: 60px;
    margin-bottom: 52px;
    background-image: url(https://www.gov.br/cidadania/++theme++padrao_govbr/img/govbr.png);
    background-size: cover;
}

#portal-footer .list-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 64px;
    padding-left: 0;
}
@media only screen and (max-width: 767px) {
    #portal-footer .list-navigation {
        display: block;
    }
}
#portal-footer .list-navigation li {
    display: block;
    flex: 1;
    padding-right: 8px;
    padding-bottom: 8px;
    min-width: 192px;
    position: relative;
}
@media only screen and (max-width: 767px) {
    #portal-footer .list-navigation li.dropdown-submenu:after {
        font-family: "Font Awesome 5 Free";
        font-size: 14px;
        font-weight: 900;
        content: "\F078";
        position: absolute;
        top: 15px;
        right: 10px;
        color: #fff;
    }
    #portal-footer .list-navigation li.dropdown-submenu.opened:after {
        content: "\F077";
    }
}
#portal-footer .list-navigation li a {
    display: block;
    min-height: 48px;
    margin-top: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}
#portal-footer .list-navigation li li a {
    display: block;
    min-height: auto;
    margin-top: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-transform: none;
}
#portal-footer .list-navigation li ul.submenu {
    display: block;
    position: static;
    padding: 0;
}
@media only screen and (max-width: 767px) {
    #portal-footer .list-navigation li ul.submenu {
        display: none;
        margin-top: 16px;
    }
    #portal-footer .list-navigation li ul.submenu .dropdown-submenu:after {
        content: "";
    }
}
#portal-footer .list-navigation li ul.submenu .submenu {
    display: none !important;
}
@media only screen and (max-width: 767px) {
    #portal-footer .list-navigation > li {
        padding-right: 8px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #fff;
    }
    #portal-footer .list-navigation > li.dropdown-submenu {
        cursor: pointer;
    }
    #portal-footer .list-navigation > li:first-child {
        border-top: 1px solid #fff;
    }
    #portal-footer .list-navigation > li > a {
        display: inline;
    }
}

#portal-footer a {
    color: #fff !important;
}
#portal-footer a:hover {
    text-decoration: none;
    color: #5992ed !important;
}
#portal-footer a:focus {
    outline-color: #ffbe2e;
    outline-style: dashed;
    outline-offset: 4px;
    outline-width: 2px;
}
#portal-footer a:focus:not(.focus-visible) {
    outline: none;
}

#portal-footer .redes-e-logos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}
@media only screen and (max-width: 575px) {
    #portal-footer .redes-e-logos {
        display: block;
    }
}
#portal-footer .redes-e-logos .redes-sociais {
    padding-top: 10px;
}
#portal-footer .redes-e-logos > div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
#portal-footer .redes-e-logos .redes-sociais .titulo {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
#portal-footer .redes-e-logos #footer-brasil {
    background-color: transparent !important;
}
#portal-footer .redes-e-logos #footer-brasil #wrapper-footer-brasil {
    padding-top: 10px;
}
@media only screen and (max-width: 575px) {
    #portal-footer .redes-e-logos #footer-brasil #wrapper-footer-brasil {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-top: 32px;
    }
}
#portal-footer .redes-e-logos #footer-brasil a {
    -webkit-filter: invert(1);
    filter: invert(1);
}
#portal-footer .redes-e-logos #footer-brasil a:focus {
    outline-color: #c2850c;
    outline-style: dashed;
    outline-offset: 4px;
    outline-width: 2px;
}
#portal-footer .redes-e-logos #footer-brasil a:focus:not(.focus-visible) {
    outline: none;
}
#portal-footer .redes-e-logos #footer-brasil a:focus {
    outline-color: #0073ff;
}

#footer-brasil #wrapper-footer-brasil {
    width: 95%;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: 40px 0;
}

#footer-brasil .logo-acesso-footer {
    width: 117px;
    height: 49px;
    margin-right: 45px;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20117%2049%22%20height%3D%2249%22%20width%3D%22117%22%20shape-rendering%3D%22geometricPrecision%22%20text-rendering%3D%22geometricPrecision%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%3C!%5BCDATA%5B.a%20%7Bfont%3A%20normal%20bold%2011px%20Open%20Sans%2C%20sans-serif%3B%7D%5D%5D%3E%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ccircle%20cx%3D%2222%22%20cy%3D%2223%22%20r%3D%2222%22%20fill%3D%22%23222%22%2F%3E%3Cpath%20style%3D%22stroke%3A%23fff%3Bstroke-width%3A9%3Bstroke-linecap%3Around%3B%22%20d%3D%22m%2022%2C23%20v%2013%22%2F%3E%3Cpath%20style%3D%22stroke%3A%23222%3Bstroke-width%3A4%3Bstroke-linejoin%3Around%3B%22%20d%3D%22m%204%2C43%203%2C-6%204%2C3%20z%22%2F%3E%3Ccircle%20r%3D%224.5%22%20cy%3D%2211%22%20cx%3D%2222%22%20fill%3D%22%23fff%22%2F%3E%3Cg%20fill%3D%22%23222%22%3E%3Ctext%20x%3D%2247%22%20y%3D%2222%22%3E%3Ctspan%20class%3D%22a%22%20y%3D%2218%22%3EAcesso%20%C3%A0%3C%2Ftspan%3E%3Ctspan%20class%3D%22a%22%20x%3D%2247%22%20y%3D%2231%22%3EInforma%C3%A7%C3%A3o%3C%2Ftspan%3E%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fsvg%3E);
}
#footer-brasil .logo-governo-federal {
    width: 149px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20496.2%20143.8%22%3E%3Cstyle%3E.st0%7Bfill%3A%23575756%7D%3C%2Fstyle%3E%3Cpath%20d%3D%22M220.5%2054.5c14.5%200%2021.4%206%2021.4%2016%200%205.6-3.7%2010.4-9.2%2012.4%206.7%201.8%2012.5%207.9%2012.5%2015.5%200%209.8-7.1%2017.2-23.4%2017.2-8%200-14.4-.2-21.7-.3l-.6-.6V55.4l.6-.6c7.2-.1%2013.9-.3%2020.4-.3zm-10.7%2025.4h10.3c9.2%200%2011.3-4.9%2011.3-9.1%200-4.3-1.9-9.1-11.1-9.1-2.8%200-7.4%200-10.5-.1v18.3zm0%207.2v21.4c4.1%200%208.3-.1%2011.9-.1%2010.6%200%2012.8-6.1%2012.8-10.6%200-4.4-2.9-10.7-13.4-10.7h-11.3zM284.5%2088.7c3.2%201.1%205.6%204.1%207%207.5l4.3%2010.3c1%202.4%202.2%204.8%204.4%206.4-1.4%201.9-4.4%202.9-7.1%202.9-3.9%200-5.3-1.9-6.9-5.7l-4.9-11.9c-1.7-4.1-3.8-7.2-9.9-7.2h-8.1v24.3c-1.6.3-3.5.4-5.2.4-1.6%200-3.6-.1-5.1-.4V55.4l.6-.6c7.4-.1%2014.5-.3%2021.1-.3%2013.7%200%2022.3%206.4%2022.3%2018.1.1%208.1-5.3%2014.1-12.5%2016.1zm-21.1-5.3c3.8-.1%208.2-.2%2010.9-.2%209.6%200%2012-5.5%2012-10.6%200-5.4-2.4-10.7-12-10.7-2.9%200-7.6%200-10.9-.1v21.6zM320.8%20100.5l-5.2%2014.8c-1.3.3-2.9.4-4.5.4-1.9%200-3.7-.3-5.1-.6l-.3-.4L327.9%2055c1.6-.3%204.3-.4%206-.4%201.7%200%204.4.1%205.9.4l22%2059.7c-1.5.9-3.8%201.2-6.1%201.2-3.2%200-4.9-1.1-6.2-4.9l-3.6-10.3c-1.7%200-5.1.1-5.9.1h-13.5c-.8-.2-4-.3-5.7-.3zm2.6-7.6c1.6%200%204.2-.1%205-.1h9.8c.7%200%203.3.1%204.9.1l-4.5-12.8c-1.8-5.1-3.8-11.3-5.2-16h-.4c-1%204-2.8%209.5-3.8%2012.8l-5.8%2016zM371.1%20102.5c5.7%203.4%2013%206%2019.8%206%208%200%2012.5-3.4%2012.6-8.3%200-4.2-3.2-7.3-8.9-9.5L383%2086.2c-8.3-3.2-13.5-7.8-13.5-15.3%200-9.6%209-17.1%2022.2-17.1%208.2%200%2015.7%202.3%2020.8%204.6-.1%202.7-1.7%205.6-3.8%207.3-5.1-2.3-11.8-4.2-16.8-4.2-7.3%200-11.8%203.6-11.8%208.3%200%203.9%203.3%206.1%208.2%208l11.4%204.4c8.5%203.2%2014.7%208.6%2014.7%2016.4%200%2010.2-7.9%2017.8-24.1%2017.8-8.2%200-17-2.5-23.6-6.6.3-2.8%202.2-5.7%204.4-7.3zM426.6%2054.9c1.5-.3%203.6-.4%205.2-.4s3.6.1%205.2.4v60.3c-1.6.3-3.6.4-5.2.4s-3.7-.1-5.2-.4V54.9zM492.9%20107.1c0%201-.1%202.6-.3%203.7-.6%203-3%204.5-6.8%204.5h-25.7c-3.5%200-6.1-2-6.1-5.8V55l.7-.5h3.9c4.3%200%205.9%201.9%205.9%206v46.9c3-.3%206.1-.4%208.7-.4h19.7zM209.6%2034.6h-4.1v10.1c-.9.2-2.1.2-3%20.2-.8%200-2%200-3-.2V14.5l.3-.3c3.6-.1%206.5-.2%209.7-.2%206.1%200%2010.6%203.3%2010.6%2010.3%200%206.8-4.4%2010.3-10.5%2010.3zm-4.1-4.6c1.5%200%203.1-.1%203.7-.1%204%200%204.8-3.2%204.8-5.6%200-2.4-.8-5.6-4.8-5.6h-3.7V30zM227.2%2037.8l-2.1%206.9c-.8.2-1.6.2-2.6.2-.9%200-2.1-.1-2.8-.4l-.2-.3%209.9-30c1-.1%202.4-.2%203.5-.2.9%200%202.5.1%203.4.3l9.7%2030c-.8.5-2.3.8-3.4.8-1.9%200-2.8-.7-3.6-3.2l-1.2-4.1H227.2zm1.5-4.7H236.4l-1.3-4.5c-.8-2.5-1.7-6-2.4-8.6h-.3c-.4%202.3-1.4%205.5-2%207.5l-1.7%205.6zM252.3%2022.5v-3.3H244.7c-.2-.9-.2-1.8-.2-2.5s0-1.6.2-2.5H266c.2.6.3%201.6.3%202.3%200%202-1%202.7-3.2%202.7H258.3v25.5c-1%20.2-2.1.2-3%20.2-.8%200-2%200-3-.2V22.5zM285.4%2031.6c1.6.6%202.7%202.1%203.3%203.9l1.6%204.5c.4%201.2%201.1%202.4%202.1%203.2-.8%201.1-2.4%201.8-4%201.8-2.2%200-2.9-1.2-3.8-3.5l-1.9-5.3c-.7-1.8-1.6-3.2-4.1-3.2H276v11.7c-1%20.2-2.1.2-3%20.2-.8%200-2%200-2.9-.2V14.5l.3-.3c3.6-.1%206.9-.2%2010.2-.2%206.2%200%2010.5%203.1%2010.5%209.4-.1%204.3-2.8%207.2-5.7%208.2zm-9.4-3.2c1.6-.1%203.2-.1%204.1-.1%203.9%200%204.8-2.4%204.8-4.8%200-2.5-.9-4.8-4.8-4.8H276v9.7zM297.3%2014.3c.9-.2%202.2-.2%203-.2.8%200%202%200%203%20.2v30.4c-1%20.2-2.1.2-3%20.2-.8%200-2.1%200-3-.2V14.3zM315.4%2037.8l-2.1%206.9c-.8.2-1.6.2-2.6.2-.9%200-2.1-.1-2.8-.4l-.2-.3%209.9-30c1-.1%202.4-.2%203.5-.2.9%200%202.5.1%203.4.3l9.8%2030c-.8.5-2.3.8-3.4.8-1.9%200-2.8-.7-3.6-3.2l-1.2-4.1h-10.7zm1.5-4.7H324.6l-1.3-4.5c-.8-2.5-1.7-6-2.4-8.6h-.3c-.4%202.3-1.4%205.5-2%207.5l-1.7%205.6zM353.1%2037.8l-2.1%206.9c-.8.2-1.6.2-2.6.2-.9%200-2.1-.1-2.8-.4l-.2-.3%209.9-30c1-.1%202.4-.2%203.5-.2.9%200%202.5.1%203.4.3l9.7%2030c-.8.5-2.3.8-3.4.8-1.9%200-2.8-.7-3.6-3.2l-1.2-4.1H353.1zm1.4-4.7H362.2l-1.3-4.5c-.8-2.5-1.7-6-2.4-8.6h-.3c-.4%202.3-1.4%205.5-2%207.5l-1.7%205.6zM377.7%2014.3c1.3-.2%203-.3%204-.3%201.1%200%202.5.1%203.8.3l3.4%2012.3c.3%201.2%201.4%205.8%201.7%207.6h.3c.3-1.8%201.4-6.4%201.7-7.6l3.4-12.3c1.3-.2%202.8-.3%203.8-.3%201.1%200%202.7.1%204.1.3l2.4%2030.3c-.8.2-2%20.3-3%20.3-.9%200-1.8%200-2.6-.2l-.8-14.3c-.2-2.8-.4-6.9-.4-9.7h-.3L394%2040.1c-.9.1-2.2.2-3.1.2-.8%200-2.1-.1-3-.2l-5.2-19.4h-.3c0%202.8-.2%206.9-.4%209.7l-1%2014.3c-.8.1-1.7.2-2.7.2-.9%200-2.1-.1-3-.3l2.4-30.3zM417.4%2037.8l-2.1%206.9c-.8.2-1.6.2-2.6.2-.9%200-2.1-.1-2.8-.4l-.2-.3%209.9-30c1-.1%202.4-.2%203.5-.2.9%200%202.5.1%203.4.3l9.7%2030c-.8.5-2.3.8-3.4.8-1.9%200-2.8-.7-3.6-3.2l-1.2-4.1H417.4zm1.5-4.7H426.6l-1.3-4.5c-.8-2.5-1.7-6-2.4-8.6h-.3c-.4%202.3-1.4%205.5-2%207.5l-1.7%205.6zM459.4%2042.7c-2%201.6-5.6%202.2-8%202.2-3.7%200-6.6-.1-10.5-.2l-.3-.3v-30l.3-.3c3.8-.1%206.8-.2%2010.5-.2%202.4%200%206%20.6%208%202.2%204.1%203.3%204.9%208%204.9%2013.2-.1%205.4-.8%2010.1-4.9%2013.4zm-8-23.9h-4.9v21.5h4.9c5.8%200%206.7-5.8%206.7-10.7%200-5-.9-10.8-6.7-10.8zM474%2037.8l-2.1%206.9c-.8.2-1.6.2-2.6.2-.9%200-2.1-.1-2.8-.4l-.2-.3%209.9-30c1-.1%202.4-.2%203.5-.2.9%200%202.5.1%203.4.3l9.8%2030c-.8.5-2.3.8-3.4.8-1.9%200-2.8-.7-3.6-3.2l-1.2-4.1H474zm1.5-4.7H483.2l-1.3-4.5c-.8-2.5-1.7-6-2.4-8.6h-.3c-.4%202.3-1.4%205.5-2%207.5l-1.7%205.6zM238.2%203.9c.9.5%202.1%201.9%202.4%203.2l-7.4%204.4c-.7-.3-1.4-1.3-1.6-2l6.6-5.6z%22%2F%3E%3Cg%3E%3Cpath%20d%3D%22M206.9%20133.7h3.4c1.5%200%202.3.7%202.3%202.2v5.7c-1.9.6-3.8.9-5.9.9-1%200-2-.2-2.8-.5-.8-.3-1.5-.8-2-1.5-.5-.6-.9-1.4-1.2-2.4-.3-.9-.4-2-.4-3.2%200-1.3.2-2.5.6-3.4s.9-1.8%201.5-2.4c.6-.6%201.4-1.1%202.2-1.5.8-.3%201.7-.5%202.6-.5%201.9%200%203.6.5%205.3%201.6%200%20.2-.1.5-.2.7-.1.2-.2.5-.3.7-.1.2-.3.4-.5.6-.2.2-.4.3-.6.5-1.2-.8-2.4-1.2-3.6-1.2-2.4%200-3.5%201.6-3.5%204.9%200%203.3%201.2%204.9%203.6%204.9h1c.3%200%20.6-.1.9-.1v-1.4-.9-.6h-1.1c-.6%200-1-.1-1.3-.4-.2-.2-.4-.6-.4-1.1.1-.6.2-1.1.4-1.6zM224.2%20141.1c-1.5-1.3-2.3-3.4-2.3-6.3%200-1.3.1-2.4.4-3.3.3-1%20.7-1.8%201.3-2.4.6-.6%201.2-1.1%202-1.5.8-.3%201.7-.5%202.7-.5%201%200%201.9.2%202.7.5.8.3%201.5.8%202%201.5.6.7%201%201.5%201.3%202.4.3%201%20.4%202.1.4%203.3%200%201.3-.1%202.4-.4%203.3-.3%201-.7%201.8-1.3%202.4-.6.6-1.2%201.1-2%201.5-.8.3-1.7.5-2.7.5-1.7-.1-3-.5-4.1-1.4zm1.7-3c.4%201.1%201.2%201.7%202.4%201.7.6%200%201.1-.1%201.4-.4.4-.3.7-.7.9-1.1.2-.5.3-1%20.4-1.5.1-.6.1-1.1.1-1.7%200-.5%200-1.1-.1-1.7%200-.6-.1-1.2-.3-1.7-.2-.5-.4-1-.8-1.4-.4-.4-.9-.6-1.6-.6-.7%200-1.2.2-1.6.5-.4.4-.6.8-.8%201.3-.2.5-.3%201.1-.3%201.7%200%20.6-.1%201.1-.1%201.5%200%20.7%200%201.3.1%201.8%200%20.5.1%201%20.3%201.6zM249.6%20139.2l2.8-11.9c.3-.1.8-.1%201.3-.1.8%200%201.3.1%201.8.2l.1.2-4%2014.5c-.8.1-1.6.1-2.5.1-.8%200-1.4-.1-1.8-.3-.4-.2-.6-.6-.8-1.2l-3.6-13.1c.8-.3%201.4-.5%201.9-.5.6%200%201.1.1%201.3.4.3.3.5.7.7%201.3l1.7%206.2c.3%201%20.5%202.3.8%203.9.1.2.1.3.3.3zM268.3%20137.7v1.6h6.6c0%20.5%200%20.9-.1%201.2-.2%201.1-.9%201.7-2.2%201.7h-5.8c-.6%200-1.1-.2-1.5-.5-.4-.4-.5-.9-.5-1.5v-12.7l.2-.2h9.3c.1.4.1.9.1%201.4s-.1%201-.3%201.5h-5.9v3.1h4.8c.1.4.2.9.2%201.4%200%20.5-.1%201-.2%201.4h-4.8v1.6zM295.3%20131.9c0%20.5-.1.9-.2%201.4-.1.4-.3.8-.6%201.1-.2.3-.5.6-.8.9-.3.3-.7.4-1%20.6.8.3%201.3.9%201.7%202l.6%201.8c.2.7.6%201.3%201.1%201.6-.2.3-.5.5-1%20.7-.4.2-.9.3-1.4.3-.5%200-.9-.1-1.2-.4-.3-.3-.6-.8-.8-1.5l-.8-2.3c-.2-.4-.4-.8-.6-1-.3-.2-.7-.3-1.2-.3h-.9v5.4c-.5.1-1%20.1-1.7.1s-1.3%200-1.7-.1v-14.7l.2-.2c1.3%200%202.3%200%203.2-.1h2c.8%200%201.5.1%202.2.3.6.2%201.2.5%201.7.9s.8.9%201.1%201.5c0%20.5.1%201.2.1%202zm-7.1-2.1v4.3h1.7c.5%200%20.8-.1%201.1-.3.3-.2.5-.4.6-.6.1-.3.2-.7.2-1.2%200-1.4-.7-2.1-2-2.1h-.9c-.3-.1-.5-.1-.7-.1zM317.1%20127.2l.2.2V142c-.6.1-1.3.2-2%20.2s-1.5%200-2.1-.1l-3.4-7.7c-.4-.9-.8-1.9-1.2-3.1h-.1c.2%202.1.3%204.3.3%206.5v4.3c-.4.1-1%20.1-1.6.1-.6%200-1.2%200-1.6-.1v-14.7c.5-.1%201.2-.2%202-.2s1.5%200%202.1.1l3.4%207.7c.6%201.4%201.1%202.5%201.3%203.3h.1c-.2-2-.3-4.1-.3-6.4v-2.6c0-.8.2-1.3.5-1.6.3-.3.8-.5%201.5-.5h.9zM329.4%20141.1c-1.5-1.3-2.3-3.4-2.3-6.3%200-1.3.1-2.4.4-3.3.3-1%20.7-1.8%201.3-2.4.6-.6%201.2-1.1%202-1.5.8-.3%201.7-.5%202.7-.5%201%200%201.9.2%202.7.5.8.3%201.5.8%202%201.5.6.7%201%201.5%201.3%202.4.3%201%20.4%202.1.4%203.3%200%201.3-.1%202.4-.4%203.3-.3%201-.7%201.8-1.3%202.4-.6.6-1.2%201.1-2%201.5-.8.3-1.7.5-2.7.5-1.6-.1-3-.5-4.1-1.4zm1.7-3c.4%201.1%201.2%201.7%202.4%201.7.6%200%201.1-.1%201.4-.4.4-.3.7-.7.9-1.1.2-.5.3-1%20.4-1.5.1-.6.1-1.1.1-1.7%200-.5%200-1.1-.1-1.7%200-.6-.1-1.2-.3-1.7-.2-.5-.4-1-.8-1.4-.4-.4-.9-.6-1.6-.6-.7%200-1.2.2-1.6.5-.4.4-.6.8-.8%201.3-.2.5-.3%201.1-.3%201.7%200%20.6-.1%201.1-.1%201.5%200%20.7%200%201.3.1%201.8s.2%201%20.3%201.6zM365.4%20130.3V133.4h4.7c.1.4.2.9.2%201.4%200%20.5-.1%201-.2%201.4h-4.7v6c-.5.1-1%20.1-1.7.1s-1.3%200-1.7-.1v-14.7l.2-.1h9.3c.1.4.1.8.1%201.4s-.1.9-.4%201.2c-.3.3-.8.4-1.4.4h-4.4zM384.4%20137.7v1.6h6.6c0%20.5%200%20.9-.1%201.2-.2%201.1-.9%201.7-2.2%201.7H383c-.6%200-1.1-.2-1.5-.5-.4-.4-.5-.9-.5-1.5v-12.7l.2-.2h9.3c.1.4.1.9.1%201.4s-.1%201-.3%201.5h-5.9v3.1h4.8c.1.4.2.9.2%201.4%200%20.5-.1%201-.2%201.4h-4.8v1.6zM410.4%20141.2c-.5.4-1.1.6-1.8.8-.8.2-1.6.3-2.5.3h-1.9c-.8%200-1.9%200-3.2-.1l-.2-.2v-14.6l.2-.2c.8%200%201.7%200%202.6-.1h2.8c1.2%200%202.3.2%203.1.6.8.4%201.5.9%202%201.6s.8%201.5%201%202.4c.2.9.3%201.9.3%203%200%201.4-.2%202.7-.5%203.7-.3%201.1-1%202-1.9%202.8zm-4-1.7c1.9%200%202.9-1.6%202.9-4.8%200-3.2-1-4.8-2.9-4.8h-2.1v9.7h.9c.3-.1.7-.1%201.2-.1zM426.1%20137.7v1.6h6.6c0%20.5%200%20.9-.1%201.2-.2%201.1-.9%201.7-2.2%201.7h-5.8c-.6%200-1.1-.2-1.5-.5-.4-.4-.5-.9-.5-1.5v-12.7l.2-.2h9.3c.1.4.1.9.1%201.4s-.1%201-.3%201.5H426v3.1h4.8c.1.4.2.9.2%201.4%200%20.5-.1%201-.2%201.4H426v1.6zM453.1%20131.9c0%20.5-.1.9-.2%201.4s-.3.8-.6%201.1c-.2.3-.5.6-.8.9-.3.3-.7.4-1%20.6.8.3%201.3.9%201.7%202l.6%201.8c.2.7.6%201.3%201.1%201.6-.2.3-.5.5-1%20.7-.4.2-.9.3-1.4.3-.5%200-.9-.1-1.2-.4-.3-.3-.6-.8-.8-1.5l-.8-2.3c-.2-.4-.4-.8-.6-1-.3-.2-.7-.3-1.2-.3h-.9v5.4c-.5.1-1%20.1-1.7.1s-1.3%200-1.7-.1v-14.7l.2-.2c1.3%200%202.3%200%203.2-.1h2c.8%200%201.5.1%202.2.3.6.2%201.2.5%201.7.9s.8.9%201.1%201.5c0%20.5.1%201.2.1%202zm-7.2-2.1v4.3h1.7c.5%200%20.8-.1%201.1-.3.3-.2.5-.4.6-.6.1-.3.2-.7.2-1.2%200-1.4-.7-2.1-2-2.1h-.9c-.2-.1-.5-.1-.7-.1zM466.8%20139h-.9l-.9%203.1c-.3.1-.8.1-1.4.1-.7%200-1.3-.1-1.7-.2l-.1-.2%204.8-14.5c.6-.1%201.2-.1%202-.1.9%200%201.5.1%202%20.2l4.7%2014.5c-.5.3-1.1.4-1.7.4-.8%200-1.3-.1-1.6-.4-.3-.3-.6-.8-.8-1.5l-.4-1.4h-4zm0-2.7h3.3l-.4-1.3c-.3-1.2-.7-2.7-1.2-4.5h-.1c-.1.6-.5%202-1%204.1l-.6%201.7zM489.9%20139.2h3.8c0%20.6%200%201.1-.1%201.5-.1.4-.3.8-.7%201.1-.4.3-.9.4-1.5.4h-4.9c-.6%200-1.1-.2-1.5-.5-.4-.4-.5-.9-.5-1.5v-12.8l.2-.2h1.3c1.3%200%202%20.7%202%202.2v9.9c.5-.1%201.2-.1%201.9-.1z%22%2F%3E%3C%2Fg%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M.7%2014v69.8l72.1-58.2%20109.1%2048.1V14z%22%2F%3E%3Cpath%20d%3D%22M.7%2083.8v49.4s5.8-5%2016.5-12.2C22.4%2089.1%2050%2064.8%2083.3%2064.8c15.1%200%2029%205%2040.2%2013.4%2017.9-3.3%2037.4-5.1%2058.3-4.5l-109-48.1L.7%2083.8z%22%20fill%3D%22%23c6c6c6%22%2F%3E%3Cpath%20d%3D%22M83.3%2064.8c-33.3%200-60.9%2024.3-66%2056.2%2019.9-13.2%2057-33.7%20106.3-42.8-11.2-8.4-25.2-13.4-40.3-13.4z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M140.2%2096.5C79.3%20100%2037.4%20119.4%2016.4%20131.8%206%20137.9.7%20142.3.7%20142.3h181.1V96.6c-14.7-.9-28.5-.9-41.6-.1z%22%2F%3E%3C%2Fsvg%3E);
}

.portal-redes {
    padding-left: 0;
}
.portal-redes .portalredes-item {
    display: inline-block;
    position: relative;
    background-image: none;
    margin: 0;
    width: 32px;
    height: 32px;
}
.portal-redes .portalredes-item:before {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    font-family: "Font Awesome 5 Brands";
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    pointer-events: none;
    font-weight: 400;
}
.portal-redes .portalredes-item.portalredes-twitter:before {
    content: "\F099";
}
.portal-redes .portalredes-item.portalredes-youtube:before {
    content: "\F167";
}
.portal-redes .portalredes-item.portalredes-facebook:before {
    content: "\F39E";
}
.portal-redes .portalredes-item.portalredes-flickr:before {
    content: "\F16E";
}
.portal-redes .portalredes-item.portalredes-soundcloud:before {
    content: "\F1BE";
}
.portal-redes .portalredes-item.portalredes-googleplus:before {
    content: "\F0D5";
}
.portal-redes .portalredes-item.portalredes-slideshare:before {
    content: "\F1E7";
}
.portal-redes .portalredes-item.portalredes-rss:before {
    content: "\F09E";
    font-family: "Font Awesome 5 Brands";
    font-weight: 600;
}
.portal-redes .portalredes-item.portalredes-instagram:before {
    content: "\F16D";
}
.portal-redes .portalredes-item.portalredes-tumblr:before {
    content: "\F173";
}
.portal-redes .portalredes-item a {
    text-indent: -9000px;
    font-size: 0;
    position: absolute;
    width: 20px;
    height: 32px;
    top: 0;
    left: 0;
}
footer.portal-footer .portal-redes .portalredes-item:before {
    color: #fff;
}

/* CONTRASTE ACESSABILIDADE*/
body.contraste {
    color: #fff;
    background-color: #000 !important;
}
body.contraste #category,
body.contraste #category-vcge,
body.contraste #content #description,
body.contraste #content #tile_banner_rotativo .credito,
body.contraste #content #tile_banner_rotativo .descr,
body.contraste #content #tile_banner_rotativo .title,
body.contraste #content .documentByLine .summary-view-icon,
body.contraste #content .documentDescription,
body.contraste #content .gallery-element-metadata .title,
body.contraste #content .poll-tile .poll-tile-header > .header,
body.contraste #content .poll-tile .tile-content-wrapper > form > input[type="radio"] + span,
body.contraste #content .pullquote,
body.contraste #content .subtitle,
body.contraste #content .tile-em-alta .tile-header h2,
body.contraste #content article #viewlet-below-content-title .documentModified,
body.contraste #content article #viewlet-below-content-title .documentPublished,
body.contraste #content article div[property*="articleBody"] p,
body.contraste #content div.newsImageContainer p.discreet,
body.contraste #doormat-container dt,
body.contraste #error-reporting .formControls input,
body.contraste #galeria_de_fotos,
body.contraste #logo #portal-logo,
body.contraste #logo #portal-title,
body.contraste #parent-fieldname-text:first-letter,
body.contraste #plone-document-byline,
body.contraste #portal-breadcrumbs > span > span.breadcrumbSeparator,
body.contraste #portal-breadcrumbs span,
body.contraste .cover-collection-tile .tile-header span,
body.contraste .cover-collection-tile p,
body.contraste .cycle-player .cycle-overlay,
body.contraste .galeria_container,
body.contraste .galleria-info-description,
body.contraste .galleria-info-text .rights,
body.contraste .item-central .link-central,
body.contraste .lista-vertical .tile-header h3,
body.contraste .lista-vertical .tile-header span,
body.contraste .nitfByline,
body.contraste.portaltype-collective-cover-content div.row.linha-destacada,
body.contraste.portaltype-collective-cover-content div.row.linha-discreta,
body.contraste.template-facetednavigation_view #content .tileItem .keywords,
body.contraste.template-folder_summary_view #content .tileItem .keywords,
body.contraste.template-summary_view #content .tileItem .description,
body.contraste.template-summary_view #content .tileItem .documentByLine,
body.contraste.template-summary_view #content .tileItem .keywords,
body.contraste.template-summary_view #content .tileItem .subtitle,
body.contraste .tile-content p,
body.contraste .tile-subtitle,
body.contraste .tile p,
body.contraste .videogallery-tile .description,
body.contraste .videogallery-tile .subtitle,
body.contraste div[property="rnews:articleBody"]:first-letter,
body.contraste footer,
body.contraste h1,
body.contraste h2,
body.contraste h3,
body.contraste h4,
body.contraste h5,
body.contraste h6,
body.contraste header,
body.contraste header#header .header-wrapper,
body.contraste header#header .navigation-wrapper,
body.contraste p.nitfSubtitle,
body.contraste p.section {
    color: #fff !important;
    background-color: #000 !important;
    border-color: #fff !important;
}
body.contraste .header-accessibility li a.link-acesso i,
body.contraste .header-accessibility li a.link-contraste i {
    padding: 8px;
    color: #fff;
    background: #000;
    border-radius: 50%;
    border: 1px solid #fff;
}
body.contraste .portaltype-collective-cover-content #content .busca-destaque-home .assuntos-em-alta {
    background-color: #000 !important;
}
body.contraste .header-accessibility li a.link-contraste i {
    color: #000 !important;
}
body.contraste #portal-logo,
body.contraste #portal-title-1,
body.contraste .ico-navegacao .fa-bars:before {
    color: #fff !important;
}
body.contraste .cards li {
    background-color: #000 !important;
    border: 1px solid #fff;
}
body.contraste .cards li a {
    color: #fff !important;
}
body.contraste #main-navigation li,
body.contraste #main-navigation ul {
    background-color: #000 !important;
}
body.contraste #main-navigation a,
body.contraste
    header#header
    .navigation-wrapper
    .navigation-content
    #main-navigation
    .list-navigation
    li
    ul.submenu
    li
    a.state-published {
    color: #fff !important;
}
body.contraste .busca-destaque-home .assuntos-em-alta {
    background-color: #000 !important;
}
body.contraste .busca-destaque-home .input-wrapper:after {
    color: #fff !important;
}
body.contraste #content .gallery-footer a,
body.contraste #content .gallery-footer a:hover,
body.contraste #content .outstanding-header .outstanding-link:hover,
body.contraste #content a:hover,
body.contraste #content article #viewlet-below-content-title .contentHistory a,
body.contraste #main-navigation a:hover,
body.contraste #main-navigation a:link,
body.contraste #main-navigation a:visited,
body.contraste #portal-breadcrumbs a,
body.contraste #portal-column-one > .nav-menu-de-relevancia .first-item-nav a,
body.contraste #portal-column-one > .nav-menu-de-relevancia .first-item-nav a span,
body.contraste #portal-footer a,
body.contraste #portal-footer a:hover,
body.contraste #portal-siteactions a,
body.contraste #portal-siteactions a:hover,
body.contraste .galleria-info-title a,
body.contraste .galleria-info-title a:hover,
body.contraste .outstanding-header .outstanding-link,
body.contraste.portaltype-collection .keywords a,
body.contraste.portaltype-collection h2.tileHeadline a,
body.contraste.portaltype-collective-cover-content #content div.row.linha-destacada .box-branco .tile a:hover,
body.contraste.portaltype-collective-cover-content #content div.row.linha-destacada .box-branco .tile a:link,
body.contraste.portaltype-collective-cover-content #content div.row.linha-destacada .box-branco .tile a:visited,
body.contraste .portletNavigationTree > .portletItem a span,
body.contraste .template-filtro-de-resultados .keywords a,
body.contraste.template-filtro-de-resultados h2.tileHeadline a,
body.contraste.template-summary_view #content .tileItem .tileHeadline a,
body.contraste.template-view #content .tile-em-alta a,
body.contraste .tile a,
body.contraste a,
body.contraste dl.portlet a:hover,
body.contraste ul.paginacao li a {
    color: #fff !important;
    text-decoration: underline !important;
    border-color: #fff !important;
}
body.contraste #error-reporting,
body.contraste .column.colunas-destacadas,
body.contraste .column.colunas-discretas,
body.contraste .colunas-destacadas .column,
body.contraste .colunas-discretas .column,
body.contraste.portaltype-collective-cover-content #content div.row.linha-destacada .box-branco .tile {
    background-color: transparent !important;
    outline: none !important;
}
body.contraste header#header .navigation-content:before {
    display: none;
}
body.contraste #portal-breadcrumbs #breadcrumbs-home a:before {
    background-image: url(img/sprite.png);
    background-position: -269px -117px;
    width: 17px;
    height: 12px;
}
body.contraste #portal-breadcrumbs .breadcrumbSeparator {
    background-image: url(img/sprite.png);
    background-position: -129px -223px;
    width: 26px;
    height: 21px;
}
body.contraste #portal-breadcrumbs > span > span.breadcrumbSeparator,
body.contraste #portal-breadcrumbs span {
    background-color: transparent !important;
}
body.contraste #viewlet-social-like > div {
    background: transparent;
}
body.contraste #viewlet-social-like > div:before {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
body.contraste .header-accessibility .link-contraste:before,
body.contraste .header-accessibility .link-vlibras:before,
body.contraste .header-icons .ico-busca,
body.contraste .header-icons .ico-navegacao {
    -webkit-filter: none;
    filter: none;
}
body.contraste #portalredes-twitter {
    background-image: url(img/sprite.png);
    background-position: -99px -159px;
    width: 27px;
    height: 28px;
}
body.contraste #portalredes-youtube {
    background-image: url(img/sprite.png);
    background-position: -35px -159px;
    width: 32px;
    height: 28px;
}
body.contraste #portalredes-flickr {
    background-image: url(img/sprite.png);
    background-position: -210px -98px;
    width: 29px;
    height: 29px;
}
body.contraste #portalredes-facebook {
    background-image: url(img/sprite.png);
    background-position: -27px -223px;
    width: 25px;
    height: 28px;
}
body.contraste #portalredes-googleplus {
    background-image: url(img/sprite.png);
    background-position: -210px -156px;
    width: 29px;
    height: 29px;
}
body.contraste #portalredes-slideshare {
    background-image: url(img/sprite.png);
    background-position: -203px -194px;
    width: 29px;
    height: 29px;
}
body.contraste #portalredes-soundcloud {
    background-image: url(img/sprite.png);
    background-position: -240px -58px;
    width: 29px;
    height: 29px;
}
body.contraste #portalredes-rss {
    background-image: url(img/sprite.png);
    background-position: -116px -194px;
    width: 29px;
    height: 29px;
}
body.contraste #portalredes-instagram {
    background-image: url(img/sprite.png);
    background-position: -29px -194px;
    width: 29px;
    height: 29px;
}
body.contraste #portalredes-tumblr {
    background-image: url(img/sprite.png);
    background-position: -240px -116px;
    width: 29px;
    height: 29px;
}
html body.contraste #portal-footer .coluna-menu .rodape-navigation li.plain.dropdown-submenu:after,
html body.contraste #wrapper #main #main-content #content *,
html body.contraste .nitf-basic-tile .share .share-more:before {
    color: #fff !important;
    border-color: #fff !important;
}
html body.contraste #content #content-core .visao-servico .anchors,
html body.contraste #content #content-core .visao-servico .canais-atendimento .cards li,
html body.contraste #content #content-core .visao-servico .informacao-foi-util,
html body.contraste .nitf-basic-tile .share .share-more:after,
html body.contraste.portaltype-collective-cover-content #content .numeros-governo,
html body.contraste.portaltype-collective-cover-content #content .servicos-em-destaque,
html body.contraste.portaltype-collective-cover-content #main #main-content #content .linha-destacada.fundo-azul,
html
    body.contraste.portaltype-collective-cover-content
    #main-content
    #content
    .busca-destaque-home
    .input-wrapper
    input,
html body.contraste.portaltype-collective-cover-content .lista-servicos .itens .list-item,
html body.contraste.section-pagina-inicial #content .numeros-governo,
html body.contraste.section-pagina-inicial #content .servicos-em-destaque,
html body.contraste .section-pagina-inicial #main #main-content #content .linha-destacada.fundo-azul,
html body.contraste .section-pagina-inicial #main-content #content .busca-destaque-home .input-wrapper input,
html body.contraste.section-pagina-inicial .lista-servicos .itens .list-item,
html body.contraste .servicos-em-destaque .itens .list-item,
html body.contraste header#header {
    background: #000 !important;
}
html body.contraste .lista-servicos.responsive .sliderControlBar .sliderControlBarTotal .sliderControlBarDial {
    background: #fff !important;
}
html body.contraste .fa-assistive-listening-systems:before,
html body.contraste .header-accessibility li a.link-contraste i.fas:before,
html body.contraste .language-selection > a.currentLanguage:after {
    -webkit-filter: invert(1);
    filter: invert(1);
}
html body.contraste .language-selection {
    background: inherit !important;
}
html body.contraste .site-header-links .link-acesso,
html body.contraste .site-header-links .link-acesso span {
    color: #fff !important;
    background: #000;
}
html body.contraste.template-listar_categorias #wrapper #content #content-core .menu-servicos .tabela-servicos {
    background: #222 !important;
}
html
    body.contraste.template-listar_categorias
    #wrapper
    #content
    #content-core
    .menu-servicos
    .tabela-servicos
    .level-1.open
    li.active
    a,
html
    body.contraste.template-listar_categorias
    #wrapper
    #content
    #content-core
    .menu-servicos
    .tabela-servicos
    .level-1.open
    li.active
    a
    .icon,
html
    body.contraste.template-listar_categorias
    #wrapper
    #content
    #content-core
    .menu-servicos
    .tabela-servicos
    .level-1.open
    li
    a
    .icon,
html
    body.contraste.template-listar_categorias
    #wrapper
    #content
    #content-core
    .menu-servicos
    .tabela-servicos
    .level-2 {
    background: #444 !important;
}
html
    body.contraste.template-listar_categorias
    #wrapper
    #content
    #content-core
    .menu-servicos
    .tabela-servicos
    .level-3
    li
    a:hover {
    color: #000 !important;
}
html
    body.contraste.template-listar_categorias
    #wrapper
    #content
    #content-core
    .menu-servicos
    .tabela-servicos
    .level-3 {
    background: #666 !important;
}
html body.contraste #main-navigation .submenu {
    background: #222;
}
html body.contraste #main-navigation .submenu .submenu {
    background: #393939;
}
html body.contraste .main {
    background: transparent !important;
}
html body.contraste .cover-list-tile.servicos-em-destaque-govbr .itens,
html body.contraste .cover-list-tile.servicos-mais-acessados .itens,
html body.contraste .govbr-history-render,
html body.contraste .recom-list,
html body.contraste .viewlet-institucionais-servicos-govbr {
    background-color: #000 !important;
}
html body.contraste .categoria-container .categoria,
html body.contraste .govbr-history-render .history-list ul li .month,
html body.contraste .govbr-history-render .history-list ul li .month:before,
html body.contraste .govbr-recom-render h2:before,
html body.contraste .tile-header h3:before,
html body.contraste .viewlet-institucionais-servicos-govbr a:before {
    color: #fff !important;
}

html body.contraste .breadcrumb {
    background-color: #000;
}
html body.contraste .card {
    background-color: #000;
    border: 1px solid #fff;
}
html body.contraste .btn-link {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}
html body.contraste .site-header-links .links-rapidos ul {
    background-color: #000;
}
html body.contraste #sidebar-wrapper {
    border: 1px solid #fff;
    background: #000;
}
html body.contraste .nav-side-menu {
    background-color: #000;
    color: #fff;
}
html body.contraste .nav-side-menu .sub-menu li,
html body.contraste .nav-side-menu .sub-menu li {
    background-color: #000;
    border-bottom: 1px solid #fff;
}
html body.contraste .nav-side-menu ul .active,
html body.contraste .nav-side-menu li .active {
    border-left: 3px solid #fff;
    background-color: #000;
}
html body.contraste .dropdown-menu {
    background-color: #000;
}

/* CONTRASTE ACESSABILIDADE*/

/* fim variable  badiu.theme.core.core.param.config.css*/

/*gov.br custom*/

/* gov bar */

@media screen and (min-width: 0px) and (max-width: 1349px) {
    #hmenu-barra-brasil {
        display: none;
    }
    #vmenu-barra-brasil {
        display: block;
    }
}

@media screen and (min-width: 1350px) {
    #hmenu-barra-brasil {
        display: block;
    }
    #vmenu-barra-brasil {
        display: none;
    }
}

#top-bar-header {
    right: 0;
    left: 0;
    z-index: 1031;
    max-height: 30px;
}

#top-bar-header .col {
    background-color: #071d41;
}
#top-bar-header .dropdown-menu {
    background-color: #071d41;
}

#top-bar-header img {
    height: 20px;
}

#top-bar-header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 0.7em;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    border: 0;
}

#top-bar-header nav ul li.espacador {
    width: 1px;
    border-right: 1px solid rgba(151, 151, 151, 0.3);
}

#hmenu-barra-brasil ul li {
    display: inline;
}
#hmenu-barra-brasil .list-group {
    display: inline;
}
/**  head  */
.sitename {
    margin-top: 7px;
}

/* template */
.list-group-item {
    background-color: #03063000;
    border: 1px solid #0b12713d;
}
.breadcrumb {
    background-color: #dee2e60a;
    border-bottom: 1px solid #0a1ee3db;
}

.card-header {
    background-color: #dee2e61f;
    border-bottom: 1px solid #ffc1072e;
}

a {
    color: #16559978;
}

.card-text:last-child {
    color: #999;
}

.h3,
h3 {
    color: #071d41;
}
a {
    color: #071d4199;
}

.list-group-item:last-child {
    color: #064607cc;
    font-size: 16px;
}
.list-group-item {
    background-color: #03063000;
    border: 1px solid #32a72830;
}
.userloguednamemeu {
    color: #071d41;
}

.btn-primary {
    background-color: #071d41e0;
    border-color: #ffc10757;
}
.btn-primary {
    color: #f1f1f1 !important;
}

#badiu-report-search .btn-primary {
    background-color: #071d4157;
}
.breadcrumb {
    border-bottom: 2px solid #071d4130;
}

#footer img {
    height: 30px;
}
#footer .fa {
    color: #071d41;
}

#footer i {
    color: #071d41;
}
#formlogin .card {
    border: 0px;
}

#formlogin .card-header {
    text-align: center;
    background-color: #071d41e0;
    border-bottom: 0px;
    color: #f1f1f1 !important;
}

#formlogin .card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f8f9fa00;
    border-top: 0px solid rgba(0, 0, 0, 0.125);
}

.footer-logo {
    text-align: center;
}

.btn-primary {
    background-color: #071d41e0;
    border-color: #ffc10757;
}
.btn-primary {
    color: #f1f1f1 !important;
}

#badiu-report-search .btn-primary {
    background-color: #071d4157;
}
.breadcrumb {
    border-bottom: 2px solid #071d4130;
}

.btn-primary {
    background-color: #071d41e0;
    border-color: #ffc10757;
}
.btn-primary {
    color: #f1f1f1 !important;
}

#badiu-report-search .btn-primary {
    background-color: #071d4157;
}
.breadcrumb {
    border-bottom: 2px solid #071d4130;
}

.logo-image{
	background-color: transparent;
    background-image: url(img/govbr-logo-medium.png);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 72px 26px;
    display: inline-block;
    height: 26px;
    min-width: 72px;
    width: 72px;
}

#header .header-wrapper .site-name-wrapper {
    align-items: center;

}
.sitename{
 font-size: 1.2rem;
 color: #555;
 margin-left: 8px;
}

.site-name {
 border-right: none; 
 border: none; 
}


#formlogin .btn-primary {
    border: none;
    box-shadow: 0 2px 3px #00000029;
    border-radius: 24px;
    font-size: 1em;
    /*font-weight: bold;*/
    color: #FFFFFF;
    cursor: pointer;
}