
body {
  color: #555
}
.glyphicon {color: rgba(19, 92, 174, 0.5) !important}
.glyphicon-triangle-right, .glyphicon-triangle-bottom {font-size: 10px;}



#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {

    border: 1px solid #eee;
    border-radius: 5px;
    margin-left: -250px;
    top: 98px;
    left: 250px;
    width: 252px;
    background: #fff;
    position: fixed;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#wrapper.active {
    padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
    left: 0;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 100px;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
    padding-left: 60px;
}

.sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    text-decoration: none;
    float: left;
    color: #000;
    /*adding-right: 15px;*/
}

@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }

    #menu-toggle {
        display: inline-block;
    }

}

#header{
    height: 76px;
    padding: 12px;
    border-top: 1px solid rgba(19, 92, 174, 0.5);
    border-bottom: 1px solid rgba(19, 92, 174, 0.5);
    box-shadow: 2px 2px 6px 0 rgba(112, 112, 115, 0.5);
    z-index: 999;
    background: #fff;
}

.logo-bar{

    padding-right: 10px;
    border-right: solid 1px #bbb;
}


/*.glyphicon {

    top: 7px;
}*/

.user-menu{

    text-align: right;
    position: relative;
    top: 20px;
}

#spy{

    width: 237px;
    top: 14px;
    position: relative;
    padding-left: 5px
}


#footer {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid rgba(19, 92, 174, 0.5);
    border-top: 1px solid rgba(19, 92, 174, 0.5);
    box-shadow: -2px -2px 6px 0 rgba(112, 112, 115, 0.5);
    max-height: 43px;
    bottom: 0;
    position: fixed;
    width: 100%;
    margin-top: 10px;
    z-index:  10;
}

#footer #copyright p {
    color: #878787;
    font-size: 8pt;
    margin-top: 10px;
    text-align: center;

}

.page-content{

border: 1px solid #eee;
border-radius: 5px;
margin-right: 5px;
margin-left: 5px;
margin-top:  25px;

}



.page-header {
    border-bottom: 1px solid #eee;
    margin: 7px 0 20px;
    padding-bottom: 0px;
}

.fa-th-large{

color: rgba(19, 92, 174, 0.5);
padding-right: 5px

}

.navbar-header{

    float: left;
    display: inline-block;
}



.breadcrumb-nav{

    position: absolute;
    top: 79px;

}

.navbar-brand {
    position: relative !important;
    top: 3px !important;
}

.breadcrumb{

    background-color: #fff !important;
    padding: 12px 11px;
    font-size: 12px;
    margin: 0;
}

.breadcrumb a {
    color: rgb(35,82,144);
    text-transform: uppercase;
}


.breadcrumb-item + .breadcrumb-item::before {
    content: "\f054";
    font-family: FontAwesome;
    font-size: 1.1em;
    color: rgb(35,82,144);
}



/*tratando formalarios*/

/*form ul  li{

    list-style: none;
    color: red;

}*/



/*ate esse tamanho*/
@media (max-width: 992px) {

}

