/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 20/10/2016, 11:48:29
    Author     : humberto
*/

.badiu-report-header{
    border-bottom: 1px solid rgba(19, 92, 174, 0.5);
    margin-top: -23px;
}
#badiu-box-title{
    margin-top: 10px;
}
.boxes{
    border: 1px solid rgba(19, 92, 174, 0.3);
    border-radius: 3px;
    display: inline-block;
    float: left;
    margin: 15px 0.1% 15px 0.8%;
    padding-top: 10px;
    width: 19%;
    text-align: center;
    margin-bottom: 60px;
}
.boxes > p{
    color: green;
}
#box-number{
    color: blue;
}
.input-lg {
    border-radius: 6px;
    font-size: 13px;
    height: 40px;
    line-height: 1.33333;
    padding: 10px 16px;
}
.btn {
    height: 34px;
}
.badiu-form-search{
    margin-top: 10px;
    background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(19, 92, 174, 0.7);
}
label {
    font-weight: normal;
}
#ate{
    margin-top: 4px;
}
.send-search{
    margin-top: 26px;
    margin-bottom: 5px;
}
table{
      border: 1px solid #F2F2F2;
      margin-top: 15px;
}

table > thead {
    background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;
}
.badiu-pagination{
    float: right;
    margin-top: -27px;
}
.badiu-image-icon{
    width: 10px;
    margin-left: 21px;
}

.btn-group-lg > .btn, .btn-lg {
    padding: 7px 16px;
}
 .glyphicon-triangle-top {
    font-size: 10px;
 }
.badiu-btn-search{
   cursor: pointer;
}
/*other fied serach*/

legend {
    margin-bottom: 0px !important;
}
.badiu-form-search-next{

    margin-top: 10px;
    /*background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;*/
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(19, 92, 174, 0.7);
}

.badiu-btn-all-close-open{
    text-align: right;
}

.badiu-search-change-icon{
    text-align: center;
}

.modal-dialog {
    margin: 200px auto !important;
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #ddd;
}

/*para verificar*/
.well {
    background-color: #fbfbfb;
    border: 1px solid #fff;
    border-radius: 4px;
 /*   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;*/
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}