/* autocomplete */
/* ----------- */
.tt-menu {
  min-width: 100%;
  margin: 0px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}
.tt-suggestion {
  padding: 3px 10px;
}
.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf; 
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
.tt-suggestion.empty-message {
  padding: 5px 10px;
  text-align: center;
  color: #999;
}
.tt-suggestion.empty-message:hover {
  color: #999;
  cursor: default;
  background: transparent;
}
.tt-suggestion.tt-newitem {
  border-top: 2px solid #EEE;
}
.autocomplete-static .tt-newitem {
  display: none;
}

.twitter-typeahead{
width: 100%;
}