 .menu-block {
  border-radius: .38rem;
   margin-left: -23px;
   background: #fff;
   margin-top: 22px;




}
nav .menu-block > ul {margin: 0}
nav h4 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 7px;
  font-size: 17px;
}

.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

.title-nav{
    background: #fbfbfb none repeat scroll 0 0;
    /*border: 1px solid rgba(19, 92, 174, 0.1);*/
    margin-bottom: 2px;
}

.panel-group {
    margin-bottom: 0px important;
}

./*panel-default > .panel-heading {
   background: #fff none repeat scroll 0 0 !important;
    border: 1px solid rgba(19, 92, 174, 0.1) !important;
    border-radius: 10px !important;
}*/

