{#src/Badiu/Theme/CoreBundle/Resources/views/Temp/form_div_layout.html.twig #}



{% block form_row %}
{% spaceless %}
   <div class="zx">
      <!-- <div class="col-sm-2 control-label"> -->{{ form_label(form) }}<!--</div>-->
      <!--<div class="col-sm-10">  -->
        {{ form_errors(form) }}
        {{ form_widget(form) }}
      <!--/div>-->
    </div>
{% endspaceless %}
{% endblock form_row %}



{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <!-- <div class="col-sm-2 control-label"></div>-->
   <!--  <div class="col-sm-10">--><button type="{{ type|default('button') }}" class="btn btn-default" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button><!--</div>-->
{% endspaceless %}
{% endblock button_widget %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul>
         {% for error in errors %}
            <li>xx{{ error.message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}



