{#src/Badiu/Theme/BaseBundle/Resources/views/Form/form_search.html.twig #}

<!-- if form not has group -->

{% if page.data['badiu_form1_group_list'] is defined and  page.data['badiu_form1_group_list']   is null%}

{{ form_start(page.data['badiu_form1'] ) }}
{{ form_errors(page.data['badiu_form1'] ) }}

{% for child in page.data['badiu_form1'] %}
{{ form_label(child) }}
<div style="position:relative;"> {{ form_widget(child) }}</div>
{% endfor %}

{{ form_end(page.data['badiu_form1'] ) }}


{% endif %}

<!-- if form  has group -->
{% if page.data['badiu_form1_group_list'] is defined and  page.data['badiu_form1_group_list']   is not null%}

{% set formitemlist = [] %}
{% for child in page.data['badiu_form1'] %}
{% set formitemlist = formitemlist|merge({(child.vars.name): child}) %}
{% endfor %}

{% set count = 0 %}
{% set isfirst = false %}
{% set issecond = false %}
{% set fieldsetsequence = -1 %}

<div class="container-fluid"style="margin-bottom:13px;">

    <form class="form-horizontal search-form"  method="GET">

        {% for gitem in page.data['badiu_form1_group_list'] %}

        {% if count == 0 %}
        {% set isfirst = true %}
        {% else %}
        {% set isfirst = false %}
        {% endif %}

        {% if count == 1 %}
        {% set issecond = true %}
        {% else %}
        {% set issecond = false %}
        {% endif %}

        {% set count = count + 1 %}

        {% if isfirst %}

        <div class="col-md-2 col-lg-2 pull-right">
            <span id="advanced-search" class="glyphicon glyphicon-triangle-right"></span>
            <div class="pull-right badiu-btn-search"> <a href="#">Busca avançada</a></div>
            <div class="badiu-search-change-icon badiu-btn-all-close-open">
                <a id="badiu-btn-click" class="open-all" href="#"><i class="glyphicon glyphicon-plus"></i></a>
            </div>
        </div>

        <div id="badiu-buttons">
            <div class="input-group col-md-4 pull-right">
                {% for key,value in page.data['badiu_form1_field_list'] %}
                {% if value == gitem %}
                <!--{{ form_label(formitemlist[key]) }}-->
                <div style="position:relative;"> {{ form_widget(formitemlist[key])}}</div>
                {% endif %}
                {% endfor %}
                <span class="input-group-btn">
                    <button type="submit"  class="btn btn-info" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>


          <!--     Start insert link -->

            {% for item in page.links %}
                {% if item['position'] == 'beforeform' %}
                    {% set modal = '' %}
                     {% if  item['modal'] is defined and item['modal'] != null %}
                          {%  set modal = '  data-toggle="modal"  data-target="#'~item['modal']~ '" ' %}
                     {% endif %}
                    <a href="{{item['url']}}"  class="btn btn-default" role="button"  {{modal|raw }} >{{item['name']}}</a>
                {% endif %}

            {% endfor %}

           <!-- <a  href="http://fabrica.badiu.com.br/~colaborador7/badiunet/web/app_dev.php/ams/offer/enrol/picklist/index?parentid=70" class="btn btn-default" role="button"  data-toggle="modal" data-target="#badiutestemodal11">Teste Modal</a>-->
            <!-- http://fabrica.badiu.com.br/~colaborador7/badiunet/web/app_dev.php/ams/discipline/addmodal -->

             <!-- end insert link -->
</div>


{% endif %} <!-- end isfirst -->

{% if issecond %}
<div class="badiu-item-other">
    <div class ="badiu-search-other">

        {% endif %} <!-- end issecond -->

        {% if not isfirst %}
        {% set fieldsetsequence = fieldsetsequence + 1 %}
        <div class="badiu-search-other">
            <fieldset>
                <legend>
                    <a data-toggle="collapse" href="#badiu-collapse-{{fieldsetsequence}}" aria-controls="badiu-collapse" aria-expanded="false"><span class="glyphicon glyphicon-triangle-right"></span>{{ gitem|trans }}</a>
                </legend>
                <div class="container-fluid badiu-form-search-next collapse" id="badiu-collapse-{{fieldsetsequence}}">
                    <div class="well">
                        <div class="form-group">
                            {% for key,value in page.data['badiu_form1_field_list'] %}
                            {% if value == gitem %}
                            {{ form_label(formitemlist[key]) }}
                            <div style="position:relative;">{{ form_widget(formitemlist[key]) }}</div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>



        {% endif %} <!-- end if not isfirst -->
        {% endfor %}

        <!-- end of div tha start fieldset-->
        {% if count != 0 %}
        <fieldset>
            <button type="submit"  class="btn btn-primary" style="margin-top: 10px; margin-bottom:7px;">Pesquisar</button>
        </fieldset>
    </div>
</div>

{% endif %}

</form>
{% endif %} <!-- end if form  has group -->



<!-- code for bootstrap modal -->
<div class="modal fade" id="badiudashboardmodal"tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <!-- Aqui fica o conteudo que eh acionado dinamicamente -->


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script type="text/javascript">
    var badiuReporterFilterSearchOptions = 'single'; //single | advanced | allfields
    //var badiuModalTableDeleteUrlService = 'reponse/callback.php';

</script>




