{# src/Badiu/Theme/BaseBundle/Resources/views/Layout/form.html.twig #}

{% extends "BadiuThemeBaseBundle:Default:base.html.twig" %}


 {% block head %}
            {% if 'head' not in page.themelayoutblockhidden %}{{ parent() }} {% endif %}  
 {% endblock %} 
 
  {% block hmenu %}
            {% if 'hmenu' not in page.themelayoutblockhidden %}{{ parent() }} {% endif %}  
 {% endblock %} 
 
 
  {% block navbar %}
            {% if 'navbar' not in page.themelayoutblockhidden %}{{ parent() }} {% endif %}  
 {% endblock %} 
 
 
  {% block headinfo %}
            {% if 'headinfo' not in page.themelayoutblockhidden %}{{ parent() }} {% endif %}  
 {% endblock %} 
 
 {% block vlmenu %}
            {% if 'vlmenu' not in page.themelayoutblockhidden %}{{ parent() }} {% endif %}  
 {% endblock %}  
 
  {% block vrmenu %}
            {% if 'vrmenu' not in page.themelayoutblockhidden %}{{ parent() }} {% endif %}  
 {% endblock %}  
 
   {% block footer %}
            {% if 'footer' not in page.themelayoutblockhidden %}{{ parent() }} {% endif %}  
 {% endblock %}  
 
   {% block beforefooter %}
            {% if 'beforefooter' not in page.themelayoutblockhidden %}{{ parent() }} {% endif %}  
 {% endblock %}  
 
   {% block middlefooter %}
            {% if 'middlefooter' not in page.themelayoutblockhidden %}{{ parent() }} {% endif %}  
 {% endblock %}  
 
    {% block afterfooter %}
            {% if 'afterfooter' not in page.themelayoutblockhidden %}{{ parent() }} {% endif %}  
 {% endblock %} 
          
{% block content %}
<section>
<div id="page-content-wrapper">
                <div class="page-content">
                    <div class="container-fluid">
                 <h3 class="page-header">{{page.operation}} 
                  

                 </h3>
                  
           
                 
            <!-- file role -->
            {% for litem in page.additionalContents %}
                {% for item in litem %}
                    {% if item['position'] == 'beforeform' %}
                        {% include item['file'] %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% if page.data['badiu_form1'] is defined %}
                {{ page.data['badiu_form1'].vars.label}}<br />
                 {% include 'BadiuThemeBaseBundle:Form:form_add.html.twig' %}
            {% endif %}
             </div>
        </div>
  </div>
</section>

{% endblock %}