{#src/Badiu/Theme/BaseBundle/Resources/views/Form/form_add.html.twig #}

  {% set formitemlist = [] %}
            {% for child in page.data['badiu_form1'] %}
                {% set formitemlist = formitemlist|merge({(child.vars.name): child}) %}
  {% endfor %}
<!-- if form not has group -->

{% if page.data['badiu_form1_group_list'] is defined and  page.data['badiu_form1_group_list']   is null%}


 {{ form_start(page.data['badiu_form1'] ) }}
   {{ form_errors(page.data['badiu_form1']) }}
  {% for key,value in page.data['badiu_form1_field_list'] %}

                         <div id="badiu_form_element_{{key}}">
                          {{ form_label(formitemlist[key]) }}
                         <div style="position:relative;">{{ form_errors(formitemlist[key]) }}{{ form_widget(formitemlist[key]) }}</div>
                        </div>

                  {% endfor %}
    </br>

 {{ form_end(page.data['badiu_form1'] ) }}

{% endif %}

 <!-- if form  has group -->

{% if page.data['badiu_form1_group_list'] is defined and  page.data['badiu_form1_group_list']   is not null%}

<div class="pull-right">
  <a href="#" class="expand-aria"><span class="glyphicon glyphicon-triangle-right"></span>Expandir tudo</a>
  <a href="#" class="close-aria"><span class="glyphicon glyphicon-triangle-bottom"></span>Contrair tudo</a>
</div>



   {{ form_start(page.data['badiu_form1'] ) }}
   {{ form_errors(page.data['badiu_form1']) }}

    {% set count = 0 %}

    {% for gitem in page.data['badiu_form1_group_list'] %}



         {% if count == 0 %}
               {% set expand = "true" %}
                {% set expandclass = "collapse in" %}
         {% else %}
            {% set expand = "false" %}
            {% set expandclass = "collapse" %}
         {% endif %}

         {% set count = count + 1 %}

       <fieldset style="margin-top:20px;">
         <legend>
            <a data-toggle="collapse" href="#{{gitem}}" aria-expanded="{{expand}}">
              <span class="glyphicon glyphicon-triangle-right"></span>{{ gitem|trans }}
            </a>
        </legend>
            <div class="{{expandclass}}" id="{{gitem}}"  aria-expanded="{{expand}}">


                 {% for key,value in page.data['badiu_form1_field_list'] %}
                      {% if value == gitem %}
                         <div id="badiu_form_element_{{key}}">
                          {{ form_label(formitemlist[key]) }}
                         <div style="position:relative;">{{ form_errors(formitemlist[key]) }}{{ form_widget(formitemlist[key]) }}</div>
                        </div>
                      {% endif %}
                  {% endfor %}
            </div>
          </fieldset>

    {% endfor %}
    </br>
{{ form_end(page.data['badiu_form1'] ) }}
<br />
<br />
{% endif %} 