
{# src/Badiu/Theme/CoreBundle/Resources/views/Temp/login.html.twig #}
{% extends "BadiuThemeCoreBundle:Layout:login.html.twig" %} 

{% block content %}
		 {% if page.form is defined %}
            <h5>{{ page.form.vars.label}}</h5>
           

                {% block form %}
                {{ form(page.form) }}
                {% endblock %}
          
        {% endif %} 
  {% endblock %}

