#header{
	height:100px;
	padding: 8px;
  	background-color: #002060;
}
 

#header div {
	color: #FFFFFF; 
}

 
#footer{
  	background-color: #002060;
} 

#footer #copyright p {
	color: #FFFFFF; 
}

.breadcrumb { 
	 margin-top: 15px;
}