{# src/Badiu/Ams/CoreBundle/Resources/views/Lms/sync_moodle.html.twig #}

<script> 
function autoComplete(){

$('.badiu-moodle-autocomplete').typeahead({
  hint: true,
  highlight: true,
  minLength: 0
},
{
  limit: 12,
  async: true,
  display: function(item){ return item.id+' - '+item.name},
  showHintOnFocus : true,
  templates: {
            notFound: '<div class="tt-suggestion empty-message">Nenhum resultado</div>',
            pending: '<div class="tt-suggestion empty-message">Carregando</div>'
        },
  source: function (query, processSync, processAsync) {
      var keyquery="name";
      var otherparam=getParam();
      var  surl=getServiceUrl(query,keyquery,otherparam); 
      
      console.log(surl);
       processSync([]);
    return $.ajax({
      url: surl, 
      type: 'GET',
      dataType: 'json',
      success: function (result) {
        // in this example, json is simply an array of strings
        console.log(result);
        return processAsync(result.message);
      }
    });
  }
});

}

function getServiceUrl(query,keyquery,otherparam){
    var moodleid = $("#badiu_system_core_form_type_sserviceid").val();
    if(empty(query)){query="";}
    if(empty(otherparam)){otherparamy="";}
    
    var surl="{{ path('badiu.system.core.service.process')}}";
    var url="{{app.request.getSchemeAndHttpHost()}}"+surl;
    var param="?_service=badiu.system.core.functionality.search&_function=searchWebService";
  
    param=param+"&_serviceid="+moodleid;
    param=param+"&"+keyquery+"="+query;
    param=param+"&"+otherparam;
    url=url+param;
    
    return url;
}
 
function empty(str)
{
    if (typeof str == 'undefined' || !str || str.length === 0 || str === "" || !/[^\s]/.test(str) || /^\s*$/.test(str) || str.replace(/\s/g,"") === "")
    {
        return true;
    }
    else
    {
        return false;
    }
}

function getIdFromAutocompleteText(text){
    
    var p = text.split("-");
    var t=p.length;
    var v="";
    if(t>0){
        v=p[0];
        v=v.trim();
    }
   
    return v;
}
    
</script> 
   
