{# src/Badiu/Ams/OfferBundle/Resources/views/Discipline/form_role.html.twig #}

<script> 
//https://github.com/biggora/bootstrap-ajax-typeahead
//https://swiftype.com/documentation/tutorials/typeahead-js-part1
autoComplete();
mdlContext();

function autoComplete(){
$('.badiu-moodle-autocomplete').typeahead({
  hint: true,
  highlight: true,
  minLength: 0
},
{
  limit: 12,
  async: true,
  display: function(item){ return item.id+' - '+item.name},
  showHintOnFocus : true,
  templates: {
            notFound: '<div class="tt-suggestion empty-message">Nenhum resultado</div>',
            pending: '<div class="tt-suggestion empty-message">Carregando</div>'
        },
  source: function (query, processSync, processAsync) {
      var  surl=getServiceUrl(query); 
      console.log(surl);
       processSync([]);
    return $.ajax({
      url: surl, 
      type: 'GET',
      dataType: 'json',
      success: function (result) {
        // in this example, json is simply an array of strings
        console.log(result);
        return processAsync(result.message);
      }
    });
  }
});

}

function getServiceUrl(query){
    var moodleid = $("#badiu_system_core_form_type_sserviceid").val();
    
    var surl="{{ path('badiu.system.core.service.process')}}";
    var url="{{app.request.getSchemeAndHttpHost()}}"+surl;
    var key=getServiceKey();
    var name=query;
    var param="?_service=badiu.system.core.functionality.search&_function=searchWebService";
    var id=getIdContextParent();
    if(empty(name)){name="";}
        
     param=param+"&_serviceid="+moodleid;
     param=param+"&key="+key;
     param=param+"&id="+id;
     param=param+"&name="+name;
    url=url+param;
    
    return url;
}
 
 function getServiceKey(){
     var key="course.category.getlisttree";
     var currentfieldid =document.activeElement.id;
      if(currentfieldid=='badiu_system_core_form_type_lmscontextidparent'){
           var lmscontexttypeparent = $("#badiu_system_core_form_type_lmscontexttypeparent").val();
           if(lmscontexttypeparent=='coursecategory'){key="course.category.getlisttree";}
           else if(lmscontexttypeparent=='course'){key="course.course.getlist";}
        }
       else  if(currentfieldid=='badiu_system_core_form_type_lmscontextid'){
           var lmscontexttype = $("#badiu_system_core_form_type_lmscontexttype").val();
           if(lmscontexttype=='coursecategory'){key="course.category.getlisttree";}
           else if(lmscontexttype=='course'){key="course.course.getlist";}
        }
        return key;
    }
   
  function getIdContextParent(){
     var key="course.category.getlisttree";
     var currentfieldid =document.activeElement.id;
     var id="";
      if(currentfieldid=='badiu_system_core_form_type_lmscontextidparent'){
           id = $("#badiu_system_core_form_type_lmscontextidparent").val();
       }
       else  if(currentfieldid=='badiu_system_core_form_type_lmscontextid'){
           id = $("#badiu_system_core_form_type_lmscontextidparent").val();
       }
       id=getIdFromAutocompleteText(id);
        return id;
    }
function mdlContext(){
     //on load
  $(document).ready(function() {
     var moodleid = $("#badiu_system_core_form_type_sserviceid").val();
     var lmscontexttypeparent = $("#badiu_system_core_form_type_lmscontexttypeparent").val();
     var lmscontextidparent = $("#badiu_system_core_form_type_lmscontextidparent").val();
     var lmssynctype=$("#badiu_system_core_form_type_lmssynctype").val();
     var operation="{{ app.request.attributes.get('_route') }}";
    
        //operation edit  syncwithcreateddatainlms 
        // && lmssynctype=='badiu.ams.course.offer.edit'
        if(moodleid > 0 && !empty(lmscontexttypeparent)){
             $("#badiu_system_core_form_type_lmscontextidparent").attr('disabled',false);
            // $("#badiu_system_core_form_type_lmscontextid").attr('disabled',false);
          }else{
              $("#badiu_system_core_form_type_lmscontextidparent").attr('disabled',true);
              //$("#badiu_system_core_form_type_lmscontextid").attr('disabled',true);
           }
     
    });
    //on change sserviceid
      $('#badiu_system_core_form_type_sserviceid').change(function() {
         var moodleid = $("#badiu_system_core_form_type_sserviceid").val();
         var lmscontexttypeparent = $("#badiu_system_core_form_type_lmscontexttypeparent").val();
         var lmscontextidparent = $("#badiu_system_core_form_type_lmscontextidparent").val();
     
    
        if(moodleid > 0 && lmscontextidparent > 0){
             $("#badiu_system_core_form_type_lmscontextidparent").attr('disabled',false);
          
          }else{
              $("#badiu_system_core_form_type_lmscontextidparent").attr('disabled',true);
        }
      
       if(moodleid > 0 && !empty(lmscontexttypeparent) && !empty(lmscontexttypeparent)  ){
             $("#badiu_system_core_form_type_lmscontextidparent").attr('disabled',false);
          
          }else{
              $("#badiu_system_core_form_type_lmscontextidparent").attr('disabled',true);
        }
      });
      
        //on change lmscontexttypeparent
      $('#badiu_system_core_form_type_lmscontexttypeparent').change(function() {
         var moodleid = $("#badiu_system_core_form_type_sserviceid").val();
         var lmscontexttypeparent = $("#badiu_system_core_form_type_lmscontexttypeparent").val();
         if(moodleid > 0 && !empty(lmscontexttypeparent)){
             $("#badiu_system_core_form_type_lmscontextidparent").attr('disabled',false);
             // $("#badiu_system_core_form_type_lmscontextid").attr('disabled',false);
          }else{
              $("#badiu_system_core_form_type_lmscontextidparent").attr('disabled',true);
           //    $("#badiu_system_core_form_type_lmscontextid").attr('disabled',true);
       }
      
      });
    }


function empty(str)
{
    if (typeof str == 'undefined' || !str || str.length === 0 || str === "" || !/[^\s]/.test(str) || /^\s*$/.test(str) || str.replace(/\s/g,"") === "")
    {
        return true;
    }
    else
    {
        return false;
    }
}

function getIdFromAutocompleteText(text){
    
    var p = text.split("-");
    var t=p.length;
    var v="";
    if(t>0){
        v=p[0];
        v=v.trim();
    }
   
    return v;
}
    
</script> 
   
