@import url("https://fonts.googleapis.com/css?family=Roboto");

.badiu-tms-report-monitor-dashboard-default {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.header-icon {
    background: #161d6f;
    color: #ffffff;
}

.header-title {
    background: #161d6f;
    font-weight: 500;
    font-size: 22px;
    color: #ffffff;
}

.container-header-last-datetime {
    background: rgba(206, 212, 218, 0.5);
}

.header-last-datetime {
    font-weight: 400;
    font-size: 12px;
    color: #202020;
}
.header-last-datetime span {
    color: #e15759;
}

.grid-container {
    display: grid;
    grid-gap: 5px;
    /*grid-template-columns: repeat(8, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    padding: 0px;
}

@media (max-width: 899px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.container-grid {
    height: 74px;
    max-height: 80px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.color-bg-1 {
    background-color: #f0f0f0;
}
.color-bg-2 {
    background-color: #d9e6c8;
}
.color-bg-3 {
    background-color: #e3cae7;
}
.color-bg-4 {
    background-color: #fbfcc4;
}
.color-bg-5 {
    background-color: #ffe6c0;
}
.color-bg-6 {
    background-color: #c5c6db;
}
.color-bg-7 {
    background-color: #fbc1c1;
}
.color-bg-8 {
    background-color: #c2fbf7;
}

.container-data-number {
    border: 1px dashed #ced4da;
}

.text-data-number {
    font-weight: 400;
    font-size: 14px;
    color: #202020;
}

.container-charts {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px;
}

@media (max-width: 899px) {
    .container-charts {
        grid-template-columns: repeat(1, 1fr);
    }
}

.container-chart {
    width: 100%;
    border: 1px dashed rgba(32, 32, 32, 0.2);
}

.container-chart-header {
    background-color: #e6e9ec;
}

.chart-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #202020;
}

.container-sidebar {
    background-color: #fafafa;
}

.container-sidebar .form-group .form-control {
    background: #ffffff;
    border: 0.5px solid rgba(32, 32, 32, 0.5);
    border-radius: 0;
}

.badiu-tms-report-monitor-dashboard-text-semibold {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #202020;
}

.container-situations {
    list-style: none;
}


/* CHARTS */
#chart {
    max-width: 650px;
    margin: 35px auto;
  }
/* CHARTS */

.container-grid {
    font-size: 14px;
}