@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.badiu-tms-my-student-dashboard-default {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: #d1d4d7;
    padding: 2px 32px 32px 32px;
}

/* CORES DO TEMPLATE  */

/* cores de fundos */
.bg-color {
    color: #d1d4d7;
}
.btn-bg-color-1 {
    color: #005f27;
}
.btn-bg-color-2 {
    color: rgba(7, 29, 65, 0.5);
}
.btn-bg-color-3 {
    color: #98a4b1;
}
.btn-bg-color-4 {
    color: #d4dadd;
}

/* cores de textos */
.text-white {
    color: #ffffff;
}
.text-color-1 {
    color: #071d41;
}
.text-color-2 {
    color: #00baf5;
}
.text-color-3 {
    color: #83909d;
}
.text-color-4 {
    color: #f59c00;
}
.text-color-5 {
    color: #3fc64d;
}
.text-color-6 {
    color: #ff6969;
}
.text-color-7 {
    color: #c78f06;
}
.text-color-8 {
    color: #005f27;
}

.pointer {
    cursor: pointer;
}

.wrapper-news {
}

.coluna-card {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .coluna-card {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .coluna-card {
        /*
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        */
        flex: 0 0 25%;
        max-width: 25%;
    }
}

/* INICIO */
.place-card {
    height: 100px;
    background: #fff;
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.place-card__img {
    padding: 6px;
    /*max-width: 30%;*/
}
.place-card__img-thumbnail {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.place-card__content {
    padding: 25px;
    width: 70%;
}
.place-card__content_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.place-card__content_header .place-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.place-card--small .place-card__content_header {
    margin-bottom: 4px;
}

.place-card--small .place-card__content {
    padding: 6px 14px;
}

/* FIM */

/*
.badiu-tms-my-student-dashboard-default-container-card {
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
}
*/

.badiu-tms-my-student-dashboard-default-container-card-content {
    height: 100%;
}

.badiu-tms-my-student-dashboard-default-container-card img {
    width: 100%;
    height: 100%;
    /*object-fit: contain;*/
}
.badiu-tms-my-student-dashboard-default-container-card p {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #83909d;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #071d41;
    /*margin: 0 8px 8px 8px;*/

    display: -webkit-box;

    line-clamp: 3;
    -webkit-line-clamp: 3; /* number of lines to show */

    -webkit-box-orient: vertical;
    box-orient: vertical;
}
.badiu-tms-my-student-dashboard-default-container-destaque-title {
    line-height: 1rem;
}
.badiu-tms-my-student-dashboard-default-container-destaque-title a {
    font-weight: 700;
    font-size: 0.7625rem;
    color: #f59c00;
    margin: 8px 0;
}

.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}
/*
.form-control {
    height: 38px !important;
}
*/

.input-search {
    font-weight: 400;
    font-size: 16px;
    color: #83909d;
    border: 1px solid #83909d !important;
    border-right: 0 !important;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 12.3517px 32.9379px rgba(0, 0, 0, 0.04);
    background: #f5f7fa;
}

.btn-search {
    background: #f5f7fa;
    border: 1px solid #83909d !important;
    border-left: 0 !important;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0px 12.3517px 32.9379px rgba(0, 0, 0, 0.04);

    opacity: 1;
    transition: img 0.2s;
}

.btn-search:hover {
    color: #ffffff;
    opacity: 0.6;
}

.badiu-tms-my-student-dashboard-default-title-cursos {
    color: #071d41;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.6875rem;
}

.badiu-tms-my-student-dashboard-default-menu-horizontal a {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    border-bottom: 2px solid transparent;
    color: #83909d;
    padding: 6px 0;
    text-decoration: none;
}

.badiu-tms-my-student-dashboard-default-menu-horizontal a:hover {
    text-decoration: none;
    color: #071d41;
}

.badiu-tms-my-student-dashboard-default-item-active {
    border-bottom: 2px solid #f59c00 !important;
    color: #071d41 !important;
}
/* select option */

.badiu-tms-my-student-dashboard-default-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 23px;
    color: #83909d;
    padding-right: 12px;
}

.combobox {
    width: 147px;
    background: #ffffff;
    border: 1px solid #d4dadd;
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.04);
    border-radius: 6px;

    position: relative;
    overflow: hidden;

    font-weight: 400;
    font-size: 0.75rem;
    color: #83909d;
}

.combobox:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #005f27;
    position: absolute;
    top: 40%;
    right: 5px;
    content: "";
    z-index: 98;
}

.combobox select {
    width: 145px;
    padding: 4px 0 4px 8px;
    border: 0;
    position: relative;
    z-index: 99;
    background: none;
    font-weight: 400;
    font-size: 0.75rem;
    color: #83909d;
    appearance: none;
}

.combobox select::-ms-expand {
    display: none;
}

.combobox option {
    font-weight: 400;
    font-size: 0.75rem;
    color: #83909d;
    background-color: #fff;
}
/*
.combobox select option:checked {
    background: #005f27;
}

.combobox select option:hover {
    background: #005f27;
    color: #fff;
}
*/

/* INICIO TABS CURSOS */

#cursos-tabs .tab-pane {
    padding: 2rem 0;
}
#cursos-tabs .nav-tabs {
    border: none;
}
#cursos-tabs .nav-tabs .nav-item {
    margin-bottom: 0;
 }
#cursos-tabs .nav-tabs .nav-link {
    color: #83909d;
    border-bottom: 2px solid #d4dadd;
    opacity: 1;
    transition: all 0.2s;
}
#cursos-tabs .nav-tabs .nav-item.show .nav-link,
#cursos-tabs .nav-tabs .nav-link.active {
    font-weight: 700;
    font-size: 1rem;
    color: #071d41 !important;
    background-color: #ffffff !important;
    border-bottom: 2px solid #f59c00 !important;
}

#cursos-tabs .nav-tabs .nav-link:focus,
#cursos-tabs .nav-tabs .nav-link:hover {
    border: 1px solid transparent;
    border-bottom: 2px solid #83909d;
    opacity: 0.6;
}
#withcontentwithoutlogin .nav-tabs .nav-item {
     width: 50%;
}
#withoutcontentloguedin .nav-tabs .nav-item {
     width: 50%;
}
 
#withcontentloguedin .nav-tabs .nav-item {
     width: 33%;
}
/* FIM TABS CURSOS */

.card-title {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #071d41;
}
.btn-card-green {
    background-color: #005f27;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    color: #fff !important;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;

    opacity: 1;
    transition: all 0.2s;
}

.btn-card-green:hover {
    color: #ffffff;
    opacity: 0.6;
}

.btn-card-yellow {
    background-color: #f59c00;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    color: #fff !important;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;

    opacity: 1;
    transition: all 0.2s;
}

.btn-card-yellow:hover {
    color: #ffffff;
    opacity: 0.6;
}

.btn-card-red {
    background-color: #c51a2a;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    color: #fff !important;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;

    opacity: 1;
    transition: all 0.2s;
}

.btn-card-red:hover {
    color: #ffffff;
    opacity: 0.6;
}

.btn-card-blue {
    background-color: #042546ed;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    color: #fff !important;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;

    opacity: 1;
    transition: all 0.2s;
}

.btn-card-blue:hover {
    color: #ffffff;
    opacity: 0.6;
}
.text-required {
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    color: #83909d;
}

.card-content {
    background: #ffffff;
    border-radius: 0.5rem !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.25rem;
    position: relative;
    /* cursor: pointer;*/
}
.card-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: calc(0.5rem - 1px);
    border-top-right-radius: calc(0.5rem - 1px);

    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;

    z-index: 1;
}
.card-img .card-image {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.card-content:hover img {
    transform: scale(1.05);
}

/*
@media (min-width: 576px) {
    .card-img .card-image {
        height: 19vw;
    }
}
@media (min-width: 768px) {
    .card-img .card-image {
        height: 16vw;
    }
}
@media (min-width: 992px) {
    .card-img .card-image {
        height: 11vw;
    }
}
*/

.card-content .curso-tipo-status {
    position: absolute;
    top: 3%;
    left: 5%;
    display: flex;
    align-items: center;
    height: 22px;

    background: rgba(7, 29, 65, 0.5);
    border-radius: 12px;
    padding: 4px 8px;

    color: #fff;
    font-size: 0.625rem;
    z-index: 2;
}
.card-content .curso-tipo-status p,
.card-img span p {
    margin: 0;
    display: flex;
    align-items: center;
}

.card-info {
    padding: 1rem 1.25rem 0 1.25rem;
}

.card-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.25rem 1.25rem 0 1.25rem;
}
.card-desc h3 {
    color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #83909d;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;

    line-clamp: 6;
    -webkit-line-clamp: 6; /* number of lines to show */

    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.card-content i {
    color: #83909d;
    font-size: 0.5rem;
}

.card-options {
    padding: 1.25rem 1.25rem 0 1.25rem;
}

.text-status {
    font-weight: 700;
    font-size: 0.75rem;
}

.separador {
    font-weight: 400;
    font-size: 0.5625rem;
    color: #83909d;
    margin: 0 3px;
}

.text-tipo {
    font-weight: 700;
    font-size: 0.7625rem;
}

.text-categoria {
    font-weight: 700;
    font-size: 0.7625rem;
    color: #83909d;
}

.text-cargah {
    font-weight: 700;
    font-size: 0.6625rem;
    min-width: 45px;
}

.text-progresso {
    font-weight: 400;
    font-size: 0.6625rem;
    color: #83909d;
}
.text-previsao {
    font-weight: 400;
    font-size: 0.5625rem;
    color: #83909d;
    font-style: italic;
}

.progress {
    background-color: #d4dadd !important;
}
.bg-progress {
    background-color: #005f27 !important;
}

@media only screen and (max-width: 768px) {
    .badiu-tms-my-student-dashboard-default-container-destaque img {
        width: 50%;
    }
}
@media only screen and (max-width: 1200px) {
    .badiu-tms-my-student-dashboard-default-container-destaque img {
        width: 40%;
    }
}

/* CAROUSEL */

.badiu-carousel {
    width: 100%;
    height: 320px;
    position: relative;

    background: #b64343;
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
    border-radius: 8px;

    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

@media (max-width: 767.98px) {
    .badiu-carousel {
        
    }
}

.badiu-carousel a.edit-carousel {
    width: 100%;
    position: absolute;
    top: -24px;
}

.badiu-carousel-controle {
    position: absolute;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(7, 29, 65, 0.5);
    border-radius: 100px;
    cursor: pointer;

    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.badiu-carousel-controle-left {
    left: 6px;
    top: calc(50% - 40px / 2);
    z-index: 500;
}

.badiu-carousel-controle-right {
    right: 6px;
    top: calc(50% - 40px / 2);
    z-index: 500;
}

.badiu-carousel-itens {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 70px;
    position: absolute;
    top: 0;
}

.badiu-carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.badiu-carousel-item-titulo {
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 12px;
}
.badiu-carousel-item-texto {
    font-weight: 400;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 1.2rem;
}

@media (max-width: 576px) {
    .badiu-carousel-item-texto p {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

@media (max-width: 768px) {
    .badiu-carousel-itens {
        display: flex;
        width: 100%;
        padding: 0 46px;
    }

    .badiu-carousel-item-titulo {
        font-weight: 700;
        font-size: 1.1rem;
    }

    .badiu-carousel-item-texto {
        line-height: 1rem;
        font-size: 1rem;
    }
}

.badiu-carousel-bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.badiu-carousel-bullet {
    width: 12px;
    height: 12px;
    margin: 0 6px;
    border-radius: 12px;
    background: #ffffff;
    border: 1px solid #98a4b1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.badiu-carousel-bullet-ativo {
    font-family: arial !important;
    font-size: 24px;
    color: #005f27;
}

.badiu-carousel-bullet-normal {
    font-family: arial !important;
    color: #ffffff;
}

/* custom badiu */

.badiu-carousel {
    background: #005f2799;
}
#cursos-tabs .nav-tabs .nav-link {
    color: #005f27;
}

.badiu-tms-my-student-dashboard-default {
    background-color: #d1d4d757;
}
/*
.badiu-tms-my-student-dashboard-default-container-destaque {
      background: #eceff1;
}


 
 .card-content {
    background: #eceff1;
 }
 */

/* Alterações nos cards de DESTAQUE NOVIDADES */
.shadow-lg {
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 11%), 0 5px 15px 0 rgb(0 0 0 / 8%);
}
.overflow-hidden {
    overflow: hidden;
}
.flex-none {
    flex: none;
}
.bg-cover {
    background-size: cover;
}
@media (max-width: 991px) {
    .card-image-left {
        max-width: 50%;
    }
    .img-left-card {
        max-width: 40%;
        height: 105px;
        object-fit: contain;
    }
}
@media (min-width: 992px) {
    .card-image-left {
        max-width: 25%;
    }
    .img-left-card {
        max-width: 46%;
        height: 105px;
        object-fit: contain;
    }

    .lg\:rounded-r {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
    .lg\:rounded-b-none {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.card-content .table {
    font-size: 0.6875rem;
    color: #83909d;
}

.card-content .table td,
.table th {
    padding: 0.2rem;
}
#cursos-tabs .tab-pane {
    padding: 0rem 0;
}

#meuscursos .advancedsearch,
#cursosdisponivies .advancedsearch {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #83909d;
}

#cursosdisponivies .advancedsearch .btn-primary {
    background-color: #0735416e;
}
#cursosdisponivies .fa-chevron-down:before {
    color: #83909d;
}

/* report-list  */

.badiu-report-list .card-desc {
    padding: 0 !important;
    padding-top: 8px !important;
}

.badiu-report-list .card-info {
    padding: 0 !important;
}

.badiu-report-list .card-options {
    padding: 0 !important;
    margin-top: 5px;
}
.badiu-report-list .text-cargah {
    padding-top: 7px;
}

.badiu-report-list .fas {
    font-size: 7px;
}

.badiu-report-list .result-search {
    font-size: 1rem;
    padding-left: 1.8rem;
    padding-bottom: 1.5rem;
    color: #495057;
}

@media (min-width: 992px) {
    .badiu-report-list .card-img .card-image {
        height: 8vw !important;
    }
}

.badiu-grid-cards {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
}

.card-title .fa-info-circle {
    color: #f59c00;
    font-size: 13px;
    padding-left: 8px;
}

.card-desc .fa-info-circle {
    color: #f59c00;
    font-size: 13px;
    padding-left: 8px;
}

/*#_badiu_tms_my_default_policy_private .modal-content {
    margin-top: auto;
}
*/