{% extends "BadiuThemeCoreBundle:Default:base.html.twig" %}

{% block customizejsstyle1 %}
          <link rel="stylesheet" href="{{ asset("bundles/badiuthemecore/css/badiu-column1.css") }}"  type="text/css">
{% endblock %}
{% block hmenu %}{% endblock %}