{% extends "BadiuThemeCoreBundle:Default:base.html.twig" %}


 
{% block content %}


        <h2>{{page.operation}}</h2><hr />

<br />
 
             
        {{ badiu_general_data_dashborad(page)|raw }}     
              
        
          
 {% endblock %}