{% extends "BadiuThemeCoreBundle:Default:base.html.twig" %}

{% block content %}
  {% if page.data['badiu_table1'] is defined %}
                    {{ badiu_report_data_table(page)|raw }}
  {% endif %}
{% endblock %} 