{# src/Badiu/Theme/CoreBundle/Resources/views/Layout/formservice.html.twig #}

{% extends "BadiuThemeCoreBundle:Default:base.html.twig" %}

{% block content %}
<section>
<div id="page-content-wrapper">
                <div class="page-content">
                    <div class="container-fluid">
                 <h3 class="page-header">{{page.operation}} 
                  

                 </h3>
                 
                 {{ badiu_core_form_add(page)|raw }}
              
             </div>
        </div>
  </div>
</section>

{% endblock %}