{# src/Badiu/Theme/CoreBundle/Resources/views/Layout/frontpage.html.twig #}
{% extends "BadiuThemeCoreBundle:Default:base.html.twig" %}

{% block menu %}

{% endblock %}

{% block content %}


              
                        <div class="container-fluid">
                             <h3 class="page-header">{{page.operation}}</h3>
                                          
                             {{ badiu_general_data_frontpage(page)|raw }}
                </div>
           

{% endblock %}