{# src/Badiu/Theme/CoreBundle/Resources/views/Layout/login.html.twig #}

{% extends "BadiuThemeCoreBundle:Default:base.html.twig" %}

{% block customizejsstyle1 %}
          <link rel="stylesheet" href="{{ asset("bundles/badiuthemecore/css/badiu-column1.css") }}"  type="text/css">
{% endblock %}

 {% block hmenu %}{% endblock %}
 {% block vlmenu %}{% endblock %}
 
{% block navbar %}{% endblock %}

{% block content %}

                 
                 
                 {{ badiu_core_form_add(page)|raw }}
    

{% endblock %}
{% block footerjavascript %}
	<script type="text/javascript">
	$(document).ready(function() {
		$("#wrapper").css({"margin-left": "0px" });
		$("#wrapper").css({"padding-left": "0px" });
	});
	</script>
{% endblock %}  