{# src/Badiu/Theme/CoreBundle/Resources/views/Layout/logingeneral.html.twig #}

{% extends "BadiuThemeCoreBundle:Default:base.html.twig" %}


{% block body %}

                 
              <div id="logingeneral">   {{ badiu_core_form_add(page)|raw }}</div>
    

{% endblock %}
