{# src/Badiu/Theme/CoreBundle/Resources/views/Layout/message.html.twig #}
{% extends "BadiuThemeCoreBundle:Default:base.html.twig" %}

{% block content %}

    {% block message %}
         
    {% endblock %}
   
{% endblock %}