{# src/Badiu/Theme/CoreBundle/Resources/views/Layout/nopermission.html.twig #}
{% extends "BadiuThemeCoreBundle:Default:base.html.twig" %}

 
{% block content %}
Você não tem permissão para acessar essa funcionalidade do sistema
 {% endblock %}  