{# src/Badiu/Theme/CoreBundle/Resources/views/Layout/view.html.twig #}

{% extends "BadiuThemeCoreBundle:Default:base.html.twig" %}



{% block content %}

{{ badiu_report_data_detail(page)|raw }}

 {% endblock %}