/*
this portpety appli break page in main page
*/

.break {
    page-break-before: always;
}

container {
    background: #fff none repeat scroll 0 0;
}


/*
this portpety apply settings in class users
*/

.users {
    text-align: center;
    background: #f4f4f4 none repeat scroll 0 0;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
     color:#424242;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #4CAF50;
    color: white;
}

ol ol, ol ul, ul ol, ul ul {
    color:#424242;
    margin-bottom: 10px;
    list-style-type: none
}

.form-control {
    background: #eeeeee none repeat scroll 0 0;
}


/*body{font-family:Arial;background:url(image/marca-dagua1.jpg) no-repeat;}
*/

li {
    margin-bottom: 10px !important;
}