{# src/Badiu/Ams/BadiuAmsCurriculumBundle/views/Discipline/picklist.html.twig #}

 
 {% set sectionnumber =page.data['badiu_list_data_row'][1]['numsections'] %}
 {% set sectiontype =page.data['badiu_list_data_row'][1]['shortname'] %}

 {% set loosection=true %}

<div class="subscribe-content col-xs-12" id="">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left painel-title">Disciplinas cadastradas</div>
            <div class="pull-right painel-title">Lista de disciplinas</div>
        </div>
        <div class="panel-body">
            <div class="col-md-5">

                <select id="list-in" multiple class="form-control list-content">
                </select>

                <form action="index.html" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control form-inline" id="search_enable" placeholder="Pesquisar">                       
                    </div>                

                </form>
            </div>
            <div class="col-md-3" id="actions-content">

                <button id="add-to-register-list" type="button" class="btn btn-primary form-control">
                    <i class="fa fa-arrow-left" style="margin-right:4px;"></i>Adicionar
                </button>

                <label class="text-center control-label">Grupo</label>
                <select class="form-control " name="field1" id="field1-selection-box">
                       {% if page.data['badiu_list_data_rows'][1] is defined %}
						{% for item in page.data['badiu_list_data_rows'][1] %}
								<option value="{{ item['id'] }}" >{{ item['name'] }}</option>
						{% endfor %}
               		{% endif %}
                </select>


                <label  class="text-center control-label">{{ 'badiu.ams.core.required'|trans}}</label>
                <select class="form-control " name="field2" id="field2-selection-box">
                    <option value="1" >Sim</option>
                    <option value="0" >Nao</option>
		 </select>
                
                <label  class="text-center control-label">{{ 'badiu.ams.core.period'|trans}}</label>
                <select class="form-control " name="field3" id="field3-selection-box">
                   {% for i in 1..100  if loosection %}
                        <option value="{{i}}" >{{i}} periodo</option>
                        {% if(i==sectionnumber)%}
                            {% set loosection=false%}
                        {% endif %}    
                    {% endfor %}
		 </select>
                <button id="remove-from-register-list" type="button" class="btn btn-primary form-control">Remover <i class="fa fa-arrow-right"></i></button>
                <div id="loader" style="margin-top:80px;text-align:center"><img src="{{ asset('bundles/badiuthemebase/image/icons/loadb.gif') }}" ></div>
            </div>
            <div class="col-md-4">
                <select id="list-out" multiple class="form-control list-content">
                </select>
                <form class="form-inline" action="index.html" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control form-inline" id="search_available" placeholder="Pesquisar">                        
                    </div>                   
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
	var enableList= "{{ url('badiu.system.core.service.process',{'_service': 'badiu.system.core.functionality.report.service','_function': 'dashboard','bkey': 'badiu.ams.curriculum.disciplinepicklistenable','parentid': app.request.get('parentid')}) }}";
	
	var availableList= "{{ url('badiu.system.core.service.process',{'_service': 'badiu.system.core.functionality.report.service','_function': 'dashboard','bkey': 'badiu.ams.curriculum.disciplinepicklistavailable','parentid': app.request.get('parentid')}) }}";

	var updateList= "{{ url('badiu.system.core.service.process',{'_service': 'badiu.ams.curriculum.disciplinepicklist.lib','_function': 'discipline','parentid': app.request.get('parentid')}) }}";	
        
        enableList=enableList.split("amp;").join('');
        availableList=availableList.split("amp;").join('');
        updateList=updateList.split("amp;").join('');
       // alert(availableList);
</script>

