body {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1920px) {
  #wrapper,
  #header .barra-principal,
  #header .barra-pesquisa,
  #footer .course-footer,
  #footer .row-fluid {
    width: 1920px;
    max-width: 100%;
    margin: 0 auto;
  }

  #wrapper {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
}

.packagefilecontent:parent:parent #wrapper {
  border: 2px solid black;
}

/*
 Pra dispositivos que tem uma largura mínima de 768 pixels. Tablets, por exemplo.
*/
@media (max-width: 960px) {
  .user-menu {
    width: 176px;
  }
}

/*
@media screen and (min-width: 0px)  and (max-width: 800px) {
   #formlogin {
	   padding-left: 0px; 
	   padding-right: 0px; 
   }
}
@media screen and (min-width: 801px)  and (max-width: 1600px) {
   #formlogin {
	   padding-left: 200px; 
	   padding-right: 20px;  
   }
}
@media screen and  (max-width: 1601px) {
   #formlogin {
	   padding-left: 300px; 
	   padding-right: 300px; 
   }
}
 
*/
pre {
            height: 100%;
            max-height: 300px;
        }
#formlogin {
  max-width: 100%;
  max-width: 600px;
  margin: 0px auto;
}

#wrapper {
  display: flex;
  padding-left: 0;
  transition: all 0.4s ease 0s;
  min-height: 90vh;
}
#wrapper-login {
  padding-left: 0px;
  transition: all 0.4s ease 0s;
}
#sidebar-wrapper {
  /* border-radius: 5px; */
  /* top: 98px; */
  /* left: 250px; */
  /* background: #007bff; */
  /* position: fixed; */
  /* overflow-y: auto; */
  /* z-index: 1000; */
  /*border: 1px solid #eee;*/

  margin-top: 10px;
  margin-left: 0;
  width: 256px;
  height: 100%;
  transition: all 0.4s ease 0s;
  display: none;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
  margin-left: 0;
  width: 256px;
  display: block;
}

#wrapper .navbar-nav .nav-link {
  /* padding-right: 20px;*/
  padding-left: 20px;
}

#wrapper .enuitem {
  display: block;
}
#wrapper .submenuoptions {
  width: 229px;
  word-break: normal;
}

#wrapper .dropdown-item {
  white-space: normal;
}

#wrapper .list-group {
  position: relative;
}
#wrapper .navbar-nav {
  border: 1px solid #eee;
}
#wrapper .dropdown-item {
  border: 1px solid #eee;
}

.section-wrapper {
  flex: 1;
  width: 100%;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 100px;
  transition: all 0.4s ease 0s;
}

.menu-current-panel .list-group-item {
  background-color: #ffef0745;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
  padding-left: 60px;
}

.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  text-decoration: none;
  float: left;
  color: #000;
  padding-right: 15px;
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.active #sidebar-wrapper {
    left: 250px;
    padding-left: -250px;
    transition: all 0.4s ease 0s;
  }
  #menu-toggle {
    display: inline-block;
  }
}

#header {
  border-top: 1px solid rgba(19, 92, 174, 0.5);
  border-bottom: 1px solid rgba(19, 92, 174, 0.5);
  box-shadow: 0px 2px 6px -2px rgb(112 112 115 / 50%);
  z-index: 999;
  background-color: white;
}

@media only screen and (max-width: 576px) {
  #header .header-wrapper {
      flex: none !important;
  }
}
@media only screen and (min-width: 768px) {
  #header .main .header-wrapper {
      padding-bottom: 16px;
  }
}

.logo {
  float: left;
  display: inline-block;
}

.logo {
  float: left;
  display: inline-block;
}

.sitename {
  display: inline-block;
  padding-left: 5px;
  margin-top: 12px;
}
.logo-image {
  height: 50px;
  width: 130px;
}

@media screen and (min-width: 0px) and (max-width: 820px) {
  .logo {
    display: none;
  }
}

@media screen and (min-width: 821px) {
  .logo {
    display: block;
  }
}
.logo-bar {
  padding-right: 10px;
  border-right: solid 1px #bbb;
}

.usernavegation .navbar-nav {
  background-color: #d1ecf1;
  border-radius: 16px;
  padding: 0 8px;
}
.usernavegation .navbar-nav li {
  width: 160px;
}


.loginlink {
  color: #343a40;
}

.boxloginlink{
	background: #f8f8f8;
    border-radius: 40px;
    color: #007bff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 8px;
    padding: 0 12px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.boxloginlink a{ 
  color: #007bff;
  text-decoration: none;
}
.glyphicon {
  top: 7px;
}

.user-menu {
  text-align: right;
  position: relative;
  top: 12px;
}

#spy {
  width: 237px;
  top: 14px;
  position: relative;
  padding-left: 5px;
  padding-bottom: 60px;
}

#footer {
  background-color: #071d41;
  border: none;
  box-shadow: none;
  max-height: 100%;
  bottom: 0;
  position: relative;
  width: 100%;
  z-index: 10;
  font-family: rawline, helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #555;
  line-height: 1.75;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
  vertical-align: baseline;

  
  /*
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid rgba(19, 92, 174, 0.5);
  border-top: 1px solid rgba(19, 92, 174, 0.5);
  box-shadow: -2px -2px 6px 0 rgba(112, 112, 115, 0.5);
  max-height: 43px;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
  z-index: 10;
  */
}

#footer #copyright p {
  color: #878787;
  font-size: 8pt;
  margin-top: 10px;
  text-align: center;
}

.scheduletitle {
  font-size: 16px;
}
/* admin atttendance status*/
.attendance-status-undefined {
  color: #dee2e6;
}
.attendance-status-present {
  color: #16af39eb;
}
.attendance-status-absent {
  color: #dc3545;
}
.attendance-status-late {
  color: #ffc107ed;
}
.attendance-status-justified {
  color: #0776ffeb;
}
.btn-primary {
  color: white !important;
}
primary.dropdown-toggle {
    background-color: #f1f1f1
    border-color:#f1f1f1
}
/* INICIO MENU LATERAL */
/* INICIO MENU LATERAL */
.nav-side-menu {
  overflow: auto;
  font-size: 1rem;
  font-weight: 400;
  background-color: #f8f8f8;
  /*position: fixed;*/
  width: 246px;
  height: 100%;
  color: #777;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  content: "\f0d8";
  color: #4a5568;
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;

  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul.collapsed .arrow:before,
.nav-side-menu li.collapsed .arrow:before {
  content: "\f0d7";
  color: #4a5568;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #007bff;
  background-color: #e9ecef;
}
.nav-side-menu .sub-menu li,
.nav-side-menu .sub-menu li {
  background-color: #f3f3f3;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #e7e7e7;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
}
.nav-side-menu .sub-menu .active,
.nav-side-menu .sub-menu .active {
  background-color: #e2e8f0;
  color: #007bff !important;
}
.nav-side-menu ul.sub-menu .active a,
.nav-side-menu li.sub-menu .active a {
  color: #007bff !important;
}
.nav-side-menu .sub-menu li:hover,
.nav-side-menu .sub-menu li:hover {
  background-color: #e2e8f0;
}
.nav-side-menu .sub-menu li:before,
.nav-side-menu .sub-menu li:before {
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  content: "\f105";
  /*display: inline-block;*/
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  display: flex;
  padding-left: 16px;
  border-left: 3px solid #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
}
.nav-side-menu li a {
  width: 100%;
  text-decoration: none;
  color: #212529;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #007bff;
  background-color: #cbd5e0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 76px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  #page-content-wrapper .page-content .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

/* FIM MENU LATERAL */


.report .row {
	row-gap: 1em;
}














/* HEADER - SITE-HEADER-LINKS */
.site-header-links {
  align-items: center;
  display: flex;
}
.site-header-links a {
  text-decoration: none;
}
.site-header-links a:focus {
  outline-color: #c2850c;
  outline-style: dashed;
  outline-offset: 4px;
  outline-width: 2px;
}
.site-header-links a:focus:not(.focus-visible) {
  outline: none;
}
@media only screen and (min-width: 576px) {
  .site-header-links .head-menu-links {
      position: relative;
  }
}
.site-header-links .head-menu-links .toggle-head-menu-links {
  align-items: center;
  border-radius: 16px;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}
.site-header-links .head-menu-links .toggle-head-menu-links span {
  width: auto;
}
.site-header-links .head-menu-links .toggle-head-menu-links:focus {
  outline-color: #c2850c;
  outline-style: dashed;
  outline-offset: 4px;
  outline-width: 2px;
}
.site-header-links .head-menu-links .toggle-head-menu-links:focus:not(.focus-visible) {
  outline: none;
}
@media only screen and (min-width: 1024px) {
  .site-header-links .head-menu-links .toggle-head-menu-links {
      display: none;
  }
}
.site-header-links .head-menu-links ul {
  display: block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 1024px) {
  .site-header-links .head-menu-links ul {
      display: block !important;
  }
}
@media only screen and (max-width: 1023px) {
  .site-header-links .head-menu-links ul {
      background-color: #fff;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      display: none;
      font-size: 12px;
      left: 50%;
      margin-left: -130px;
      padding: 0;
      position: absolute;
      text-align: left;
      width: 260px;
      z-index: 160;
  }
}
@media only screen and (max-width: 575px) {
  .site-header-links .head-menu-links ul {
      left: 0;
      margin: 0;
      right: 0;
      width: auto;
  }
}
.site-header-links .head-menu-links ul li {
  display: inline-block;
  margin: 0 4px;
}
@media only screen and (max-width: 1023px) {
  .site-header-links .head-menu-links ul li {
      display: block;
      margin: 0;
      text-transform: none;
      white-space: nowrap;
  }
}
.site-header-links .head-menu-links ul li.titulo {
  color: #333;
  display: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 8px 16px;
  text-transform: uppercase;
}
@media only screen and (max-width: 1023px) {
  .site-header-links .head-menu-links ul li.titulo {
      display: block;
  }
}
.site-header-links .head-menu-links ul li a {
  font-size: 14px;
}
@media only screen and (max-width: 1023px) {
  .site-header-links .head-menu-links ul li a {
      display: block;
      font-size: 12px;
      padding: 8px 16px;
  }
}
.site-header-links .head-menu-links ul li a:hover {
  color: #0c326f;
}
.site-header-links .head-menu-links.open .toggle-head-menu-links {
  color: #071d41;
}
.site-header-links .header-icons {
  padding: 0;
  white-space: nowrap;
  margin-left: 8px;
  margin-right: 15px;
  margin-bottom: 0;
}
@media only screen and (max-width: 575px) {
  .site-header-links .header-icons {
      margin: 0 5px;
  }
}
.site-header-links .header-icons li {
  display: inline-block;
  margin: 0;
}
.site-header-links .header-icons li a {
  align-items: center;
  border-radius: 16px;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
  font-size: 14px;
  height: auto;
  width: auto;
}
.site-header-links .header-icons li a span {
  width: auto;
}
.site-header-links .header-icons li a:focus {
  outline-color: #c2850c;
  outline-style: dashed;
  outline-offset: 4px;
  outline-width: 2px;
}
.site-header-links .header-icons li a:focus:not(.focus-visible) {
  outline: none;
}
.site-header-links .header-icons li a:hover {
  background-color: #dbe8fb;
}
.site-header-links .link-acesso {
  background: #f8f8f8;
  border-radius: 40px;
  color: #0c326f;
  font-size: 14px;
  font-weight: 500;
  margin-left: 8px;
  padding: 0 12px;
  white-space: nowrap;

  display: flex;
  align-items: center;
}
.site-header-links .link-acesso span {
  color: #1351b4;
  padding-right: 8px;
}
.site-header-links .link-acesso:hover {
  background-color: #dbe8fb;
}
.site-header-links .link-acesso:focus {
  outline-color: #c2850c;
  outline-style: dashed;
  outline-offset: 4px;
  outline-width: 2px;
}
.site-header-links .link-acesso:focus:not(.focus-visible) {
  outline: none;
}



/* CONTRASTE ACESSABILIDADE*/
body.contraste {
  color: #fff;
  background-color: #000 !important;
}

body.contraste .navbar-toggler {
  background-color: #fff;
  border: 1px solid #fff;
}
body.contraste .logo-image {
  filter: invert(1);
}

body.contraste .usernavegation .navbar-nav {
  background-color: #000;
  border: 1px solid #FFF;
}

body.contraste #category,
body.contraste #category-vcge,
body.contraste #content #description,
body.contraste #content #tile_banner_rotativo .credito,
body.contraste #content #tile_banner_rotativo .descr,
body.contraste #content #tile_banner_rotativo .title,
body.contraste #content .documentByLine .summary-view-icon,
body.contraste #content .documentDescription,
body.contraste #content .gallery-element-metadata .title,
body.contraste #content .poll-tile .poll-tile-header > .header,
body.contraste #content .poll-tile .tile-content-wrapper > form > input[type="radio"] + span,
body.contraste #content .pullquote,
body.contraste #content .subtitle,
body.contraste #content .tile-em-alta .tile-header h2,
body.contraste #content article #viewlet-below-content-title .documentModified,
body.contraste #content article #viewlet-below-content-title .documentPublished,
body.contraste #content article div[property*="articleBody"] p,
body.contraste #content div.newsImageContainer p.discreet,
body.contraste #doormat-container dt,
body.contraste #error-reporting .formControls input,
body.contraste #galeria_de_fotos,
body.contraste #logo #portal-logo,
body.contraste #logo #portal-title,
body.contraste #parent-fieldname-text:first-letter,
body.contraste #plone-document-byline,
body.contraste #portal-breadcrumbs > span > span.breadcrumbSeparator,
body.contraste #portal-breadcrumbs span,
body.contraste .cover-collection-tile .tile-header span,
body.contraste .cover-collection-tile p,
body.contraste .cycle-player .cycle-overlay,
body.contraste .galeria_container,
body.contraste .galleria-info-description,
body.contraste .galleria-info-text .rights,
body.contraste .item-central .link-central,
body.contraste .lista-vertical .tile-header h3,
body.contraste .lista-vertical .tile-header span,
body.contraste .nitfByline,
body.contraste.portaltype-collective-cover-content div.row.linha-destacada,
body.contraste.portaltype-collective-cover-content div.row.linha-discreta,
body.contraste.template-facetednavigation_view #content .tileItem .keywords,
body.contraste.template-folder_summary_view #content .tileItem .keywords,
body.contraste.template-summary_view #content .tileItem .description,
body.contraste.template-summary_view #content .tileItem .documentByLine,
body.contraste.template-summary_view #content .tileItem .keywords,
body.contraste.template-summary_view #content .tileItem .subtitle,
body.contraste .tile-content p,
body.contraste .tile-subtitle,
body.contraste .tile p,
body.contraste .videogallery-tile .description,
body.contraste .videogallery-tile .subtitle,
body.contraste div[property="rnews:articleBody"]:first-letter,
body.contraste footer,
body.contraste h1,
body.contraste h2,
body.contraste h3,
body.contraste h4,
body.contraste h5,
body.contraste h6,
body.contraste header,
body.contraste header#header .header-wrapper,
body.contraste header#header .navigation-wrapper,
body.contraste p.nitfSubtitle,
body.contraste p.section {
  color: #fff !important;
  background-color: #000 !important;
  border-color: #fff !important;
}
body.contraste .site-header-links .header-icons li a {
  text-decoration: none!important;
}
body.contraste .header-accessibility li a.link-acesso i,
body.contraste .header-accessibility li a.link-contraste i {
  padding: 8px;
  color: #fff;
  background: #000;
  border-radius: 50%;
  border: 1px solid #fff;
}
body.contraste .portaltype-collective-cover-content #content .busca-destaque-home .assuntos-em-alta {
  background-color: #000 !important;
}
body.contraste .header-accessibility li a.link-contraste i {
  color: #000 !important;
}
body.contraste #portal-logo,
body.contraste #portal-title-1,
body.contraste .ico-navegacao .fa-bars:before {
  color: #fff !important;
}
body.contraste .cards li {
  background-color: #000 !important;
  border: 1px solid #fff;
}
body.contraste .cards li a {
  color: #fff !important;
}
body.contraste #main-navigation li,
body.contraste #main-navigation ul {
  background-color: #000 !important;
}
body.contraste #main-navigation a,
body.contraste
  header#header
  .navigation-wrapper
  .navigation-content
  #main-navigation
  .list-navigation
  li
  ul.submenu
  li
  a.state-published {
  color: #fff !important;
}
body.contraste .busca-destaque-home .assuntos-em-alta {
  background-color: #000 !important;
}
body.contraste .busca-destaque-home .input-wrapper:after {
  color: #fff !important;
}
body.contraste #content .gallery-footer a,
body.contraste #content .gallery-footer a:hover,
body.contraste #content .outstanding-header .outstanding-link:hover,
body.contraste #content a:hover,
body.contraste #content article #viewlet-below-content-title .contentHistory a,
body.contraste #main-navigation a:hover,
body.contraste #main-navigation a:link,
body.contraste #main-navigation a:visited,
body.contraste #portal-breadcrumbs a,
body.contraste #portal-column-one > .nav-menu-de-relevancia .first-item-nav a,
body.contraste #portal-column-one > .nav-menu-de-relevancia .first-item-nav a span,
body.contraste #portal-footer a,
body.contraste #portal-footer a:hover,
body.contraste #portal-siteactions a,
body.contraste #portal-siteactions a:hover,
body.contraste .galleria-info-title a,
body.contraste .galleria-info-title a:hover,
body.contraste .outstanding-header .outstanding-link,
body.contraste.portaltype-collection .keywords a,
body.contraste.portaltype-collection h2.tileHeadline a,
body.contraste.portaltype-collective-cover-content #content div.row.linha-destacada .box-branco .tile a:hover,
body.contraste.portaltype-collective-cover-content #content div.row.linha-destacada .box-branco .tile a:link,
body.contraste.portaltype-collective-cover-content #content div.row.linha-destacada .box-branco .tile a:visited,
body.contraste .portletNavigationTree > .portletItem a span,
body.contraste .template-filtro-de-resultados .keywords a,
body.contraste.template-filtro-de-resultados h2.tileHeadline a,
body.contraste.template-summary_view #content .tileItem .tileHeadline a,
body.contraste.template-view #content .tile-em-alta a,
body.contraste .tile a,
body.contraste a,
body.contraste dl.portlet a:hover,
body.contraste ul.paginacao li a {
  color: #fff !important;
  text-decoration: underline !important;
  border-color: #fff !important;
}
body.contraste #error-reporting,
body.contraste .column.colunas-destacadas,
body.contraste .column.colunas-discretas,
body.contraste .colunas-destacadas .column,
body.contraste .colunas-discretas .column,
body.contraste.portaltype-collective-cover-content #content div.row.linha-destacada .box-branco .tile {
  background-color: transparent !important;
  outline: none !important;
}
body.contraste header#header .navigation-content:before {
  display: none;
}
body.contraste #portal-breadcrumbs #breadcrumbs-home a:before {
  background-image: url(img/sprite.png);
  background-position: -269px -117px;
  width: 17px;
  height: 12px;
}
body.contraste #portal-breadcrumbs .breadcrumbSeparator {
  background-image: url(img/sprite.png);
  background-position: -129px -223px;
  width: 26px;
  height: 21px;
}
body.contraste #portal-breadcrumbs > span > span.breadcrumbSeparator,
body.contraste #portal-breadcrumbs span {
  background-color: transparent !important;
}
body.contraste #viewlet-social-like > div {
  background: transparent;
}
body.contraste #viewlet-social-like > div:before {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
body.contraste .header-accessibility .link-contraste:before,
body.contraste .header-accessibility .link-vlibras:before,
body.contraste .header-icons .ico-busca,
body.contraste .header-icons .ico-navegacao {
  -webkit-filter: none;
  filter: none;
}
body.contraste #portalredes-twitter {
  background-image: url(img/sprite.png);
  background-position: -99px -159px;
  width: 27px;
  height: 28px;
}
body.contraste #portalredes-youtube {
  background-image: url(img/sprite.png);
  background-position: -35px -159px;
  width: 32px;
  height: 28px;
}
body.contraste #portalredes-flickr {
  background-image: url(img/sprite.png);
  background-position: -210px -98px;
  width: 29px;
  height: 29px;
}
body.contraste #portalredes-facebook {
  background-image: url(img/sprite.png);
  background-position: -27px -223px;
  width: 25px;
  height: 28px;
}
body.contraste #portalredes-googleplus {
  background-image: url(img/sprite.png);
  background-position: -210px -156px;
  width: 29px;
  height: 29px;
}
body.contraste #portalredes-slideshare {
  background-image: url(img/sprite.png);
  background-position: -203px -194px;
  width: 29px;
  height: 29px;
}
body.contraste #portalredes-soundcloud {
  background-image: url(img/sprite.png);
  background-position: -240px -58px;
  width: 29px;
  height: 29px;
}
body.contraste #portalredes-rss {
  background-image: url(img/sprite.png);
  background-position: -116px -194px;
  width: 29px;
  height: 29px;
}
body.contraste #portalredes-instagram {
  background-image: url(img/sprite.png);
  background-position: -29px -194px;
  width: 29px;
  height: 29px;
}
body.contraste #portalredes-tumblr {
  background-image: url(img/sprite.png);
  background-position: -240px -116px;
  width: 29px;
  height: 29px;
}
html body.contraste #portal-footer .coluna-menu .rodape-navigation li.plain.dropdown-submenu:after,
html body.contraste #wrapper #main #main-content #content *,
html body.contraste .nitf-basic-tile .share .share-more:before {
  color: #fff !important;
  border-color: #fff !important;
}
html body.contraste #content #content-core .visao-servico .anchors,
html body.contraste #content #content-core .visao-servico .canais-atendimento .cards li,
html body.contraste #content #content-core .visao-servico .informacao-foi-util,
html body.contraste .nitf-basic-tile .share .share-more:after,
html body.contraste.portaltype-collective-cover-content #content .numeros-governo,
html body.contraste.portaltype-collective-cover-content #content .servicos-em-destaque,
html body.contraste.portaltype-collective-cover-content #main #main-content #content .linha-destacada.fundo-azul,
html
  body.contraste.portaltype-collective-cover-content
  #main-content
  #content
  .busca-destaque-home
  .input-wrapper
  input,
html body.contraste.portaltype-collective-cover-content .lista-servicos .itens .list-item,
html body.contraste.section-pagina-inicial #content .numeros-governo,
html body.contraste.section-pagina-inicial #content .servicos-em-destaque,
html body.contraste .section-pagina-inicial #main #main-content #content .linha-destacada.fundo-azul,
html body.contraste .section-pagina-inicial #main-content #content .busca-destaque-home .input-wrapper input,
html body.contraste.section-pagina-inicial .lista-servicos .itens .list-item,
html body.contraste .servicos-em-destaque .itens .list-item,
html body.contraste header#header {
  background: #000 !important;
}
html body.contraste .lista-servicos.responsive .sliderControlBar .sliderControlBarTotal .sliderControlBarDial {
  background: #fff !important;
}
html body.contraste .fa-assistive-listening-systems:before,
html body.contraste .header-accessibility li a.link-contraste i.fas:before,
html body.contraste .language-selection > a.currentLanguage:after {
  -webkit-filter: invert(1);
  filter: invert(1);
}
html body.contraste .language-selection {
  background: inherit !important;
}
html body.contraste .site-header-links .link-acesso,
html body.contraste .site-header-links .link-acesso span {
  color: #fff !important;
  background: #000;
}
html body.contraste.template-listar_categorias #wrapper #content #content-core .menu-servicos .tabela-servicos {
  background: #222 !important;
}
html
  body.contraste.template-listar_categorias
  #wrapper
  #content
  #content-core
  .menu-servicos
  .tabela-servicos
  .level-1.open
  li.active
  a,
html
  body.contraste.template-listar_categorias
  #wrapper
  #content
  #content-core
  .menu-servicos
  .tabela-servicos
  .level-1.open
  li.active
  a
  .icon,
html
  body.contraste.template-listar_categorias
  #wrapper
  #content
  #content-core
  .menu-servicos
  .tabela-servicos
  .level-1.open
  li
  a
  .icon,
html
  body.contraste.template-listar_categorias
  #wrapper
  #content
  #content-core
  .menu-servicos
  .tabela-servicos
  .level-2 {
  background: #444 !important;
}
html
  body.contraste.template-listar_categorias
  #wrapper
  #content
  #content-core
  .menu-servicos
  .tabela-servicos
  .level-3
  li
  a:hover {
  color: #000 !important;
}
html
  body.contraste.template-listar_categorias
  #wrapper
  #content
  #content-core
  .menu-servicos
  .tabela-servicos
  .level-3 {
  background: #666 !important;
}
html body.contraste #main-navigation .submenu {
  background: #222;
}
html body.contraste #main-navigation .submenu .submenu {
  background: #393939;
}
html body.contraste .main {
  background: transparent !important;
}
html body.contraste .cover-list-tile.servicos-em-destaque-govbr .itens,
html body.contraste .cover-list-tile.servicos-mais-acessados .itens,
html body.contraste .govbr-history-render,
html body.contraste .recom-list,
html body.contraste .viewlet-institucionais-servicos-govbr {
  background-color: #000 !important;
}
html body.contraste .categoria-container .categoria,
html body.contraste .govbr-history-render .history-list ul li .month,
html body.contraste .govbr-history-render .history-list ul li .month:before,
html body.contraste .govbr-recom-render h2:before,
html body.contraste .tile-header h3:before,
html body.contraste .viewlet-institucionais-servicos-govbr a:before {
  color: #fff !important;
}

html body.contraste .breadcrumb {
  background-color: #000;
}
html body.contraste .card {
  background-color: #000;
  border: 1px solid #fff;
}
html body.contraste .btn-link {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
html body.contraste .site-header-links .head-menu-links ul {
  background-color: #000;
}
html body.contraste #sidebar-wrapper {
  border: 1px solid #fff;
  background: #000;
}
html body.contraste .nav-side-menu {
  background-color: #000;
  color: #fff;
}
html body.contraste .nav-side-menu .sub-menu li,
html body.contraste .nav-side-menu .sub-menu li {
  background-color: #000;
  border-bottom: 1px solid #fff;
}
html body.contraste .nav-side-menu ul .active,
html body.contraste .nav-side-menu li .active {
  border-left: 3px solid #fff;
  background-color: #000;
}
html body.contraste .dropdown-menu {
  background-color: #000;
}

html body.contraste #cursos-tabs .nav-tabs .nav-item.show .nav-link, 
html body.contraste #cursos-tabs .nav-tabs .nav-link.active {
  color: #FFFFFF !important;
  background-color: #000 !important;
  border-bottom: 2px solid #FFF !important;
}

html body.contraste .badiu-grid-cards .card-content {
  background-color: #000;
}

/* CONTRASTE ACESSABILIDADE*/





