
@media (min-width: 800px) {
    .ecommerce-shopping{
        margin-left: 15%;
		margin-right: 15%; 
    } 
} 
@media (max-width: 800px) {
    .ecommerce-shopping{
        margin-left: 1px;
		margin-right: 1px;  
    }
}

.ecommerce-shopping .card{
	height: auto;
}