
{# empty Twig template #}

{% block badiufilterdate_widget %}
    {% spaceless %}

        <div class="col-lg-12"style="padding: 0px;">
            <div class="col-lg-4">
                {{ form_errors(form.badiudateoperator) }}
                {{ form_widget(form.badiudateoperator,{ 'attr': {'class': ' form-control '} }) }}
            </div>
            <div class="col-lg-3">
              
                    {{ form_errors(form.badiudate1) }}
                    {{ form_widget(form.badiudate1,{ 'attr': {'class': form.badiudate1.vars.attr.class, 'placeholder':form.badiudate1.vars.label} }) }}
                  
                  
            </div>
            <div id="option-data1">
                <div class="col-lg-3">
                    

                        {{ form_errors(form.badiudate2) }}
                        {{ form_widget(form.badiudate2,{ 'attr': {'class': form.badiudate1.vars.attr.class, 'placeholder':form.badiudate2.vars.label} }) }}
                       
                    </div>
                </div>
          </div>
        </div><!-- /.col-lg-6 -->
<br>

    {% endspaceless %}
{% endblock %}

