{# empty Twig template #}

{% block badiuhtml_widget %}
    {% spaceless %}

        <div class="col-lg-12">
           <a href="#">Teste Badiu</a>
            <!--<div class="col-lg-2">
                {{ form_errors(form.badiuhtml) }}           
                {{ form_widget(form.badiuhtml,{ 'attr': {'class': 'form-control', 'placeholder':form.badiuhtml.vars.label} }) }}
            </div>
        -->
          
        </div><!-- /.col-lg-6 -->


    {% endspaceless %}
{% endblock %}