{# empty Twig template #}
<!--
{% block badiuchoice2text_widget %}
    {% spaceless %}

        <div class="col-lg-12">
            <div class="col-lg-2">
                {{ form_errors(form.field1) }}
                {{ form_widget(form.field1,{ 'attr': {'class': ' form-control '} }) }}
            </div>
            <div class="col-lg-2">
                {{ form_errors(form.field2) }}           
                {{ form_widget(form.field2,{ 'attr': {'class': 'form-control', 'placeholder':form.field2.vars.label} }) }}
            </div>
            <div class="col-lg-4">
                {{ form_errors(form.field3) }}
                {{ form_widget(form.field3, { 'attr': {'class': 'form-control', 'placeholder':form.field3.vars.label} }) }}
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->


    {% endspaceless %}
{% endblock %}

-->


{% block badiuchoice2tex_widget %}
    {% spaceless %}

        <div class="col-lg-12">
            <div class="col-lg-2">
                {{ form_errors(form.field1) }}
                {{ form_widget(form.field1,{ 'attr': {'class': ' form-control '} }) }}
            </div>
            <div class="col-lg-3">
                <div  class="input-group badiudatetime">
                    {{ form_errors(form.field2) }}           
                    {{ form_widget(form.field2,{ 'attr': {'class': 'form-control', 'placeholder':form.field2.vars.label} }) }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div id="option-data">
                <div class="col-lg-4">
                     <div  class="input-group badiudatetime">
                        <span class="until">até</span>
                        {{ form_errors(form.field3) }}           
                        {{ form_widget(form.field3,{ 'attr': {'class': 'form-control', 'placeholder':form.field3.vars.label} }) }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
          </div>
        </div><!-- /.col-lg-6 -->


    {% endspaceless %}
{% endblock %}