{# empty Twig template #}


{% block badiuchoicetext_widget %}
    
        {% spaceless %}

        <div class="col-lg-12"> 
            <div class="col-lg-3">
                {{ form_errors(form.field1) }}
                {{ form_widget(form.field1,{ 'attr': {'class': 'form-control', 'placeholder':form.field1.vars.label} }) }}
            </div>

            <div class="col-lg-9">

                    {{ form_errors(form.field2) }}
                {{ form_widget(form.field2) }}


            </div>

        </div><!-- /.col-lg-6 -->


    {% endspaceless %}
    
{% endblock %}