
{# empty Twig template #}

{% block badiufilternumber_widget %}
    {% spaceless %}
       <div>
        <div class="col-lg-12">
            <div class="col-lg-2">
                {{ form_errors(form.badiunumberoperator) }}
                {{ form_widget(form.badiunumberoperator,{ 'attr': {'class': ' form-control '} }) }}
            </div>
            <div class="col-lg-3">
              
                    {{ form_errors(form.badiunumber1) }}
                    {{ form_widget(form.badiunumber1,{ 'attr': {'class': form.badiunumber1.vars.attr.class, 'placeholder':form.badiunumber1.vars.label} }) }}
                  
                  
            </div>
         
                <div class="col-lg-3">
                    

                        {{ form_errors(form.badiunumber2) }}
                        {{ form_widget(form.badiunumber2,{ 'attr': {'class': form.badiunumber1.vars.attr.class, 'placeholder':form.badiunumber2.vars.label} }) }}
                       
                    </div>
                
          </div>
        </div><!-- /.col-lg-6 -->
<br>

    {% endspaceless %}
{% endblock %}

