{# empty Twig template #}

{% block badiutimeperiod_widget %}
    {% spaceless %}

        <div class="col-lg-12" style="padding: 0px;">
            <div class="col-lg-4">
                {{ form_errors(form.number) }}
                {{ form_widget(form.number,{ 'attr': {'class': 'form-control', 'placeholder':form.number.vars.label} }) }}
            </div>

            <div class="col-lg-8" style="padding-right:0px;">

                {{ form_errors(form.unittime) }}
                {{ form_widget(form.unittime,{ 'attr': {'class': ' form-control '} }) }}


            </div>

        </div><!-- /.col-lg-6 -->


    {% endspaceless %}
{% endblock %}
