{# empty Twig template #}

{% block badiutimehour_widget %}
    {% spaceless %}

        <div class="col-lg-12"> 
            <div class="col-lg-2">
                {{ form_errors(form.badiutimehour) }}
                {{ form_widget(form.badiutimehour,{ 'attr': {'class': 'form-control', 'placeholder':form.badiutimehour.vars.label} }) }}
            </div>

            <div class="col-lg-10">

                    {{ form_errors(form.badiutimeminute) }}
                {{ form_widget(form.badiutimeminute,{ 'attr': {'class': ' form-control '} }) }}


            </div>

        </div><!-- /.col-lg-6 -->


    {% endspaceless %}
{% endblock %}