{% block badiudfilterhour2choice_widget %}
    {% spaceless %}

        <div class="col-lg-12">
            <div class="col-lg-2">
                {{ form_errors(form.labelchoice1) }}
                {{ form_widget(form.labelchoice1,{ 'attr': {'class': ' form-control '} }) }}
            </div>
         <div class="col-lg-2">
                {{ form_errors(form.labelchoice2) }}
                {{ form_widget(form.labelchoice2,{ 'attr': {'class': ' form-control '} }) }}
            </div>


        </div><!-- /.col-lg-6 -->


    {% endspaceless %}
{% endblock %}