
	/* Variable definitions Calendar template */

    /* sets of properties that defines the compromise and stylized screen */

	/* body */

	body {
		margin: 0;  
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#script-warning {     
		display: none;
		background: #eee;
		border-bottom: 1px solid #ddd;
		padding: 0 10px;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		color: red;
	}

	
	#loading {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	span a.all {
    padding: 0 0 0 8px;
	}
	.event-expand {
	    margin: 2px;
	}
	.icon-desc {          
	    position: relative;
	    top: -7px;
	}

	.border td{
		border: none;
	}
