{# src/Badiu/System/BadiuSystemUserBundle/views/User/view.html.twig #}



      <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 header_content">
                    
                        {% if  page.data['badiu_list_data_rows'][1] is defined %} 
                                {{ dump( page.data['badiu_list_data_rows'][1]) }}
                        {% endif %}
                    
                    <h2>  
                        {% if  page.data['badiu_list_data_row'][1]['name'] is defined %} 
                                {{  page.data['badiu_list_data_row'][1]['name'] }}
                        {% endif %}</h2>
                        
                       
                    <div class="firsttexte">
                        <p> {{ 'badiu.system.user.user.cpf'|trans }} 
                              {% if  page.data['badiu_list_data_row'][1]['docnumber'] is defined %} 
                                {{  page.data['badiu_list_data_row'][1]['docnumber'] }}
                        {% endif %}</h2>
                         <p> {{ 'badiu.system.user.user.email'|trans }}: 
                              {% if  page.data['badiu_list_data_row'][1]['email'] is defined %} 
                                {{  page.data['badiu_list_data_row'][1]['email'] }}
                        {% endif %}</h2>
                        </p>
                    </div>
                    
               
                </div>
            </div>
        </div>
        <div class="container-fluid">

            <div class="col-md-12">
                <div class="row btn_icon">
                    <div class="span12 icons">
                        <p class="accordion-expand-holder">
                            <a class="accordion-expand-all" href="#">Expandir tudo</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="accordion">
                        
                         <!-- Loop badiu_list_data_rows for each row occordion  -->
                       {% if  page.data['badiu_list_data_rows'] is defined %} 
       
                            {% set count = 1 %}
                            {% for item in page.data['badiu_list_data_rows'] %}
                                    
                             <div class="ticketquestion">
                                <div class="headerleft">{{ count }}</div>
                                <div class="headerright"><span>xx</span></div>
                              </div>
                                
                              <div class="colapse">
                                    <p>{{ dump( page.data['badiu_list_data_rows'][count]) }}</p>
                              </div>
                                 {% set count = count + 1 %}
                             {% endfor %}
                        {% endif %}
                       
                        
                       
                       
                     
                     
                    </div>
                </div>
            </div> <!-- end of row-->

         
        </div>

        <script type="text/javascript">
            var options = 'lastopen';
        </script>