{# src/Badiu/Ams/BadiuAmsCurriculumBundle/views/Default/section.html.twig #}

xxxxx
  
<div class="course-content col-xs-12" id="">
  
  <ul class="weeks" id="">
 
 {% if page.data['badiu_list_data_row'][1]['numsections'] is defined %}
  {% set sections = page.data['badiu_list_data_row'][1]['numsections'] %} 
    {% for i in 1..sections %}
      <li aria-label="topic-{{i}}" role="region" class="section main clearfix" id="section-{{i}}">
      <div class="content" id="content">
        <h3 class="sectionname accesshide"> {{i}}° Período </h3>
        <div class="row"></div>
        <div class="row">
       
        </div>
        <ul class="section" id="#section">

        </ul> 
      </div>
      <div class="row">
        <a href="{{ url('badiu.ams.curriculum.discipline.add',{'parentid': parentid})}}" ><i class="fa fa-plus"></i>Adicionar disciplina</a>
      </div>
    </li>
    {% endfor %}
   {% endif %}  
  </ul>
</div>

<!-- modal choices -->
<div id="modal-choice" class="modal-choice fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="content">
          <div class="col-md-12 choice">
            <form class="form-horizontal" action="#" method="post">
              <ul class="list-group">
                <li class="list-group-item ">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="radio-choice" value="1" alt="adicionar informacao">
                      Assignment
                    </label>
                  </div>
                </li>
                <li class="list-group-item ">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="radio-choice" value="2" alt="adicionar informacao">
                      Assignment
                    </label>
                  </div>
                </li>
                <li class="list-group-item ">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="radio-choice" value="3" alt="adicionar informacao">
                      Assignment
                    </label>
                  </div>
                </li>
              </ul>
            </form>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary add">Adicionar</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- modal choices -->

