{# src/Badiu/System/UserBundle/Resources/views/Default/address_form_role.html.twig #}

<script>

    jQuery(function($){
		 $("#badiu_system_core_form_type_cep").mask("99.999-999");
            getAndSetValue();

    function getAndSetValue(){

        var surl="{{app.request.getSchemeAndHttpHost()}}"+"{{ path('badiu.system.core.service.process')}}";
		$('#badiu_system_core_form_type_cep').keyup(function () {
		var number =   $('#badiu_system_core_form_type_cep').val();
		var cep = number.replace(/[^0-9]/g, '');

        //count lenght in input cep
        var n = cep.length;

        //if number keyup is more than 5
        if(n >= 8){
            $.ajax({
                type: "GET",
                url: surl,
                data: {_service:'badiu.system.core.functionality.report.service',
                bkey:'badiu.util.address.defaultsearchcep',
                _function:'dashboard',
                gsearch:cep
				},
				// function to success
                success: function(data) {
                    
                            $("#badiu_system_core_form_type_stateid").val(data.message.row[1].stateid);
							$("#badiu_system_core_form_type_city").val(data.message.row[1].city);
                            $("#badiu_system_core_form_type_address").val(data.message.row[1].address);
							$("#badiu_system_core_form_type_neighborhood").val(data.message.row[1].neighborhood);
						},
                        dataType: "json"
                        });
                }});

                }
			});

</script>


