#header{
	height:100px;
	padding: 8px;
  	background-color: #f8f6f6;
}
 

#header div {
	color: #ffffff;
}

  
#footer{
  	background-color: #f8f6f6;
} 

#footer #copyright p {
	color: #f8f6f6;
}

.breadcrumb { 
	 margin-top: 15px;
}
.fixed-top .logo {
	    margin-top: 16px;
}
.fixed-top h3 {
	    margin-top: 9px;
		display: inline-block;
		padding-left: 5px;
}

#sidebar-wrapper .list-group-item:last-child {
	border-color: #6f42c1;
}
.list-group-item:last-child {
	border-color: #815cc478!important;
}

.fixed-top h3 {
	color: #6f42c1;
}