{# src/Badiu/Ams/CourseBundle/Resources/viewsOffer/sybc_moodle.html.twig #}

{% include 'BadiuAmsCoreBundle:Lms:sync_moodle.html.twig' %}

<script> 
//https://github.com/biggora/bootstrap-ajax-typeahead
//https://swiftype.com/documentation/tutorials/typeahead-js-part1
autoComplete();
mdlContext();


function getServiceUrl(query){
    var moodleid = $("#badiu_system_core_form_type_sserviceid").val();
    
    var surl="{{ path('badiu.system.core.service.process')}}";
    var url="{{app.request.getSchemeAndHttpHost()}}"+surl;
    var key="course.category.getlisttree";
    var name=query;
    var param="?_service=badiu.system.core.functionality.search&_function=searchWebService";
    var id=getIdContextParent();
    if(empty(name)){name="";}
        
     param=param+"&_serviceid="+moodleid;
     param=param+"&key="+key;
     param=param+"&id="+id;
     param=param+"&name="+name;
    url=url+param;
    
    return url;
}
 
 function getParam(){
    
     var key="course.category.getlisttree";
     var id=getIdContextParent();
    
     var param=""
      param=param+"&key="+key;
      param=param+"&id="+id;
     return param;
    }
   
  function getIdContextParent(){
     var id="";
     return id;
    }
function mdlContext(){
     //on load
  $(document).ready(function() {
     var moodleid = $("#badiu_system_core_form_type_sserviceid").val();
            if(moodleid > 0){
            $("#badiu_system_core_form_type_lmscontextid").attr('disabled',false);
          }else{
             $("#badiu_system_core_form_type_lmscontextid").attr('disabled',true);
           }
     
    });
    //on change sserviceid
      $('#badiu_system_core_form_type_sserviceid').change(function() {
         var moodleid = $("#badiu_system_core_form_type_sserviceid").val();
         if(moodleid > 0){
             $("#badiu_system_core_form_type_lmscontextid").attr('disabled',false);
          
          }else{
              $("#badiu_system_core_form_type_lmscontextid").attr('disabled',true);
        }
      
      });
      
      //on edit
      $(document).ready(function() {
     var lmssynctype = $("#badiu_system_core_form_type_lmssynctype").val();
     var lmscontextid = $("#badiu_system_core_form_type_lmscontextid").val();
     var route ="{{app.request.get('_route') }}";
     
        if(lmssynctype=='replicationdatainlms' && route=='badiu.ams.course.offer.edit' && !empty(lmscontextid)){
            $("#badiu_system_core_form_type_lmscontextid").attr('disabled',true);
        }
      else if(lmssynctype=='syncwithcreateddatainlms' && route=='badiu.ams.course.offer.edit' && !empty(lmscontextid)){
            $("#badiu_system_core_form_type_lmssynctype").attr('disabled',true);
        }
    });
  
        //on change lmssynctype
      $('#badiu_system_core_form_type_lmssynctype').change(function() {
         var lmscontextid = $("#badiu_system_core_form_type_lmscontextid").val();
         var lmssynctype = $("#badiu_system_core_form_type_lmssynctype").val();
         var route ="{{app.request.get('_route') }}";
         
        if(lmssynctype=='replicationdatainlms' && route=='badiu.ams.course.offer.edit' && !empty(lmscontextid)){
            $("#badiu_system_core_form_type_lmscontextid").attr('disabled',true);
        }else if(lmssynctype=='syncwithcreateddatainlms'  && route=='badiu.ams.course.offer.edit'){
           $("#badiu_system_core_form_type_lmscontextid").attr('disabled',false);
        }
      
      });
    }


    
</script> 
   
