#header{
	height:100px;
	padding: 8px;
  	background-color: #002060;
}
 

#header div {
	color: #FFFFFF; 
}

  
#footer{
  	background-color: #002060;
} 

#footer #copyright p {
	color: #FFFFFF; 
}

.breadcrumb { 
	 margin-top: 15px;
}
.fixed-top .logo {
	    margin-top: 16px;
}
.fixed-top h3 {
	    margin-top: 9px;
		display: inline-block;
		padding-left: 5px;
}

#sidebar-wrapper .list-group-item:last-child {
	border-color: #b9636359;
}