{# src/Badiu/System/UserBundle/Resources/views/User/Recoverpassword/confirm.html.twig #}

{% extends app.session.get('_badiu.system.data.session').theme~":Layout:message.html.twig" %}
 {% block message %}
     
     <br /><br />
     {% if page.data['badiu_list_data_row']['mailsend'] %}
       <div class="alert alert-success" role="alert"> {{ 'badiu.system.user.recoverpwd.messagemailsendsuccess'|trans }}</div>
      {% else %}
          <div class="alert alert-danger" role="alert"> {{ 'badiu.system.user.recoverpwd.messagemailsendfailed'|trans }}</div>
   {% endif %}
 {% endblock %}
