{# src/Badiu/System/UserBundle/Resources/views/User/recoverpassword.html.twig #}

<html>
<head>
<meta charset="UTF-8">

  <title></title>
</head>
<body>
    {% set url=app.request.getSchemeAndHttpHost()~path('badiu.system.user.recoverpwdchange.add', {'cpwtoken': recoverykey})%}
    {% set link='<a href="'~url~'"  target = "_blank" >'~url~'</a>'%}
    {{ 'badiu.system.user.recoverpwd.messagemailcontent'|trans({'%link%': link})|raw }}
</body>
</html>
